{% extends "modals/modal.html.twig" %}

{% block modal_title %}{{translate('ORDER.PAYMENT_DETAILS')}}{% endblock %}

{% block modal_body %}
    {% include "forms/order/payment.html.twig" %}
{% endblock %}
