<form class="js-form" method="{{form.method | default('POST')}}" action="{{site.uri.public}}/{{form.action}}">
    {% include "forms/csrf.html.twig" %}
    <div class="js-form-alerts">
    </div>
    <div class="row">
        {% if 'parent_id' not in form.fields.hidden %}
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{translate("CATEGORY.PARENT")}}</label>
                <select id="input-group" class="form-control js-select2" name="parent_id">
                    <option selected value="">None</option>
                    {% for c in category_list %}
                        {% set catID = c.id|replace({'cat-': ''}) %}
                        <option value="{{c.id}}"{% if category.category_id == catID %} selected{% endif %}>{{c.name}}</option>
                        {% for s in c.subs %}
                            <option value="{{s.id}}"{% if category.parent_id == s.id %} selected{% endif %}>- {{s.name}}</option>
                            {% for s in s.subs %}
                                <option value="{{s.id}}"{% if category.parent_id == s.id %} selected{% endif %}>- - {{s.name}}</option>
                                {% for s in s.subs %}
                                    <option value="{{s.id}}"{% if category.parent_id == s.id %} selected{% endif %}>- - - {{s.name}}</option>
                                    {% for s in s.subs %}
                                        <option value="{{s.id}}"{% if category.parent_id == s.id %} selected{% endif %}>- - - - {{s.name}}</option>
                                        {% for s in s.subs %}
                                            <option value="{{s.id}}"{% if category.parent_id == s.id %} selected{% endif %}>- - - - - {{s.name}}</option>
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row">
        {% if 'name' not in form.fields.hidden %}
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{translate("CATEGORY.NAME")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="name" autocomplete="off" value="{{category.name}}" placeholder="{{translate("CATEGORY.NAME_EXPLAIN")}}" {% if 'name' in form.fields.disabled %}disabled{% endif %}>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row">
        {% if 'name' not in form.fields.hidden %}
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{translate("CATEGORY.FEE")}} (%)</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                    <input type="number" class="form-control" name="fee" autocomplete="off" value="{{category.fee}}" {% if 'fee' in form.fields.disabled %}disabled{% endif %}>
                </div>
            </div>
        </div>
        {% endif %}
    </div><br />
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <button type="submit" class="btn btn-block btn-lg btn-success">{{form.submit_text}}</button>
        </div>
        <div class="col-xs-4 col-sm-3 pull-right">
            <button type="button" class="btn btn-block btn-lg btn-link" data-dismiss="modal">{{translate("CANCEL")}}</button>
        </div>
    </div>
</form>
<!-- Include validation rules -->
<script>
{% include "pages/partials/page.js.twig" %}
</script>
