<form class="js-form" method="{{form.method | default('POST')}}" action="{{site.uri.public}}/{{form.action}}">
    {% include "forms/csrf.html.twig" %}
    <div class="js-form-alerts">
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{translate("ORDER.DATE")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                    <input type="text" class="form-control" autocomplete="off" value="{{order.created_at|date('m/d/Y H:i:s')}}" disabled>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{translate("STATUS")}}</label>
                <select id="input-group" class="form-control js-select2" name="status">
                    <option value="paid"{% if order.status == "paid" %} selected{% endif %}>Paid</option>
                    <option value="shipped"{% if order.status == "shipped" %} selected{% endif %}>Shipped</option>
                    <option value="cancelled"{% if order.status == "cancelled" %} selected{% endif %}>Cancelled</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        {% if 'amount_paid' not in form.fields.hidden %}
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{translate("ORDER.AMOUNT_PAID")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-money fa-fw"></i></span>
                    <input type="text" class="form-control" autocomplete="off" value="&#8353;{{order.payment.amount_paid|number_format(2,'.',',')}}" disabled>
                </div>
            </div>
        </div>
        {% endif %}
    </div><br />
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <button type="submit" class="btn btn-block btn-lg btn-success">{{form.submit_text}}</button>
        </div>
        <div class="col-xs-4 col-sm-3 pull-right">
            <button type="button" class="btn btn-block btn-lg btn-link" data-dismiss="modal">{{translate("CANCEL")}}</button>
        </div>
    </div>
</form>
<!-- Include validation rules -->
<script>
{% include "pages/partials/page.js.twig" %}
</script>
