<form class="js-form" method="{{form.method | default('POST')}}" action="{{site.uri.public}}/{{form.action}}">
    {% include "forms/csrf.html.twig" %}
    <div class="js-form-alerts">
    </div>
    <div class="row">
        {% if 'name' not in form.fields.hidden %}
        <div class="col-sm-6">
            <div class="form-group">
                <label>{{translate("PRODUCT.NAME")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="name" autocomplete="off" value="{{product.name}}" placeholder="{{translate("PRODUCT.NAME_EXPLAIN")}}" {% if 'name' in form.fields.disabled %}disabled{% endif %}>
                </div>
            </div>
        </div>
        {% endif %}
        {% if 'supplier_id' not in form.fields.hidden %}
        <div class="col-sm-6">
            <div class="form-group">
                <label>{{translate("SUPPLIER")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                    <select id="input-group" class="form-control js-select2" name="supplier_id">
                        <option selected disabled>Please select</option>
                        {% for supplier in supplier_list %}
                        <option value="{{supplier.id}}"{% if product.supplier_id == supplier.id %} selected{% endif %}>{{supplier.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        {% else %}
        <input type="hidden" name="supplier_id" value="{{product.supplier_id}}" />
        {% endif %}
        {% if 'price' not in form.fields.hidden %}
        <div class="col-sm-6">
            <div class="form-group">
                <label>{{translate("PRODUCT.ORIGINAL_PRICE")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-money fa-fw"></i></span>
                    <input type="text" class="form-control" name="price" autocomplete="off" value="{{product.price}}" {% if 'price' in form.fields.disabled %}disabled{% endif %}>
                </div>
            </div>
        </div>
        {% endif %}
        {% if 'discount_price' not in form.fields.hidden %}
        <div class="col-sm-6">
            <div class="form-group">
                <label>{{translate("PRODUCT.DISCOUNT_PRICE")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-money fa-fw"></i></span>
                    <input type="text" class="form-control" name="discount_price" autocomplete="off" value="{{product.discount_price}}" {% if 'discount_price' in form.fields.disabled %}disabled{% endif %}>
                </div>
            </div>
        </div>
        {% endif %}
        {% if 'quantity' not in form.fields.hidden %}
        <div class="col-sm-6">
            <div class="form-group">
                <label>{{translate("PRODUCT.QUANTITY")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="quantity" autocomplete="off" value="{{product.quantity}}" {% if product.variants|length > 0 %}disabled{% endif %}>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{translate("CATEGORY", 2)}}</label>
                <div class="searchable-checklist">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                        <input type="text" class="form-control searchable-check-input" name="search" />
                    </div>
                    <ul class="searchable-list">
                        {% for cat in category_list %}
                            {% set catID = cat.id|replace({'cat-': ''}) %}
                            <li data-term="{{cat.name}}">
                                <div class="input-group">
                                    <span class="input-group-addon"><input type="radio" class="top_level" name="category_id" value="{{catID}}" {% if product.category_id == catID %} checked{% endif %} /></span>
                                    <div class="searchable-info">
                                        <b>{{cat.name}}</b>
                                    </div>
                                </div>
                            </li>
                            {% for sub1 in cat.subs %}
                                <li data-term="{{cat.name}} {{sub1.name}}">
                                    <div class="input-group">
                                        <span class="input-group-addon"><input type="radio" name="subcategory_id" data-top-level="{{catID}}" value="{{sub1.id}}" {% if product.subcategory_id == sub1.id %} checked{% endif %} /></span>
                                        <div class="searchable-info">
                                            <b>{{cat.name}} > {{sub1.name}}</b>
                                        </div>
                                    </div>
                                </li>
                                {% for sub2 in sub1.subs %}
                                    <li data-term="{{cat.name}} {{sub1.name}} {{sub2.name}}">
                                        <div class="input-group">
                                            <span class="input-group-addon"><input type="radio" name="subcategory_id" data-top-level="{{catID}}" value="{{sub2.id}}" {% if product.subcategory_id == sub2.id %} checked{% endif %} /></span>
                                            <div class="searchable-info">
                                                <b>{{cat.name}} > {{sub1.name}} > {{sub2.name}}</b>
                                            </div>
                                        </div>
                                    </li>
                                    {% for sub3 in sub2.subs %}
                                        <li data-term="{{cat.name}} {{sub1.name}} {{sub2.name}} {{sub3.name}}">
                                            <div class="input-group">
                                                <span class="input-group-addon"><input type="radio" name="subcategory_id" data-top-level="{{catID}}" value="{{sub3.id}}" {% if product.subcategory_id == sub3.id %} checked{% endif %} /></span>
                                                <div class="searchable-info">
                                                    <b>{{cat.name}} > {{sub1.name}} > {{sub2.name}} > {{sub3.name}}</b>
                                                </div>
                                            </div>
                                        </li>
                                        {% for sub4 in sub3.subs %}
                                            <li data-term="{{cat.name}} {{sub1.name}} {{sub2.name}} {{sub3.name}} {{sub4.name}}">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><input type="radio" name="subcategory_id" data-top-level="{{catID}}" value="{{sub4.id}}" {% if product.subcategory_id == sub4.id %} checked{% endif %} /></span>
                                                    <div class="searchable-info">
                                                        <b>{{cat.name}} > {{sub1.name}} > {{sub2.name}} > {{sub3.name}} > {{sub4.name}}</b>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
<!--                         <li class="sl-selectall">
                            <div class="input-group">
                                <span class="input-group-addon"><input type="checkbox" class="selectall" /></span>
                                <div class="searchable-info">
                                    <i>{{translate("SELECT_ALL")}}</i>
                                </div>
                            </div>
                        </li> -->
<!--                         <li class="sl-cloneable">
                            <div class="input-group">
                                <span class="input-group-addon"><input type="checkbox" name="category[]" disabled /></span>
                                <div class="searchable-info">
                                    <b></b>
                                </div>
                            </div>
                        </li> -->
                    </ul>
<!--                     <div class="input-group sl-new-holder">
                        <span class="input-group-addon"><i class="fa fa-plus fa-fw"></i></span>
                        <input type="text" class="form-control sl-new-input" placeholder="{{translate("CATEGORY.CREATE_NEW")}}" />
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{translate("PRODUCT.DESCRIPTION")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                    <textarea class="form-control" name="description" autocomplete="off">{{product.description}}</textarea>
                </div>
            </div>
        </div>
        {% if 'featured' not in form.fields.hidden %}
        <div class="col-sm-4">
            <div class="form-group">
                <label>{{translate("PRODUCT.FEATURED")}}</label>
                <select id="input-group" class="form-control js-select2" name="featured">
                    <option value="0"{% if product.draft != 1 %} selected{% endif %}>No</option>
                    <option value="1"{% if product.draft == 1 %} selected{% endif %}>Yes</option>
                </select>
            </div>
        </div>
        {% endif %}
        {% if 'draft' not in form.fields.hidden %}
        <div class="col-sm-4">
            <div class="form-group">
                <label>{{translate("PRODUCT.DRAFT_STATUS")}}</label>
                <select id="input-group" class="form-control js-select2" name="draft">
                    <option value="1"{% if product.draft == 1 %} selected{% endif %}>Draft</option>
                    <option value="0"{% if product.draft != 1 %} selected{% endif %}>Complete</option>
                </select>
            </div>
        </div>
        {% endif %}
        {% if 'approved' not in form.fields.hidden %}
        <div class="col-sm-4">
            <div class="form-group">
                <label>{{translate("PRODUCT.APPROVAL_STATUS")}}</label>
                <select id="input-group" class="form-control js-select2" name="approved">
                    <option value="0"{% if product.approved != 1 %} selected{% endif %}>Pending</option>
                    <option value="1"{% if product.approved == 1 %} selected{% endif %}>Approved</option>
                </select>
            </div>
        </div>
        {% endif %}
    </div><br />
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <button type="submit" class="btn btn-block btn-lg btn-success">{{form.submit_text}}</button>
        </div>
        <div class="col-xs-4 col-sm-3 pull-right">
            <button type="button" class="btn btn-block btn-lg btn-link" data-dismiss="modal">{{translate("CANCEL")}}</button>
        </div>
    </div>
</form>
<!-- Include validation rules -->
<script>
{% include "pages/partials/page.js.twig" %}
</script>
