<form class="js-form" method="{{form.method | default('POST')}}" action="{{site.uri.public}}/{{form.action}}">
    {% include "forms/csrf.html.twig" %}
    <div class="js-form-alerts">
    </div>
    <div class="row">
        {% if 'name' not in form.fields.hidden %}
        <div class="col-sm-6">
            <div class="form-group">
                <label>{{translate("SUPPLIER.NAME")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="name" autocomplete="off" value="{{supplier.name}}" placeholder="{{translate("SUPPLIER.NAME_EXPLAIN")}}" {% if 'name' in form.fields.disabled %}disabled{% endif %}>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-sm-6">
            <div class="form-group">
                <label>{{translate("SUPPLIER.TYPE")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                    <select id="input-group" class="form-control js-select2" name="type">
                        <option value="private"{% if meta.type == 'private' %} selected{% endif %}>Private Seller</option>
                        <option value="organisation"{% if meta.type == 'organisation' %} selected{% endif %}>Organisation</option>
                    </select>
                </div>
            </div>
        </div>
        {% if 'rating' not in form.fields.hidden %}
        <div class="col-sm-6">
            <div class="form-group">
                <label>{{translate("SUPPLIER.RATING")}}</label>
                <input name="rating" type="hidden" value="{{supplier.rating}}" />
                <div class="supplier-star-rating editable">
                    <i class="fa fa-star{% if supplier.rating == "0" %}-o{% endif %} fa-fw"></i>
                    <i class="fa fa-star{% if supplier.rating <= 1 %}-o{% endif %} fa-fw"></i>
                    <i class="fa fa-star{% if supplier.rating <= 2 %}-o{% endif %} fa-fw"></i>
                    <i class="fa fa-star{% if supplier.rating <= 3 %}-o{% endif %} fa-fw"></i>
                    <i class="fa fa-star{% if supplier.rating <= 4 %}-o{% endif %} fa-fw"></i>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-sm-6">
            <div class="form-group">
                <label>{{translate("EMAIL")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="email" autocomplete="off" value="{{meta.email}}" placeholder="{{translate('EMAIL')}}" {% if 'email' in form.fields.disabled %}disabled{% endif %}>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>{{translate("SUPPLIER.PHONE")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="phone" autocomplete="off" value="{{meta.phone}}" placeholder="{{translate('SUPPLIER.PHONE')}}" {% if 'phone' in form.fields.disabled %}disabled{% endif %}>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>{{translate("SUPPLIER.CELL")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="cell_phone" autocomplete="off" value="{{meta.cell_phone}}" placeholder="{{translate('SUPPLIER.CELL')}}" {% if 'cell_phone' in form.fields.disabled %}disabled{% endif %}>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>{{translate("SUPPLIER.FAX")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="fax" autocomplete="off" value="{{meta.fax}}" placeholder="{{translate('SUPPLIER.FAX')}}" {% if 'fax' in form.fields.disabled %}disabled{% endif %}>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>{{translate("SUPPLIER.CONTACT")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="contact" autocomplete="off" value="{{meta.contact}}" placeholder="{{translate('SUPPLIER.CONTACT')}}" {% if 'contact' in form.fields.disabled %}disabled{% endif %}>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>{{translate("SUPPLIER.ADDRESS")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                    <textarea class="form-control" name="address" autocomplete="off" placeholder="{{translate('SUPPLIER.ADDRESS')}}" {% if 'address' in form.fields.disabled %}disabled{% endif %}>{{meta.address}}</textarea>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>{{translate("SUPPLIER.NOTES")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                    <textarea class="form-control" name="notes" autocomplete="off" placeholder="{{translate('SUPPLIER.NOTES')}}" {% if 'notes' in form.fields.disabled %}disabled{% endif %}>{{meta.notes}}</textarea>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <button type="submit" class="btn btn-block btn-lg btn-success">{{form.submit_text}}</button>
        </div>
        <div class="col-xs-4 col-sm-3 pull-right">
            <button type="button" class="btn btn-block btn-lg btn-link" data-dismiss="modal">{{translate("CANCEL")}}</button>
        </div>
    </div>
</form>
<!-- Include validation rules -->
<script>
{% include "pages/partials/page.js.twig" %}
</script>
