<form action="{{site.uri.public}}/supplier/products/edit_image/{{data.product_image.id}}" id="sign-in" method="post">
	{% include "forms/csrf.html.twig" %}
	<div class="img-bit">
		<div class="form-group has-feedback extrapadding floatlabel">
			<img src="{{site.uri.public}}/{{data.image.getURLBySize(140,140)}}" />
		</div>
	</div>
	<div class="details-bit">
		<div class="form-group has-feedback extrapadding">
			<label for="f_highlight">{{translate('PRODUCT.PHOTO_HIGHLIGHT')}} *</label>
			<select name="highlight" class="form-control" id="f_highlight">
				<option value="0"{% if data.product_image is defined and data.product_image.highlight == 0 %} selected{% endif %}>No</option>
				<option value="1"{% if data.product_image is defined and data.product_image.highlight == 1 %} selected{% endif %}>Yes</option>
			</select>
		</div>
		<div class="form-group has-feedback extrapadding floatlabel">
			<input type="text" class="form-control" name="caption" aria-required="true" aria-invalid="false" aria-describedby="user_name-error" id="f_caption" placeholder="{{translate('IMAGE.CAPTION')}}" value="{{data.product_image.caption}}">
			<label for="f_caption">{{translate('IMAGE.CAPTION')}}</label>
		</div>
	</div>
	<div class="row extrapadding">
		<button type="submit" class="btn-highlight btn-no-shadow edit-photo">{{translate('DONE')}}</button>
	</div>
</form>
<!-- Include validation rules -->
<script>
{% include "pages/partials/page.js.twig" %}
</script>