<form action="{{site.uri.public}}/account/login" id="sign-in" method="post" data-side-modal="login">
	<i class="fa fa-close side-link" data-popup="signup"></i>
	<div class="form-alerts" id="alerts-page"></div>
	<h2>{{translate('FRONTEND.WELCOME_BACK')}}</h2>
	<p>{{translate('FRONTEND.LOGIN_DESCRIPTION')}}</p>
	{% include "forms/csrf.html.twig" %}
	<div class="form-group has-feedback extrapadding floatlabel">
		<input type="text" class="form-control" placeholder="{% if site.login.enable_email %}{{translate('EMAIL_OR_USERNAME')}}{% else %}{{translate('USERNAME')}}{% endif %}" name="user_name" aria-required="true" aria-invalid="false" aria-describedby="user_name-error" id="f_user_name" autocomplete="new-password" required autofocus>
		<label for="f_user_name">{{translate('USERNAME')}} *</label>
	</div>
	<div class="form-group has-feedback floatlabel">
		<input type="password" class="form-control" placeholder="{{translate('PASSWORD')}}" name="password" aria-required="true" aria-invalid="false" aria-describedby="password-error" id="f_password" autocomplete="new-password" required>
		<label for="f_password">{{translate('PASSWORD')}} *</label>
	</div>
	<div class="row extrapadding">
		<p class="goleft"><a href="{{site.uri.public}}/account/forgot-password"><i>{{translate('PASSWORD.FORGET')}}</i></a></p>
		<label class="goright">
			<p>{{translate('FRONTEND.KEEP_SIGNED_IN')}}</p><input type="checkbox" name="rememberme" class="js-icheck"> 
		</label>
	</div>
	<div class="row extrapadding">
		<button type="submit" class="btn-highlight btn-no-shadow btn-large width-100">{{translate('LOGIN')}}</button>
	</div>
	<div class="row grey-line extrapadding">
		<span>{{translate('FRONTEND.LOGIN_OPTIONS')}}</span>
	</div>
	<div class="row social-login-options">
		<a href="#" class="fb">
			<i class="fa fa-facebook social-icon" aria-hidden="true"></i>
			Facebook
		</a>
		<a href="#" class="tw">
			<i class="fa fa-twitter social-icon" aria-hidden="true"></i>
			Twitter
		</a>
		<a href="#" class="gg">
			<i class="fa fa-google social-icon" aria-hidden="true"></i>
			Google
		</a>
	</div>
	<div class="row">
		<p>{{translate('FRONTEND.PUBLISH_YOUR_PRODUCTS')}} <a href="#">{{translate('FRONTEND.HERE')}}</a></p>
	</div>
</form>
<!-- Include validation rules -->
<script>
{% include "pages/partials/page.js.twig" %}
</script>