<div class="ly-modal-top login-switcher">
	<a class="button btn-faded left-borders btn-small-txt btn-no-shadow">{{translate('FRONTEND.SIGN_UP')}}</a>
	<a class="button btn-highlight right-borders btn-small-txt btn-selected btn-no-shadow">{{translate('FRONTEND.LOG_IN')}}</a>
</div>
<form action="{{site.uri.public}}/account/login" id="sign-in" method="post">
	<div class="form-alerts" id="alerts-page"></div>
	<h2>{{translate('FRONTEND.WELCOME_BACK')}}</h2>
	{% include "forms/csrf.html.twig" %}
	<div class="form-group has-feedback">
		<input type="text" class="form-control" placeholder="{% if site.login.enable_email %}{{translate('EMAIL_OR_USERNAME')}}{% else %}{{translate('USERNAME')}}{% endif %}" name="user_name">
		<i class="fa fa-user form-control-icon" aria-hidden="true"></i>
	</div>
	<div class="form-group has-feedback">
		<input type="password" class="form-control" placeholder="{{translate('PASSWORD')}}" name="password">
		<i class="fa fa-lock form-control-icon" aria-hidden="true"></i>
	</div>
	<div class="row">
<!-- 		<div class="col-xs-8">
			<div class="checkbox icheck">
				<label>
					<input type="checkbox" class="js-icheck" name="rememberme"> {{translate('REMEMBER_ME')}}
				</label>
			</div>
		</div> -->
		<!-- /.col -->
		<button type="submit" class="btn-highlight btn-arrow btn-no-shadow btn-large">{{translate('LOGIN')}}</button>
	</div>
	<div class="row grey-line">
		<span>{{translate('FRONTEND.LOGIN_OPTIONS')}}</span>
	</div>
	<div class="row social-login-options">
		<a href="#" class="fb">
			<i class="fa fa-facebook social-icon" aria-hidden="true"></i>
			Facebook
		</a>
		<a href="#" class="tw">
			<i class="fa fa-twitter social-icon" aria-hidden="true"></i>
			Twitter
		</a>
		<a href="#" class="li">
			<i class="fa fa-linkedin social-icon" aria-hidden="true"></i>
			LinkedIn
		</a>
	</div>
	<div class="row">
		<h4>{{translate('FRONTEND.PUBLISH_YOUR_PRODUCTS')}} <a href="#">{{translate('FRONTEND.HERE')}}</a></h4>
	</div>
</form>
<!-- 
<a href="{{site.uri.public}}/account/forgot-password">{{translate('PASSWORD.FORGET')}}</a><br>
 -->
<!-- Include validation rules -->
<script>
{% include "pages/partials/page.js.twig" %}
</script>