<form id="newsletter" method="post" data-side-modal="notified">
	<i class="fa fa-close side-link" data-popup="signup"></i>
	<div class="form-alerts" id="alerts-page"></div>
	<h2>{{translate('FRONTEND.KEEP_ME_NOTIFIED')}}</h2>
	<p>{{translate('FRONTEND.NOTIFY_DESCRIPTION')}}</p>
	{% include "forms/csrf.html.twig" %}
	<div class="form-group has-feedback extrapadding floatlabel">
		<input type="text" class="form-control" placeholder="{{translate('EMAIL')}} *" name="email" autocomplete="off" id="f_email">
		<label for="f_email">{{translate('EMAIL')}} *</label>
	</div>
	<div class="row extrapadding">
		<button type="submit" class="btn-highlight btn-no-shadow btn-large width-100">{{translate('FRONTEND.SUBSCRIBE')}}</button>
	</div>
</form>
<!-- Include validation rules -->
<script>
{% include "pages/partials/page.js.twig" %}
</script>