<form action="{{site.uri.public}}/account/register" id="register" method="post" data-side-modal="signup">
	<h2>{{translate('FRONTEND.SIGN_UP')}}</h2>
	<p>{{translate('FRONTEND.SIGN_UP_DESCRIPTION')}}</p>
	{% include "forms/csrf.html.twig" %}
	<div class="form-alerts" id="alerts-page"></div>
	<div class="form-group has-feedback floatlabel">
		<input type="text" class="form-control" placeholder="{{translate('USERNAME')}} *" name="user_name" autocomplete="off" id="f_user_name" required autofocus>
		<label for="f_user_name">{{translate('USERNAME')}} *</label>
	</div>
	<div class="form-group has-feedback floatlabel">
		<input type="text" class="form-control" placeholder="{{translate('EMAIL')}} *" name="email" autocomplete="off" id="f_email" required>
		<label for="f_email">{{translate('EMAIL')}} *</label>
	</div>
	<div class="form-group has-feedback floatlabel">
		<input type="password" class="form-control" placeholder="{{translate('PASSWORD')}} *" name="password" autocomplete="new-password" id="f_password" required>
		<label for="f_password">{{translate('PASSWORD')}} *</label>
	</div>
	<div class="form-group has-feedback floatlabel">
		<input type="password" class="form-control" placeholder="{{translate('CONFIRM')}} *" name="passwordc" autocomplete="new-password" id="f_confirm">
		<label for="f_confirm">{{translate('CONFIRM')}} *</label>
	</div>
	<div class="row extrapadding">
		<p class="goleft">{{translate('FRONTEND.REQUIRED_FIELDS')}}</p>
		<label class="goright">
			<p>
			{{translate('FRONTEND.ACCEPT_TERMS')}}<a href="{{site.uri.public}}/terms">{{translate('FRONTEND.TERMS_AND_CONDITIONS')}}</a></p><input type="checkbox" name="accept_terms" class="js-icheck"> 
		</label>
	</div>
	<div class="row extrapadding">
		<button type="submit" class="btn-highlight btn-no-shadow btn-large width-100">{{translate('FRONTEND.SIGN_ME_UP')}}</button>
	</div>
	<div class="collapse">
        <label>Spiderbro</label>
        <input name="spiderbro" id="spiderbro" value="http://"/>
    </div>
	<div class="row grey-line extrapadding">
		<span>{{translate('OR')}}</span>
	</div>
	<div class="row extrapadding">
		<a class="button btn-grey btn-no-shadow btn-large width-100 side-link" data-popup="login">{{translate('FRONTEND.LOG_IN')}}</a>
	</div>
	<div class="row extrapadding">
		<p class="goright">
			<a href="{{site.uri.public}}/account/forgot-password"><i>{{translate('PASSWORD.FORGET')}}</i></a>
		</p>
	</div>
</form>

<!-- Include validation rules -->
<script>
{% include "pages/partials/page.js.twig" %}
</script>