<!-- Logo -->
{% block navbar_logo %}
<a href="{{site.uri.public}}/account/login" class="logo">
</a>
{% endblock %}
<!-- Header Navbar: style can be found in header.less -->
<nav class="front-nav">
{% if current_user.id > 0 %}
	
{% else %}
	<a class="button side-link btn-highlight btn-no-shadow" data-popup="login">Log in</a>
	<a class="button side-link btn-highlight btn-no-shadow" data-popup="signup">Sign up</a>
{% endif %}
</nav>