<div class="site-container">
	{% block navbar_logo %}
	<a class="logo load-page" data-url="">
	</a>
	{% endblock %}
	<a class="menu-icon">
		<div class="hamburger">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<p>{{translate('FRONTEND.MENU')}}</p>
	</a>
	<div class="hp-timer timer" data-seconds="{{countdown.secsTilNext}}">
		<div class="timer-container">
			<div class="timer-sect">
		    	<h2 class="hours">
		    		{{countdown.hours}}
		    	</h2>
		    	<p>{{translate('FRONTEND.COUNTDOWN.HOURS')|lower}}</p>
		    </div>
		    <div class="timer-sect">
		    	<h2 class="minutes">
		    		{{countdown.minutes}}
		    	</h2>
		    	<p>{{translate('FRONTEND.COUNTDOWN.MINUTES')|lower}}</p>
		    </div>
		    <div class="timer-sect last">
		    	<h2 class="seconds">
		    		{{countdown.seconds}}
		    	</h2>
		    	<p>{{translate('FRONTEND.COUNTDOWN.SECONDS')|lower}}</p>
		    </div>
	    </div>
	</div>
	<nav class="navbar">
		{% include "navigation/site-navbar.html.twig" %}
	</nav>
</div>
