<!-- Logo -->
{% block navbar_logo %}
<a href="{{site.uri.public}}/account/login" class="logo">
  <img src="{{ assets.url('assets://img/logo.png') | raw }}"  alt=""></span>
</a>
{% endblock %}
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top">
	
  <!-- Sidebar toggle button-->
  <!-- Main nav buttons -->
</nav>