<ul>
	<li>
		<a class="load-page" data-url="supplier">
			<i class="fa fa-home"></i> {{translate('FRONTEND.HOME')}}
		</a>
	</li>
	<li>
		<a class="load-page" data-url="supplier/orders">
			<i class="fa fa-shopping-cart"></i> {{translate('ORDER', 2)}}
		</a>
	</li>
	<li>
		<a class="load-page" data-url="supplier/products">
			<i class="fa fa-gift"></i> {{translate('PRODUCT', 2)}}
		</a>
		<ul>
			<li>
				<a class="load-page" data-url="supplier/products">
					{{translate('ALL')}} {{translate('PRODUCT', 2)|lower}}
				</a>
			</li>
			<li>
				<a class="load-page" data-url="supplier/products/inventory">
					{{translate('SUPPLIER_AREA.INVENTORY.TITLE')}}
				</a>
			</li>
		</ul>
	</li>
	<li>
		<a class="load-page" data-url="supplier/analytics">
			<i class="fa fa-line-chart"></i> {{translate('ANALYTICS')}}
		</a>
	</li>
</ul>