{% block sidebar_user %}
    {% include 'navigation/sidebar-user.html.twig' %}
{% endblock %}

{% block sidebar_menu %}
<ul class="sidebar-menu">
    {% include 'navigation/sidebar-menu.html.twig' %}
</ul>
{% endblock %}