{% block navigation %}
    {% if checkAccess('uri_dashboard') %}
    <li>
        <a href="{{site.uri.public}}/admin"><i class="fa fa-dashboard fa-fw"></i> <span>{{ translate("DASHBOARD") }}</span></a>
    </li>
    {% endif %}
    {% if checkAccess('uri_products') %}
    <li>
        <a href="{{site.uri.public}}/admin/products"><i class="fa fa-gift fa-fw"></i> <span>{{ translate("PRODUCT", 2) }}</span></a>
    </li>
    {% endif %}
    {% if checkAccess('uri_countdowns') %}
    <li>
        <a href="{{site.uri.public}}/admin/countdowns"><i class="fa fa-clock-o fa-fw"></i> <span>{{ translate("COUNTDOWN", 2) }}</span></a>
    </li>
    {% endif %}
    {% if checkAccess('uri_deals') %}
<!--     <li>
        <a href="{{site.uri.public}}/admin/deals"><i class="fa fa-cart-arrow-down fa-fw"></i> <span>{{ translate("DEAL", 2) }}</span></a>
    </li> -->
    {% endif %}
    {% if checkAccess('uri_categories') %}
    <li>
        <a href="{{site.uri.public}}/admin/categories"><i class="fa fa-book fa-fw"></i> <span>{{ translate("CATEGORY", 2) }}</span></a>
    </li>
    {% endif %}
    {% if checkAccess('uri_suppliers') %}
    <li>
        <a href="{{site.uri.public}}/admin/suppliers"><i class="fa fa-briefcase fa-fw"></i> <span>{{ translate("SUPPLIER", 2) }}</span></a>
    </li>
    {% endif %}
    {% if checkAccess('uri_orders') %}
    <li>
        <a href="{{site.uri.public}}/admin/orders"><i class="fa fa-shopping-cart fa-fw"></i> <span>{{ translate("ORDER", 2) }}</span></a>
    </li>
    {% endif %}
    {% if checkAccess('uri_users') %}
    <li>
        <a href="{{site.uri.public}}/customers"><i class="fa fa-user-circle fa-fw"></i> <span>{{ translate("CUSTOMER", 2) }}</span></a>
    </li>
    <li>
        <a href="{{site.uri.public}}/users"><i class="fa fa-user fa-fw"></i> <span>{{ translate("USER", 2) }}</span></a>
    </li>
    {% elseif checkAccess('uri_group', {
        'group': current_user.group
    }) %}
    <li>
        <a href="{{site.uri.public}}/groups/g/{{current_user.group.slug}}"><i class="{{current_user.group.icon}} fa-fw"></i> <span>Manage Group</span></a>
    </li>
    {% endif %}
    {% if checkAccess('uri_roles') %}
    <li>
        <a href="{{site.uri.public}}/roles"><i class="fa fa-drivers-license fa-fw"></i> <span>{{ translate("ROLE", 2) }}</span></a>
    </li>
    {% endif %}
    {% if checkAccess('uri_permissions') %}
    <li>
        <a href="{{site.uri.public}}/permissions"><i class="fa fa-key fa-fw"></i> <span>{{ translate("PERMISSION", 2) }}</span></a>
    </li>
    {% endif %}
    {% if checkAccess('uri_groups') %}
    <li>
        <a href="{{site.uri.public}}/groups"><i class="fa fa-users fa-fw"></i> <span>{{ translate("GROUP", 2) }}</span></a>
    </li>
    {% endif %}
    {% if checkAccess('uri_activities') %}
    <li>
        <a href="{{site.uri.public}}/activities"><i class="fa fa-tasks fa-fw"></i> <span>{{ translate("ACTIVITY", 2) }}</span></a>
    </li>
    {% endif %}
{% endblock %}