<ul>
	<li>
		<a class="load-page" data-url="">
			<i class="fa fa-home"></i> {{translate('FRONTEND.HOME')}}
		</a>
	</li>
	<li>
		<a class="load-page" data-url="categories">
			<i class="fa fa-list-ol"></i> {{translate('CATEGORY', 2)}}
		</a>
	</li>
	<li>
		<a class="load-page" data-url="about">
			<i class="fa fa-pencil-square-o"></i> {{translate('ABOUT')}}
		</a>
	</li>
	<li>
		<a class="load-page" data-url="contact">
			<i class="fa fa-comment-o"></i> {{translate('FRONTEND.CONTACT')}}
		</a>
	</li>
	<li>
		<a class="load-page" data-url="faq">
			<i class="fa fa-question-circle-o"></i> {{translate('FRONTEND.FAQ')}}
		</a>
	</li>
	<li>
		<a class="load-page" data-url="how-it-works">
			<i class="fa fa-cogs"></i> {{translate('FRONTEND.HOWITWORKS')}}
		</a>
	</li>
</ul>