<!-- Sidebar user panel -->
<div class="user-panel">
  <div class="pull-left image">
    <img src="{{ current_user.avatar }}" class="img-circle" alt="User Image">
  </div>
  <div class="pull-left info">
    <p>{{current_user.first_name}} {{current_user.last_name}}</p>
    {{current_user.group.name}}
  </div>
</div>