<div class="site-container">
	{% block navbar_logo %}
	<a class="logo" href="{{site.uri.public}}">
	</a>
	{% endblock %}
	<a class="menu-icon">
		<div class="hamburger">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<p>{{translate('FRONTEND.MENU')}}</p>
	</a>
	<nav class="navbar">
		{% include "navigation/supplier-navbar.html.twig" %}
	</nav>
</div>
