<div class="profile-icon">
	<a class="profile-img"></a>
	<i class="fa fa-caret-down"></i>
	<div class="user-menu-holder">
		<ul class="user-menu">
			<li>
				<a href="{{site.uri.public}}/my-account">{{translate('ACCOUNT')}}</a>
			</li>
			{% if supplier_access %}
		    <li>
		        <a href="{{site.uri.public}}/supplier">{{translate('SUPPLIER_AREA')}}</a>
		    </li>
		    {% endif %}
			{% if checkAccess('uri_dashboard') %}
		    <li>
		        <a href="{{site.uri.public}}/admin">{{translate('ADMIN')}}</a>
		    </li>
		    {% endif %}
			<li>
				<a href="{{site.uri.public}}/account/logout">{{translate('LOGOUT')}}</a>
			</li>
		</ul>
	</div>
</div>