{% extends "modals/modal.html.twig" %}

{% block modal_title %}{{translate('PRODUCT.ADD_PHOTOS')}}{% endblock %}

{% block modal_body %}
    {% include "forms/product/photos.html.twig" %}
{% endblock %}
