{% extends "modals/modal.html.twig" %}

{% block modal_title %}{{translate('PRODUCT.PHOTO_EDIT')}}{% endblock %}

{% block modal_body %}
    {% include "forms/product/photo.html.twig" %}
{% endblock %}
