{% extends "modals/modal.html.twig" %}

{% block modal_title %}{{translate('PRODUCT.ADD_VARIANT')}}{% endblock %}

{% block modal_body %}
    {% include "forms/product/variant.html.twig" %}
{% endblock %}
