<li data-product-id="{{i.product.id}}" data-product-category="{{i.product.category.url}}" data-product-slug="{{i.product.url}}"{% if i.product.is_sold_out %} class="sold-out"{% endif %}>
	{% if i.product.is_sold_out %}
	<div class="listing-soldout">
		<div class="soldout-txt">
			{{translate('FRONTEND.LISTING.SOLD_OUT')|upper}}<br />
			<span>{{translate('FRONTEND.LISTING.LUCK')}}</span>
		</div>
	</div>
	{% endif %}
	<div class="listing-holder">
		<div class="listing-border"></div>
		<div class="listing-percentage">
			{{i.product.percentage}}%<br />
			<span>{{translate('FRONTEND.LISTING.OFF')}}</span>
		</div>
		<div class="listing-top">
			<div class="listing-featured-star"></div>
			<div class="listing-active">
				<span class="selected">
					<i class="fa fa-dot-circle-o"></i> {{translate('FRONTEND.LISTING.ACTIVE')}}
				</span>
				<span>
					<i class="fa fa-dot-circle-o"></i> {{translate('FRONTEND.LISTING.ENDED')}}
				</span>
			</div>
			<div class="featured-title">
				<h4>{{i.product.name}}</h4>
			</div>
			<div class="listing-price">
				<h4>&#8353;{{i.product.price_formatted}}</h4>
				<h3>&#8353;{{i.product.discount_price_formatted}}</h3>
			</div>
		</div>
		<div class="featured-main">
			<div class="featured-image" style="background-image:url({{site.uri.public}}{{i.product.getThumbnail(0, 130)}})">
			</div>
			<div class="featured-description txtformatting">
				<p>{{i.product.description|raw}}</p>
			</div>
			<div class="featured-bottom">
				<div class="pull-right">
					<a class="button btn-white btn-small view-product btn-no-shadow">{{translate('FRONTEND.LISTING.VIEW')}}</a>
					<a class="button btn-green btn-small buy-product btn-no-shadow">{{translate('FRONTEND.LISTING.BUY')}}</a>
				</div>
			</div>
		</div>
		<div class="listing-title">
			{{translate('FRONTEND.LISTING.FEATURED', 1)}}
		</div>
	</div>
</li>