{% if featured_items|length > 0 %}
<div class="row grey-line featured-top">
	<span><i class="fa fa-star-o"></i>{{translate('FRONTEND.LISTING.FEATURED', 2)}}</span>
</div>
<ul class="featured-listings">
{% for i in featured_items %}
	{% include "pages/front/listings/featured.html.twig" %}
{% endfor %}
</ul>
{% endif %}

{% if items|length > 0 %}
<ul class="product-listings">
{% for i in items %}
	{% include "pages/front/listings/regular.html.twig" %}
{% endfor %}
</ul>
{% endif %}