<div class="product-page">
	{% if product.is_sold_out %}
	<div class="listing-soldout">
		<div class="soldout-txt">
			{{translate('FRONTEND.LISTING.SOLD_OUT')|upper}}<br />
			<span>{{translate('FRONTEND.LISTING.LUCK')}}</span>
		</div>
	</div>
	{% endif %}
	<div class="product-holder" data-product-id="{{product.id}}">
		<div class="listing-border"></div>
		<div class="listing-percentage">
			<span>{{translate('FRONTEND.PRODUCT.SAVE_UP_TO')}}</span>
			{{product.percentage}}%
		</div>
		<div class="product-top">
			<h1>{{product.name}}</h1>
			<div class="product-price">
				<p>
					<span>&#8353;{{product.price}}</span><br />
					&#8353;{{product.discount_price}}
				</p>
			</div>
		</div>
		<div class="product-images">
			
		</div>
		<div class="product-body">
			<div class="product-info">
				<div class="product-desc">
					<p>{{product.description|raw}}</p>
				</div>
				<div class="supplier-desc">
					{{ include("pages/front/partials/supplier_card.html.twig", {supplier: product.supplier}) }}
					<div class="supplier-stats">
						<div class="left">
							<div class="stat">
								<i class="fa fa-map-marker"></i> <span>Location</span>
							</div>
							<div class="stat">
								<i class="fa fa-user"></i> <span>Organisation</span>
							</div>
						</div>
						<div class="right">
							<div class="stat">
								<i class="fa fa-calendar"></i> <span>Location</span>
							</div>
							<div class="stat">
								<i class="fa fa-dot-circle-o"></i> <span>{{product.views|length}}</span>
							</div>
						</div>
					</div>
					<div class="customise-holder">
						<a class="button btn-white btn-no-shadow btn-icon customise-product"><i class="fa fa-gear"></i> {{translate('FRONTEND.PRODUCT.CUSTOMISE')}}</a>
					</div>
				</div>
			</div>
			<div class="product-bottom">
				<a class="button btn-white btn-no-shadow btn-icon load-page" data-url=""><i class="fa fa-angle-left"></i> {{translate('FRONTEND.PRODUCT.GO_BACK')}}</a>
				<a class="button btn-no-shadow btn-icon btn-green buy-product"><i class="fa fa-shopping-cart"></i> {{translate('FRONTEND.PRODUCT.ADD_TO_CART')}}</a>
			</div>
		</div>
	</div>
</div>