<li data-product-id="{{i.product.id}}" data-product-category="{{i.product.category.url}}" data-product-slug="{{i.product.url}}"{% if i.product.is_sold_out %} class="sold-out"{% endif %}>
    {% if i.product.is_sold_out %}
    <div class="listing-soldout">
        <div class="soldout-txt">
            {{translate('FRONTEND.LISTING.SOLD_OUT')|upper}}<br />
            <span>{{translate('FRONTEND.LISTING.LUCK')}}</span>
        </div>
    </div>
    {% endif %}
    <div class="listing-holder">
    	<div class="listing-border"></div>
    	<div class="listing-percentage">
    		{{i.product.percentage}}%<br />
    		<span>{{translate('FRONTEND.LISTING.OFF')}}</span>
    	</div>
    	<div class="listing-top">
    		<div class="listing-active">
    			<span class="selected">
    				<i class="fa fa-dot-circle-o"></i> {{translate('FRONTEND.LISTING.ACTIVE')}}
    			</span>
    			<span>
    				<i class="fa fa-dot-circle-o"></i> {{translate('FRONTEND.LISTING.ENDED')}}
    			</span>
    		</div>
    	</div>
    	<div class="listing-main" style="background-image:url({{site.uri.public}}{{i.product.getThumbnail(0, 320)}})">
    		<div class="listing-hover">
    			<a class="button btn-red btn-small view-product">{{translate('FRONTEND.LISTING.VIEW')}}</a>
    			<a class="button btn-green btn-small buy-product">{{translate('FRONTEND.LISTING.BUY')}}</a>
    		</div>
    		<div class="listing-price">
    			<h4 class="original">&#8353;{{i.product.price_formatted}}</h4>
    			<h3 class="discount">&#8353;{{i.product.discount_price_formatted}}</h3>
    		</div>
    	</div>
    	<div class="listing-title">
    		{{i.product.name}}
    	</div>
    </div>
</li>