<div class="supplier-area-top">
	<h1>{{translate('PRODUCT', 2)}}</h1>
	<a class="button btn-highlight btn-no-shadow load-page" data-url="supplier/products/new">{{translate('PRODUCT.ADD')}}</a>
</div>
<div class="supplier-product-list">
	<div class="table-search">
		<input type="text" name="table-search" placeholder="{{translate('SUPPLIER_AREA.PRODUCT.ENTER')}}" />
	</div>
	<table class="product-table">
		<thead>
			<tr>
				<td class="select">
				</td>
				<td class="name">
					{{translate('PRODUCT', 1)}}
				</td>
				<td class="inventory">
					{{translate('SUPPLIER_AREA.PRODUCT.INVENTORY')}}
				</td>
				<td class="supplier">
					{{translate('SUPPLIER', 1)}}
				</td>
				<td class="status">
					{{translate('STATUS')}}
				</td>
			</tr>
		</thead>
		<tbody class="supplier-product-table-holder spinner">
		</tbody>
	</table>
	<div class="table-pagination">
		<i class="fa fa-chevron-left no"></i>
		<span class="page-count">
		</span>
		<i class="fa fa-chevron-right no"></i>
	</div>
</div>