<div class="supplier-area-top">
	<h1>{{translate('SUPPLIER_AREA.INVENTORY.TITLE')}}</h1>
	<a class="button btn-highlight btn-no-shadow load-page" data-url="supplier/products">{{translate('ALL')}} {{translate('PRODUCT', 2)|lower}}</a>
</div>
<div class="supplier-product-list inventory-list">
	<div class="table-search">
		<input type="text" name="table-search" placeholder="{{translate('SUPPLIER_AREA.PRODUCT.ENTER')}}" />
	</div>
	<table class="product-table inventory-table">
		<thead>
			<tr>
				<td class="select">
				</td>
				<td class="name">
					{{translate('PRODUCT', 1)}} {{translate('PRODUCT.VARIANT', 1)|lower}}
				</td>
				<td class="sku">
					{{translate('PRODUCT.SKU_SHORT')}}
				</td>
				<td class="quantity">
					{{translate('PRODUCT.QUANTITY')}}
				</td>
				<td class="update nosort">
					{{translate('UPDATE')}} {{translate('PRODUCT.QUANTITY')|lower}}
				</td>
			</tr>
		</thead>
		<tbody class="supplier-product-table-holder spinner">
		</tbody>
	</table>
	<div class="table-pagination">
		<i class="fa fa-chevron-left no"></i>
		<span class="page-count">
		</span>
		<i class="fa fa-chevron-right no"></i>
	</div>
</div>