<div class="supplier-area-top">
	<h1>{% if product is defined %}{{translate('PRODUCT.DETAILS')}}{% else %}{{translate('PRODUCT.ADD')}}{% endif %}</h1>
	<a class="button btn-highlight btn-no-shadow save-product">{{translate('SUPPLIER_AREA.PRODUCT.SAVE')}}</a>
	<a class="button btn-grey btn-no-shadow load-page btn-larger-width btn-icon" data-url="supplier/products"><i class="fa fa-caret-left"></i> {{translate('SUPPLIER_AREA.BACK.PRODUCT')}}</a>
</div>
<div class="supplier-area-form">
	<div class="supplier-area-left">
		<div class="supplier-form-box">
			<div class="supplier-row form-group has-feedback floatlabel larger">
				<input name="name" id="f-name" type="text" class="form-control" placeholder="{{translate('PRODUCT.NAME')}}"{% if product is defined %} value="{{product.name}}"{% endif %}{% if disabled_fields %} disabled{% endif %} required />
				<label for="f-name">{{translate('PRODUCT.NAME')}}</label>
			</div>
			<div class="supplier-row form-group has-feedback wmce">
				<label for="f-description">{{translate('PRODUCT.DESCRIPTION')}}</label>
				<textarea class="html_editor" name="description" id="f-description"{% if disabled_fields %} disabled{% endif %}>{% if product is defined %}{{product.description}}{% endif %}</textarea>
			</div>
		</div>
		<div class="supplier-form-box" data-for="photos">
			<div class="supplier-row title-row">
				<strong>{{translate('PRODUCT.PHOTOS')}}</strong>
				{% if disabled_fields %}{% else %}<a class="photo-click">{{translate('PRODUCT.UPLOAD_PHOTO')}}</a>{% endif %}
			</div>
			{% include "components/images/grid-2.html.twig" %}
		</div>
		<div class="supplier-form-box">
			<div class="supplier-row title-row">
				<strong>{{translate('PRODUCT.VARIANTS')}}</strong>
				{% if product is defined and product.variants|length > 0 %}
				{% else %}
				<a class="variant-click">{{translate('PRODUCT.ADD_VARIANT')}}s</a>
				{% endif %}
			</div>
			{% if product is defined and product.variants|length > 0 %}
				<div class="supplier-row variant-area">
					{% include "pages/front/supplier/products/single/components/variant_table.html.twig" %}
				</div>
			{% else %}
				<div class="supplier-row">
					<p>{{translate('PRODUCT.VARIANT_DESCRIPTION')}}</p>
				</div>
				<div class="supplier-row variant-area">
				</div>
			{% endif %}
		</div>
	</div>
	<div class="supplier-area-right">
		{% if product is defined %}
		<div class="supplier-form-box box-status">
			<div class="supplier-row title-row">
				<strong>{{translate('PRODUCT.APPROVAL_STATUS')}}</strong>
				<span class="product-status">
					{% if product.approved == 1 %}
						{{translate('PRODUCT.APPROVED')}}
					{% else %}
						{{translate('PRODUCT.APPROVAL_PENDING')}}
					{% endif %}
				</span>
			</div>
		</div>
		{% endif %}
		<div class="supplier-form-box box-highlight">
			<div class="supplier-row title-row">
				<strong>{{translate('SUPPLIER_AREA.PRODUCT.FEATURED')}}</strong>
				<label class="switch">
					<input type="checkbox" name="featured"{% if product is defined and product.featured == 1 %} checked="checked"{% endif %}>
					<span class="radio-slider"></span>
				</label>
			</div>
			<div class="supplier-row form-group has-feedback floatlabel">
				<p>{{translate('SUPPLIER_AREA.PRODUCT.FEATURED_DESC')}}</p>
			</div>
		</div>
		<div class="supplier-form-box category-holder">
			<div class="supplier-row title-row">
				<strong>{{translate('CATEGORY', 1)}}</strong>
			</div>
			<div class="supplier-row form-group has-feedback floatlabel">
				<select name="category_id" id="f-category_id" required{% if disabled_fields %} disabled{% endif %}>
					<option selected disabled>Please select</option>
					{% for category in category_list %}
					<option value="{{category.id}}"{% if product is defined and product.category_id == category.id %} selected{% endif %}>{{category.name}}</option>
					{% endfor %}
				</select>
			</div>
			{% for subcat in category_array %}
			<div class="supplier-row form-group has-feedback floatlabel">
				<select name="subcategory_id" id="f-subcategory_id" required{% if disabled_fields %} disabled{% endif %}>
					<option disabled>Please select</option>
					{% for c in subcat.subcategories %}
					<option value="{{c.id}}"{% if product is defined and product.subcategory_id == c.id %} selected{% endif %}>{{c.name}}</option>
					{% endfor %}
				</select>
			</div>
			{% endfor %}
			<div class="supplier-row form-group has-feedback floatlabel load-subcategories"></div>
		</div>
		<div class="supplier-form-box">
			<div class="supplier-row title-row">
				<strong>{{translate('SUPPLIER_AREA.PRODUCT.PRICING')}}</strong>
			</div>
			<div class="supplier-row form-group has-feedback floatlabel">
				<p>{{translate('SUPPLIER_AREA.PRODUCT.PRICING_DESC')}}</p>
			</div>
			<div class="supplier-row form-group has-feedback floatlabel">
				<input name="price" id="f-price" type="text" class="form-control" placeholder="{{translate('PRODUCT.ORIGINAL_PRICE')}}"{% if product is defined %} value="{{product.price|number_format(2,'.',',')}}"{% endif %}{% if disabled_fields %} disabled{% endif %} />
				<label for="f-price">{{translate('PRODUCT.ORIGINAL_PRICE')}}</label>
			</div>
			<div class="supplier-row form-group has-feedback floatlabel">
				<input name="discount_price" id="f-discount_price" type="text" class="form-control" placeholder="{{translate('PRODUCT.DISCOUNT_PRICE')}}"{% if product is defined %} value="{{product.discount_price|number_format(2,'.',',')}}"{% endif %}{% if disabled_fields %} disabled{% endif %} />
				<label for="f-discount_price">{{translate('PRODUCT.DISCOUNT_PRICE')}}</label>
			</div>
			<div class="supplier-row form-group fee-calculation">
				<ul>
					<li data-row="featured"{% if product is defined and product.featured == 1 %} style="display:block;"{% endif %}><strong>{{translate('SUPPLIER_AREA.PRODUCT.PRICING_FEATURED')}}</strong><span>₡{% if product is defined %}{{product.featured_fee}}{% else %}0.00{% endif %}</span></li>
					<li data-row="admin"{% if product is defined %} style="display:block;"{% endif %}><strong>{{translate('SUPPLIER_AREA.PRODUCT.PRICING_FEE')}}</strong><span>₡{% if product is defined %}{{product.admin_fee}}{% else %}0.00{% endif %}</span></li>
					<li data-row="customer"><strong>{{translate('SUPPLIER_AREA.PRODUCT.PRICING_CUSTOMER')}}</strong><span>₡{% if product is defined %}{{product.customer_cost}}{% else %}0.00{% endif %}</span></li>
				</ul>
			</div>
		</div>
		<div class="supplier-form-box">
			<div class="supplier-row title-row">
				<strong>{{translate('SUPPLIER_AREA.PRODUCT.INVENTORY')}}</strong>
			</div>
			<div class="supplier-row form-group has-feedback floatlabel">
				<input name="total_quantity" id="f-quantity" type="number" class="form-control" placeholder="{{translate('PRODUCT.QUANTITY')}}"{% if product is defined %} value="{{product.quantity}}"{% endif %}{% if disabled_fields %} disabled{% endif %} />
				<label for="f-quantity">{{translate('PRODUCT.QUANTITY')}}</label>
			</div>
			<div class="supplier-row form-group has-feedback floatlabel">
				<input name="sku" id="f-sku" type="text" class="form-control" placeholder="{{translate('PRODUCT.SKU')}}"{% if product is defined %} value="{{product.sku}}"{% endif %} />
				<label for="f-sku">{{translate('PRODUCT.SKU')}}</label>
			</div>
			<div class="supplier-row form-group has-feedback floatlabel">
				<input name="barcode" id="f-barcode" type="text" class="form-control" placeholder="{{translate('PRODUCT.BARCODE')}}"{% if product is defined %} value="{{product.barcode}}"{% endif %} />
				<label for="f-barcode">{{translate('PRODUCT.BARCODE')}}</label>
			</div>
		</div>
	</div>
</div>
<div class="supplier-area-top butt">
	<a class="button btn-highlight btn-no-shadow save-product">{{translate('SUPPLIER_AREA.PRODUCT.SAVE')}}</a>
	<a class="button btn-grey btn-no-shadow load-page btn-larger-width btn-icon" data-url="supplier/products"><i class="fa fa-close"></i> {{translate('CANCEL')}}</a>
</div>
<form class="product_data" action="{{site.uri.public}}/supplier/products/new" data-fee="{{site.uri.public}}/supplier/products/fee">
	{% include "forms/csrf.html.twig" %}
	{% if product is defined %}
	<input type="hidden" name="product_id" value="{{product.id}}" />
	{% endif %}
	<input type="hidden" name="pd_featured"{% if product is defined %} value="{{product.featured}}"{% endif %} />
	<input type="hidden" name="pd_name"{% if product is defined %} value="{{product.name}}"{% endif %} />
	<input type="hidden" name="pd_description"{% if product is defined %} value="{{product.description}}"{% endif %} />
	<input type="hidden" name="variant_detail" />
	<input type="hidden" name="photos" />
	<input type="hidden" name="pd_category_id"{% if product is defined %} value="{{product.category_id}}"{% endif %} />
	<input type="hidden" name="pd_subcategory_id"{% if product is defined %} value="{{product.subcategory_id}}"{% endif %} />
	<input type="hidden" name="pd_price"{% if product is defined %} value="{{product.price}}"{% endif %} />
	<input type="hidden" name="pd_discount_price"{% if product is defined %} value="{{product.discount_price}}"{% endif %} />
	<input type="hidden" name="pd_quantity"{% if product is defined %} value="{{product.quantity}}"{% endif %} />
	<input type="hidden" name="pd_sku"{% if product is defined %} value="{{product.sku}}"{% endif %} />
	<input type="hidden" name="pd_barcode"{% if product is defined %} value="{{product.barcode}}"{% endif %} />
</form>
<script>
	var translations = {
		'VALIDATE.DISCOUNT_INVALID': "{{translate('VALIDATE.DISCOUNT_INVALID')}}",
		'VALIDATE.PHOTOS_REQUIRED': "{{translate('VALIDATE.PHOTOS_REQUIRED')}}",
		'VALIDATE.QUANTITY_REQUIRED': "{{translate('VALIDATE.QUANTITY_REQUIRED')}}",
		'VALIDATE.REQUIRED': "{{translate('VALIDATE.REQUIRED_FRONT')}}"
	}
</script>