<div class="supplier-area-top">
	<h1>{% if variant is defined %}{{variant.html_title|raw}}{% else %}{{translate('SUPPLIER_AREA.VARIANT_PAGE.ADD')}}{% endif %}</h1>
	<a class="button btn-highlight btn-no-shadow save-variant">{{translate('SUPPLIER_AREA.VARIANT_PAGE.SAVE')}}</a>
	<a class="button btn-grey btn-no-shadow load-page btn-larger-width btn-icon" data-url="supplier/products/{{variant.product_id}}"><i class="fa fa-caret-left"></i> {{translate('SUPPLIER_AREA.BACK.VARIANT')}}</a>
</div>
<div class="supplier-area-form variant-form">
	<div class="supplier-area-left">
		<div class="supplier-form-box variant-product">
			<img src="{{site.uri.public}}/{{variant.product.getThumbnail(70,70)}}" />
			<div class="details">
				<p>
					<strong>{{variant.product.name}}</strong><br />
					{{variant.product.variants|length}} {{translate('SUPPLIER_AREA.VARIANT_PAGE', 2)|lower}}
				</p>
			</div>
		</div>
		<div class="supplier-form-box variant-list">
			<div class="supplier-row title-row">
				<strong>{{translate('SUPPLIER_AREA.VARIANT_PAGE', 2)}}</strong>
			</div>
			<ul>
				{% for v in variant_list %}
					<li{% if v.id == variant.id %} class="cur"{% endif %}>
						<a class="load-page" data-url="supplier/products/{{v.product.id}}/variants/{{v.id}}">
							<div class="img">
								{% if v.img %}
									<img src="{{site.uri.public}}/{{v.getThumbnail(40,40)}}" />
								{% endif %}
							</div>
							<div class="title">
								{{v.html_title|raw}}
							</div>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="supplier-area-right">
		<div class="supplier-form-box">
			<div class="supplier-row title-row">
				<strong>{{translate('SUPPLIER_AREA.VARIANT_PAGE.OPTIONS')}}</strong>
			</div>
			{% if variant.img %}
				<div class="variant-image img-grid supplier-grid">
					<div class="image-grid-btn img">
						<img src="{{site.uri.public}}/{{variant.getThumbnail(180,180)}}" />
						<div class="img-grid-ctrl">
							<i class="fa fa-fw fa-search img-zoom" data-id="{{variant.img.image.id}}" data-product-img-id="{{variant.img.id}}"></i>
							<i class="fa fa-fw fa-pencil img-edit-details" data-id="{{variant.img.image.id}}" data-product-img-id="{{variant.img.id}}"></i>
							<i class="fa fa-fw fa-trash img-remove" data-id="{{variant.img.image.id}}" data-product-img-id="{{variant.img.id}}"></i>
						</div>
					</div>
				</div>
			{% else %}
				<form action="{{site.uri.public}}/api/images/upload/ProductPhoto/{{variant.id}}/variant_id/{{variant.product.id}}/product_id/image_id" class="dropzone dz-started variant-image" method="POST" enctype="multipart/form-data" data-maxfiles="1">
			        {% include "forms/csrf.html.twig" %}
			    </form>
			{% endif %}
			<div class="options">
				{% for bit in variant.variant_array %}
				<div class="supplier-row form-group has-feedback floatlabel">
					<input name="option_{{bit.type}}" id="f-option_{{bit.type}}" type="text" class="form-control"{% if variant is defined %} value="{{bit.name}}"{% endif %} />
					<label for="f-option_{{bit.type}}">{{bit.type}}</label>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="supplier-form-box">
			<div class="supplier-row title-row">
				<strong>{{translate('SUPPLIER_AREA.VARIANT_PAGE.INVENTORY')}}</strong>
			</div>
			<div class="supplier-row form-group has-feedback floatlabel">
				<input name="sku" id="f-sku" type="text" class="form-control" placeholder="{{translate('PRODUCT.SKU')}}"{% if variant is defined %} value="{{variant.sku}}"{% endif %} />
				<label for="f-sku">{{translate('PRODUCT.SKU')}}</label>
			</div>
			<div class="supplier-row form-group has-feedback floatlabel">
				<input name="barcode" id="f-barcode" type="text" class="form-control" placeholder="{{translate('PRODUCT.BARCODE')}}"{% if variant is defined %} value="{{variant.barcode}}"{% endif %} />
				<label for="f-barcode">{{translate('PRODUCT.BARCODE')}}</label>
			</div>
			<div class="supplier-row form-group has-feedback floatlabel">
				<input name="quantity" id="f-quantity" type="text" class="form-control" placeholder="{{translate('PRODUCT.QUANTITY')}}"{% if variant is defined %} value="{{variant.quantity}}"{% endif %}{% if disabled_fields %} disabled{% endif %} />
				<label for="f-quantity">{{translate('PRODUCT.QUANTITY')}}</label>
			</div>
		</div>
	</div>
</div>
<div class="supplier-area-top butt">
	<a class="button btn-highlight btn-no-shadow save-variant">{{translate('SUPPLIER_AREA.VARIANT_PAGE.SAVE')}}</a>
	<a class="button btn-grey btn-no-shadow load-page btn-larger-width btn-icon" data-url="supplier/products/{{variant.product_id}}"><i class="fa fa-caret-left"></i> {{translate('SUPPLIER_AREA.BACK.VARIANT')}}</a>
</div>
<form class="variant_data" action="{{site.uri.public}}/supplier/products/{{variant.product.id}}/variants/save">
	{% include "forms/csrf.html.twig" %}
	{% if variant is defined %}
	<input type="hidden" name="variant_id" value="{{variant.id}}" />
	{% endif %}
	{% for bit in variant.variant_array %}
	<input type="hidden" name="vd_option_{{bit.type}}" value="{{bit.name}}" />
	{% endfor %}
	<input type="hidden" name="vd_quantity"{% if variant is defined %} value="{{variant.quantity}}"{% endif %} />
	<input type="hidden" name="vd_sku"{% if variant is defined %} value="{{variant.sku}}"{% endif %} />
	<input type="hidden" name="vd_barcode"{% if variant is defined %} value="{{variant.barcode}}"{% endif %} />
</form>