<div class="new-variants">
	<input name="variants" type="hidden" />
	<div class="variants-top">
		<div class="variant-name">
			<strong>{{translate('PRODUCT.OPTION_NAME')}}</strong>
		</div>
		<div class="variant-values">
			<strong>{{translate('PRODUCT.OPTION_VALUES')}}</strong>
		</div>
	</div>
	<div class="variants-holder">
		{% include "pages/front/supplier/products/single/components/new_variant.html.twig" %}
		<a class="button btn-white add-variant btn-no-shadow">{{translate('PRODUCT.ADD_ANOTHER_VARIANT')}}</a>
	</div>
	{% include "pages/front/supplier/products/single/components/variant_table.html.twig" with {'new_table': true} %}
</div>