<div class="new-variant supplier-row form-group">
	<div class="variant-name">
		<input name="variant_name" type="text" class="form-control" />
	</div>
	<div class="variant-values">
		<div class="tag-area">
			<ul class="tag-holder">
			</ul>
			<input type="text" placeholder="{{translate('SUPPLIER_AREA.PRODUCT.SEPERATE_COMMA')}}" class="form-control tag-input"  />
		</div>
	</div>
	<div class="variant-trash">
	</div>
</div>