<tr{% if variant is defined %}{% for v in variant.variant_array %} data-option_{{loop.index}}="{{v.name}}"{% endfor %}{% endif %}>
	<td class="select">
		<input type="checkbox" checked="checked"{% if variant is defined %} disabled{% endif %} />
	</td>
	<td class="variant-title">
		{% if variant is defined %}
			{% for v in variant.variant_array %}
				<span class="option_{{loop.index}}">{{v.name}}</span>
			{% endfor %}
		{% endif %}
	</td>
	<td class="variant-sku">
		<input type="text" name="v_sku" value="{% if variant is defined %}{{variant.sku}}{% endif %}" class="form-control" />
	</td>
	<td class="variant-barcode">
		<input type="text" name="v_barcode" value="{% if variant is defined %}{{variant.barcode}}{% endif %}" class="form-control" />
	</td>
	<td class="variant-quantity">
		<input type="text" name="quantity" value="{% if variant is defined %}{{variant.quantity}}{% else %}0{% endif %}" class="form-control"{% if disabled_fields %} disabled{% endif %} />
	</td>
	<td class="variant-actions">
		<a class="fa fa-edit load-page" data-url="supplier/products/{{product.id}}/variants/{{variant.id}}"></a>
		<a class="fa fa-trash"></a>
	</td>
</tr>