{% if product is defined and product.variants|length > 0 %}
	{% for variant in product.variants %}
		{% if loop.index == 1 %}
			{% for v in variant.variant_array %}
				<input name="variant_option_{{loop.index}}" value="{{v.type}}" type="hidden" />
			{% endfor %}
		{% endif %}
	{% endfor %}
{% endif %}
<table class="variant-table"{% if new_table == true %} style="display:none"{% endif %}>
	<thead>
		<tr>
			<th class="select">
			</th>
			<th class="variant-title">
				{{translate('PRODUCT.VARIANT')}}
			</th>
			<th class="variant-sku">
				{{translate('PRODUCT.SKU_SHORT')}}
			</th>
			<th class="variant-barcode">
				{{translate('PRODUCT.BARCODE_SHORT')}}
			</th>
			<th class="variant-quantity">
				{{translate('PRODUCT.QUANTITY')}}
			</th>
		</tr>
		{% if product is defined and product.variants|length > 0 %}
			{% for variant in product.variants %}
				{% include "pages/front/supplier/products/single/components/variant.html.twig" %}
			{% endfor %}
		{% endif %}
	</thead>
	<tbody>
		<tr class="cloneme">
			<td class="select">
				<input type="checkbox" checked="checked" />
			</td>
			<td class="variant-title">
			</td>
			<td class="variant-sku">
				<input type="text" name="v_sku" class="form-control" />
			</td>
			<td class="variant-barcode">
				<input type="text" name="v_barcode" class="form-control" />
			</td>
			<td class="variant-quantity">
				<input type="text" name="quantity" value="0" class="form-control" />
			</td>
		</tr>
	</tbody>
</table>

