<form class="js-form" method="{{form.method | default('POST')}}" action="{{site.uri.public}}/{{form.action}}">
    {% include "forms/csrf.html.twig" %}
    <div class="js-form-alerts">
    </div>
    <div class="row">
        {% if 'qr_code' not in form.fields.hidden %}
        <div class="col-sm-2">
            <div class="form-group">
                <label>{{translate("ORDER.QR_CODE")}}</label><br />
                <img src="{{site.uri.public}}/api/qr/o/{{item.reference}}.png" />
            </div>
        </div>
        {% endif %}
        {% if 'reference' not in form.fields.hidden %}
        <div class="col-sm-10">
            <div class="form-group">
                <label>{{translate("ORDER.REFERENCE")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-id-card fa-fw"></i></span>
                    <input type="text" class="form-control" autocomplete="off" value="{{item.reference}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label>{{translate("ORDER.DATE")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                    <input type="text" class="form-control" autocomplete="off" value="{{item.order.created_at|date('m/d/Y H:i:s')}}" disabled>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{translate("STATUS")}}</label>
                <select id="input-group" class="form-control js-select2" name="status">
                    <option value="not_shipped"{% if item.status == "not_shipped" %} selected{% endif %}>Not Shipped</option>
                    <option value="shipped"{% if item.status == "shipped" %} selected{% endif %}>Shipped</option>
                </select>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row">
        {% if 'original_price' not in form.fields.hidden %}
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{translate("ORDER.ORIGINAL_PRICE")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-money fa-fw"></i></span>
                    <input type="text" class="form-control" autocomplete="off" value="&#8353;{{item.product_data.original_price|number_format(2,'.',',')}}" disabled>
                </div>
            </div>
        </div>
        {% endif %}
        {% if 'amount_paid' not in form.fields.hidden %}
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{translate("ORDER.AMOUNT_PAID")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-money fa-fw"></i></span>
                    <input type="text" class="form-control" autocomplete="off" value="&#8353;{{item.product_data.discount_price|number_format(2,'.',',')}}" disabled>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row">
        {% if 'name' not in form.fields.hidden %}
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{translate("ORDER.PRODUCT_NAME")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-gift fa-fw"></i></span>
                    <input type="text" class="form-control" autocomplete="off" value="{{item.product_data.name}}" disabled>
                </div>
            </div>
        </div>
        {% endif %}
        {% if 'variant' not in form.fields.hidden and item.product_data.variant_name != "" %}
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{translate("ORDER.PRODUCT_VARIANT")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-gift fa-fw"></i></span>
                    <input type="text" class="form-control" name="product_variant" autocomplete="off" value="{{item.product_data.variant_name}}" disabled>
                </div>
            </div>
        </div>
        {% endif %}
    </div><br />
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <button type="submit" class="btn btn-block btn-lg btn-success">{{form.submit_text}}</button>
        </div>
        <div class="col-xs-4 col-sm-3 pull-right">
            <button type="button" class="btn btn-block btn-lg btn-link" data-dismiss="modal">{{translate("CANCEL")}}</button>
        </div>
    </div>
</form>
<!-- Include validation rules -->
<script>
{% include "pages/partials/page.js.twig" %}
</script>
