<form class="js-form" method="{{form.method | default('POST')}}" action="{{site.uri.public}}/{{form.action}}">
    {% include "forms/csrf.html.twig" %}
    <div class="js-form-alerts">
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{translate("ORDER.PAYMENT_DATE")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                    <input type="text" class="form-control" autocomplete="off" value="{{order.payment.created_at|date('m/d/Y H:i:s')}}" disabled>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{translate("ORDER.AMOUNT_PAID")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-money fa-fw"></i></span>
                    <input type="text" class="form-control" autocomplete="off" value="&#8353;{{order.payment.amount_paid}}" disabled>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{translate("ORDER.TRANSACTION_ID")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-money fa-fw"></i></span>
                    <input type="text" class="form-control" autocomplete="off" value="{{order.payment.paypal_data.transactionId}}" disabled>
                </div>
            </div>
        </div>
    </div>
</form>
