{% extends "modals/modal.html.twig" %}

{% block modal_title %}{{translate("CATEGORY.DELETE")}}{% endblock %}

{% block modal_body %}
<form class="js-form" method="delete" action="{{site.uri.public}}/{{form.action}}">
    {% include "forms/csrf.html.twig" %}
    <div class="js-form-alerts">
    </div>
    <h4>{{translate("CATEGORY.DELETE_CONFIRM", {name: category.name})}}<br><small>{{translate("DELETE_CANNOT_UNDONE")}}</small></h4>
    <br>
    <div class="btn-group-action">
        <button type="submit" class="btn btn-danger btn-lg btn-block">{{translate("CATEGORY.DELETE_YES")}}</button>
        <button type="button" class="btn btn-default btn-lg btn-block" data-dismiss="modal">{{translate("CANCEL")}}</button>
    </div>
</form>
{% endblock %}
