{% extends "modals/modal.html.twig" %}

{% block modal_title %}{{translate('SUPPLIER.ADD_USER')}}{% endblock %}

{% block modal_body %}
    {% include "forms/supplier-user.html.twig" %}
{% endblock %}
