<div class="ly-modal {% block modal_extra_classes %}{% endblock %}" role="dialog">
    <div class="ly-modal-dialog {% block modal_size %}{% endblock %}" role="document">
        <div class="ly-modal-content">
            <div class="ly-modal-header">
                <a class="ly-modal-close fa fa-close"></a>
            </div>
            <div class="ly-modal-body">
                <div class="alerts-modal">
                </div>
                {% block modal_body %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
