<div class="animator">
    <div class="ly-side-modal-holder" role="dialog" data-side-modal="{% block modal_title %}{% endblock %}">
        {% block modal_body %}
        {% endblock %}
    </div>
</div>