{% extends "modals/front/modal.html.twig" %}

{% block modal_body %}
   <div class="ly-success-modal">
   		<h2><i class="fa fa-check"></i> {{translate('FRONTEND.CHECKOUT.SUCCESS')}}</h2>
   		<div class="ly-success-bottom">
   			<p>{{translate('FRONTEND.CHECKOUT.CONFIRMATION')}}</p>
   		</div>
   </div>
{% endblock %}
