{% extends "pages/abstract/dashboard.html.twig" %}

{% block stylesheets_page %}
    <!-- Page-specific CSS asset bundle -->
    {{ assets.css('css/form-widgets') | raw }}
{% endblock %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{ translate("CATEGORY", 2) }}{% endblock %}

{% block page_description %}{{ translate("CATEGORY.PAGE_DESCRIPTION") }}{% endblock %}

{% block body_matter %}
    <div class="row">
        <div class="col-md-12">
            <div id="widget-categories" class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-fw fa-users"></i> {{translate('CATEGORY', 2)}}</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-sm btn-default js-download-table"><i class="fa fa-table"></i> {{ translate("DOWNLOAD.CSV") }}</button>
                    </div>
                </div>
                <div class="box-body">
                    {% include "tables/categories.html.twig" with {
                            "table" : {
                                "id" : "table-categories"
                            }
                        }
                    %}
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-success js-category-create">
                        <i class="fa fa-plus-square"></i>  {{translate("CATEGORY.CREATE")}}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts_page %}
    <!-- Include validation rules -->
    <script>
    {% include "pages/partials/page.js.twig" %}
    </script>

    <!-- Include form widgets JS -->
    {{ assets.js('js/form-widgets') | raw }}

    <!-- Include page-specific JS -->
    {{ assets.js('js/pages/categories') | raw }}

{% endblock %}
