{% extends "pages/abstract/dashboard.html.twig" %}

{% block stylesheets_page %}
    <!-- Page-specific CSS asset bundle -->
    {{ assets.css('css/form-widgets') | raw }}
{% endblock %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{ translate("CUSTOMER", 2)}}{% endblock %}

{% block page_description %}{{ translate("CUSTOMER.PAGE_DESCRIPTION")}}{% endblock %}

{% block body_matter %}
    <div class="row">
        <div class="col-md-12">
            <div id="widget-customers" class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title pull-left"><i class="fa fa-fw fa-user-circle"></i> {{translate('CUSTOMER', 2)}}</h3>
                    {% include "tables/table-tool-menu.html.twig" %}
                </div>
                <div class="box-body">
                    {% include "tables/users.html.twig" with {
                            "table" : {
                                "id" : "table-users",
                                "columns" : ["last_activity"]
                            }
                        }
                    %}
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-success js-user-create">
                        <i class="fa fa-plus-square"></i>  {{ translate("USER.CREATE")}}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts_page %}
    <!-- Include validation rules -->
    <script>
    {% include "pages/partials/page.js.twig" %}
    </script>

    <!-- Include form widgets JS -->
    {{ assets.js('js/form-widgets') | raw }}

    <!-- Include page-specific JS -->
    {{ assets.js('js/pages/users') | raw }}

    {{ assets.js('js/pages/customers') | raw }}

{% endblock %}
