{% extends "pages/abstract/default.html.twig" %}

{% set page_active = "home" %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{translate("HOME")}}{% endblock %}

{% block page_description %}Welcome!{% endblock %}

{% block body_matter %}
    <h2>Active Deals:</h2>
    <ul>
    {% for d in deals %}
    	<li>{{d.product.name}}{% if d.variant_id > 0 %} {{d.variant.title}}{% endif %} - ${{d.product.discount_price_formatted}}</li>
    {% endfor %}
    </ul>
{% endblock %}



{% block scripts_page %}

{% endblock %}
