{% extends "pages/abstract/dashboard.html.twig" %}

{% block stylesheets_page %}
    <!-- Page-specific CSS asset bundle -->
    {{ assets.css('css/form-widgets') | raw }}
    {{ assets.css('css/pages/orders') | raw }}
{% endblock %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{ translate("ORDER", 2) }}{% endblock %}

{% block page_description %}{{ translate("ORDER.PAGE_DESCRIPTION") }}{% endblock %}

{% block body_matter %}
    <div class="row">
        <div class="col-md-12">
            <div id="widget-orders" class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-fw fa-shopping-cart"></i> {{translate('ORDER', 2)}}</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-sm btn-default js-download-table"><i class="fa fa-table"></i> {{ translate("DOWNLOAD.CSV") }}</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <strong style="padding-left:15px;">{{translate('ORDER.DATE_RANGE')}}:</strong><br />
                        <form class="order-date-range" style="padding-top:5px;">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label>{{translate("ORDER.START_DATE")}}</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                                        <input type="text" class="form-control datepicker" autocomplete="off" name="start_date" value="{{start_date}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label>{{translate("ORDER.END_DATE")}}</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                                        <input type="text" class="form-control datepicker" autocomplete="off" name="end_date" value="{{end_date}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-block btn-lg btn-success" style="height:34px;font-size: 14px;line-height: 1;margin-top:25px;">{{translate("ORDER.SET_RANGE")}}</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box-body">
                    {% include "tables/orders.html.twig" with {
                            "table" : {
                                "id" : "table-orders"
                            }
                        }
                    %}
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-primary js-order-shipped-submit">
                        <i class="fa fa-check-square"></i>  {{translate("ORDER.MARK_ALL_SHIPPED")}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <form class="shipped" action="{{site.uri.public}}/api/orders/mark-shipped" method="PUT">
        {% include "forms/csrf.html.twig" %}
        <input type="hidden" name="orders" />
    </form>
{% endblock %}
{% block scripts_page %}
    <!-- Include validation rules -->
    <script>
    {% include "pages/partials/page.js.twig" %}
    </script>

    <!-- Include form widgets JS -->
    {{ assets.js('js/form-widgets') | raw }}

    <!-- Include page-specific JS -->
    {{ assets.js('js/pages/orders') | raw }}

{% endblock %}
