{% extends "pages/abstract/dashboard.html.twig" %}

{% block stylesheets_page %}
    <!-- Page-specific CSS asset bundle -->
    {{ assets.css('css/form-widgets') | raw }}
{% endblock %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{ translate("ORDER", 1) }} #{{order.id}} ({{order.created_at|date('d/m/Y g:ia')}}){% endblock %}

{% block page_description %}{{ translate("ORDER.INFO_PAGE", {name: order.reference}) }}{% endblock %}

{% block body_matter %}
    <div class="row">
        <div class="col-lg-8">
            <div  data-id="{{order.id}}" id="widget-order-items" class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-fw fa-shopping-cart"></i> {{translate('ORDER.ITEMS')}}</h3>
                    {% if 'tools' not in tools.hidden %}
                        <div class="box-tools pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="fa fa-gear"></i> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu box-tool-menu">
                                    {% block tools %}
                                        {% if 'edit' not in tools.hidden %}
                                        <li>
                                            <a href="#" class="js-order-edit" data-id="{{order.id}}">
                                                <i class="fa fa-edit fa-fw"></i> {{translate('EDIT')}}
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% if 'user' not in tools.hidden %}
                                        <li>
                                            <a href="{{site.uri.public}}/users/u/{{order.user_data.user_name}}">
                                                <i class="fa fa-user"></i> {{translate("ORDER.VIEW_USER")}}
                                            </a>
                                        </li>
                                        {% endif %}
<!--                                         {% if 'delete' not in tools.hidden %}
                                            <li>
                                                <a href="#" class="js-order-delete" data-id="{{order.id}}">
                                                    <i class="fa fa-trash-o fa-fw"></i> {{translate('DELETE')}}
                                                </a>
                                            </li>
                                        {% endif %} -->
                                    {% endblock %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="box-body">
                     {% include "tables/order_items.html.twig" with {
                            "table" : {
                                "id" : "table-order-items"
                            }
                        }
                    %}
                </div>
                <div class="box-body">
                    <div class="order-totals">
                        <ul>
                            <li>{{translate('ORDER.SUBTOTAL')}}: <span>&#8353;{{order.subtotal}}</span></li>
                            <li>{{translate('ORDER.TAX')}} 8%: <span>&#8353;{{order.tax}}</span></li>
                            <li><b>{{translate('ORDER.TOTAL')}}</b>: <span><b>&#8353;{{order.total}}</b></span></li>
                        </ul>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-primary js-order-shipped-submit">
                        <i class="fa fa-check-square"></i>  {{translate("ORDER.MARK_ALL_SHIPPED")}}
                    </button>
                </div>
                <form class="shipped" action="{{site.uri.public}}/api/orders/mark-shipped" method="PUT">
                    {% include "forms/csrf.html.twig" %}
                    <input type="hidden" name="orders" />
                </form>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-fw fa-user"></i> {{translate('ORDER.CUSTOMER_DETAILS')}}</h3>
                </div>
                <div class="box-body box-profile order-user">
                    <ul>
                        <li>
                            <b>{{translate('NAME')}}: </b> <span>{{order.user_data.first_name}} {{order.user_data.last_name}} (<a href="{{site.uri.public}}/admin/users/u/{{order.user_data.user_name}}">{{order.user_data.user_name}}</a>)</span>
                        </li>
                        <li>
                            <b>{{translate('ADDRESS_LINE_1')}}: </b> <span>{{order.user_data.address_line_1}}</span>
                        </li>
                        <li>
                            <b>{{translate('ADDRESS_LINE_2')}}: </b> <span>{{order.user_data.address_line_2}}</span>
                        </li>
                        <li>
                            <b>{{translate('TOWN/CITY')}}: </b> <span>{{order.user_data.town_city}}</span>
                        </li>
                        <li>
                            <b>{{translate('STATE')}}: </b> <span>{{order.user_data.state}}</span>
                        </li>
                        <li>
                            <b>{{translate('POSTCODE')}}: </b> <span>{{order.user_data.postcode}}</span>
                        </li>
                        <li class="seperate">
                            <b>{{translate('EMAIL')}}: </b> <span><a href="mailto:{{order.user_data.email}}">{{order.user_data.email}}</a></span>
                        </li>
                    </ul>
                </div>
                <div class="box-footer">
                    <a class="btn btn-success js-order-shipped-submit pull-right" href="{{site.uri.public}}/customers/u/{{order.user_data.user_name}}">
                        <i class="fa fa-user"></i>  {{translate("ORDER.GO_TO_USER")}}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-fw fa-money"></i> {{translate('ORDER.PAYMENT_DETAILS')}}</h3>
                </div>
                <div class="box-body box-profile order-user">
                    <ul>
                        <li>
                            <b>{{translate('ORDER.PAYMENT_DATE')}}: </b> <span>{{order.payment.created_at|date('d/m/Y g:ia')}} </span>
                        </li>
                        <li>
                            <b>{{translate('ORDER.TRANSACTION_ID')}}: </b> <span>{{order.payment.paypal_data.transactionId}} </span>
                        </li>
                        <li>
                            <b>{{translate('ORDER.PAYMENT_METHOD')}}: </b> <span>PayPal </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts_page %}
    <!-- Include page variables -->
    <script>
    {% include "pages/partials/page.js.twig" %}
    </script>

    <!-- Include form widgets JS -->
    {{ assets.js('js/form-widgets') | raw }}

    <!-- Include page-specific JS -->
    {{ assets.js('js/pages/orders') | raw }}
{% endblock %}
