{% extends "pages/abstract/dashboard.html.twig" %}

{% block stylesheets_page %}
    <!-- Page-specific CSS asset bundle -->
    {{ assets.css('css/form-widgets') | raw }}
{% endblock %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{ translate("PRODUCT", 2) }}{% endblock %}

{% block page_description %}{{ translate("PRODUCT.PAGE_DESCRIPTION") }}{% endblock %}

{% block body_matter %}
    <div class="row">
        <div class="col-md-12">
            <div id="widget-products" class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-fw fa-users"></i> {{translate('PRODUCT', 2)}}</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-sm btn-default js-download-table"><i class="fa fa-table"></i> {{ translate("DOWNLOAD.CSV") }}</button>
                    </div>
                </div>
                <div class="box-body">
                    {% include "tables/products.html.twig" with {
                            "table" : {
                                "id" : "table-products"
                            }
                        }
                    %}
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-primary js-product-approved-submit">
                        <i class="fa fa-check-square"></i>  {{translate("PRODUCT.MARK_ALL_APPROVED")}}
                    </button>
                    <button type="button" class="btn btn-success js-product-create">
                        <i class="fa fa-plus-square"></i>  {{translate("PRODUCT.CREATE")}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <form class="approved" action="{{site.uri.public}}/api/products/mark-approved" method="PUT">
        {% include "forms/csrf.html.twig" %}
        <input type="hidden" name="products" />
    </form>
{% endblock %}
{% block scripts_page %}
    <!-- Include validation rules -->
    <script>
    {% include "pages/partials/page.js.twig" %}
    </script>

    <!-- Include form widgets JS -->
    {{ assets.js('js/form-widgets') | raw }}

    <!-- Include page-specific JS -->
    {{ assets.js('js/pages/products') | raw }}

{% endblock %}
