{% extends "pages/abstract/dashboard.html.twig" %}

{% block stylesheets_page %}
    <!-- Page-specific CSS asset bundle -->
    {{ assets.css('css/form-widgets') | raw }}
{% endblock %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{ translate("PRODUCT", 2) }} | {{product.name}}{% endblock %}

{% block page_description %}{{ translate("PRODUCT.INFO_PAGE", {name: product.name}) }}{% endblock %}

{% block body_matter %}
    <div class="row">
        <div class="col-lg-4">
            <div id="view-product" class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{translate('PRODUCT.SUMMARY')}}</h3>
                    {% if 'tools' not in tools.hidden %}
                        <div class="box-tools pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="fa fa-gear"></i> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu box-tool-menu">
                                    {% block tools %}
                                        <li>
                                            <a href="#" class="js-product-edit" data-id="{{product.id}}">
                                                <i class="fa fa-edit fa-fw"></i> {{translate('EDIT')}}
                                            </a>
                                        </li>
                                        {% if 'delete' not in tools.hidden %}
                                            <li>
                                                <a href="#" class="js-product-delete" data-id="{{product.id}}">
                                                    <i class="fa fa-trash-o fa-fw"></i> {{translate('DELETE')}}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endblock %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="box-body box-profile">
                    <div class="text-center">
                        <i class="{{product.icon}} fa-5x"></i>
                    </div>
                    {% if product.getThumbnail(140,140) != "" %}
                    <img src="{{site.uri.public}}/{{product.getThumbnail(140,140)}}" class="product-logo" />
                    {% endif %}
                    <h3 class="profile-username">{{product.name}}</h3>
                    {{product.description | raw}}
                    <p>
                        <b>{{translate('PRODUCT.ORIGINAL_PRICE')}}</b>: &#8353;{{product.price_formatted}}<br />
                        <b>{{translate('PRODUCT.DISCOUNT_PRICE')}}</b>: &#8353;{{product.discountprice_formatted}}<br />
                        <b>{{translate('PRODUCT.TOTAL_SOLD')}}</b>: {{product.total_sold}}<br />
                        <b>{{translate('PRODUCT.VIEWS')}}</b>: {{product.views.count}}<br />
                    {% for i in product.meta %}
                        <b>{{i.name}}</b>: {{i.value}}<br />
                    {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div id="widget-product-photos" class="box box-primary" data-id="{{product.id}}">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-fw fa-camera"></i> {{translate('PRODUCT.PHOTOS')}} {{translate('PRODUCT.PHOTOS_MAX')}}</h3>
                    <div class="box-tools pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm dropdown-toggle js-product-add-photos" data-id="{{product.id}}">
                              <i class="fa fa-plus"></i> Add Photos
                            </button>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    {% include "components/images/grid.html.twig" with {
                            "images" : product.photos
                        }
                    %}
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div id="widget-product-variants" class="box box-primary" data-id="{{product.id}}">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-fw fa-group"></i> {{translate('PRODUCT.VARIANTS')}}</h3>
                    <div class="box-tools pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm dropdown-toggle js-product-add-variant" data-id="{{product.id}}">
                              <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    {% include "tables/product_variants.html.twig" with {
                            "table" : {
                                "id" : "table-product-variants"
                            }
                        }
                    %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts_page %}
    <!-- Include page variables -->
    <script>
    {% include "pages/partials/page.js.twig" %}
    </script>

    <!-- Include form widgets JS -->
    {{ assets.js('js/form-widgets') | raw }}

    <!-- Include page-specific JS -->
    {{ assets.js('js/pages/products') | raw }}
{% endblock %}
