{% extends "pages/abstract/dashboard.html.twig" %}

{% block stylesheets_page %}
    <!-- Page-specific CSS asset bundle -->
    {{ assets.css('css/form-widgets') | raw }}
{% endblock %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{ translate("SUPPLIER", 2) }} | {{supplier.name}}{% endblock %}

{% block page_description %}{{ translate("SUPPLIER.INFO_PAGE", {name: supplier.name}) }}{% endblock %}

{% block body_matter %}
    <div class="row">
        <div class="col-lg-4">
            <div id="view-supplier" class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{translate('SUPPLIER.SUMMARY')}}</h3>
                    {% if 'tools' not in tools.hidden %}
                        <div class="box-tools pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="fa fa-gear"></i> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu box-tool-menu">
                                    {% block tools %}
                                        <li>
                                            <a href="#" class="js-supplier-edit" data-id="{{supplier.id}}">
                                                <i class="fa fa-edit fa-fw"></i> {{translate('EDIT')}}
                                            </a>
                                        </li>
                                        {% if 'delete' not in tools.hidden %}
                                            <li>
                                                <a href="#" class="js-supplier-delete" data-id="{{supplier.id}}">
                                                    <i class="fa fa-trash-o fa-fw"></i> {{translate('DELETE')}}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endblock %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="box-body box-profile">
                    <div class="text-center">
                        <i class="{{supplier.icon}} fa-5x"></i>
                    </div>
                    {% if supplier.getLogo(140,140) != "" %}
                    <img src="{{site.uri.public}}/{{supplier.getLogo()}}" class="supplier-logo" />
                    {% else %}
                    <form action="{{site.uri.public}}/api/images/upload/Supplier/{{supplier.id}}/image_id" class="dropzone" id="logo-uploader" method="POST" enctype="multipart/form-data">
                        {% include "forms/csrf.html.twig" %}
                    </form>
                    {% endif %}
                    <h3 class="profile-username">{{supplier.name}}</h3>
                    <p>
                    {% for i in supplier.meta %}
                        <b>{{i.name}}</b>: {{i.value}}<br />
                    {% endfor %}
                    </p>

                    {% if 'products' not in fields.hidden %}
                        <hr>
                        <strong><i class="fa fa-gift margin-r-5"></i> {{ translate('PRODUCT', 2)}}</strong>
                        <p class="badge bg-blue box-profile-property">
                            {{supplier.products.count}}
                        </p>
                    {% endif %}
                    {% if 'users' not in fields.hidden %}
                        <hr>
                        <strong><i class="fa fa-users margin-r-5"></i> {{ translate('USER', 2)}}</strong>
                        <p class="badge bg-blue box-profile-property">
                            {{supplier.users.count}}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div id="widget-supplier-products" class="box box-primary" data-id="{{supplier.id}}">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-fw fa-gift"></i> {{translate('PRODUCT', 2)}}</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-sm btn-default js-download-table"><i class="fa fa-table"></i> {{ translate("DOWNLOAD.CSV") }}</button>
                    </div>
                </div>
                <div class="box-body">
                    {% include "tables/supplier_products.html.twig" with {
                            "table" : {
                                "id" : "table-supplier-products"
                            }
                        }
                    %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div id="widget-supplier-users" class="box box-primary" data-id="{{supplier.id}}">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-fw fa-user"></i> {{translate('USER', 2)}}</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-sm btn-default js-download-table"><i class="fa fa-table"></i> {{ translate("DOWNLOAD.CSV") }}</button>
                        {% if 'tools' not in tools.hidden %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm dropdown-toggle js-supplier-add-user" data-id="{{supplier.id}}">
                              <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    {% endif %}
                    </div>
                </div>
                <div class="box-body">
                    {% include "tables/supplier_users.html.twig" with {
                            "table" : {
                                "id" : "table-supplier-users"
                            }
                        }
                    %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts_page %}
    <!-- Include page variables -->
    <script>
    {% include "pages/partials/page.js.twig" %}
    </script>

    <!-- Include form widgets JS -->
    {{ assets.js('js/form-widgets') | raw }}

    <!-- Include page-specific JS -->
    {{ assets.js('js/pages/suppliers') | raw }}
{% endblock %}
