<form class="popup-form-content" data-item-id="{{i.id}}">
	<select id="input-group" class="form-control" name="quantity">
	    {% for x in i.product.quantity_array %}
	    <option value="{{x}}"{% if x == i.quantity %} selected{% endif %}>{{x}}</option>
	    {% endfor %}
	</select>
	<div class="popup-form-buttons">
		<a class="button btn-highlight btn-small-txt btn-no-shadow submit-popup-form" data-action="quantity">{{translate('UPDATE')}}</a>
	</div>
</form>