{% extends "pages/abstract/base_front.html.twig" %}

{% block stylesheets_page_group %}
{% endblock %}

{% block body_attributes %}
    class="hold-transition skin-ly layout-top-nav"
{% endblock %}
{% block header_type %}
  <header class="site-header">
      {% include "navigation/main-nav-timer.html.twig" %}
  </header>
{% endblock %}

{% block menu_type %}
  {% include "navigation/sidebar-front.html.twig" %}
{% endblock %}

{% block content %}

<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=nzepeadidc4ws3yrgggrs2dfv577obudh0qgj9pfcxb4fwnd"></script>
<div class="wrapper">
  <!-- Full Width Column -->
  <div class="content-wrapper site-wrapper">
    <div class="site-container">
    	<div class="account-box">
			<div class="top">
				<div class="profile">
					<div class="user-photo"></div>
					<div class="details">
						<h2>{{current_user.user_name}}</h2>
					</div>
				</div>
				<div class="buttons">
					<a class="button btn-highlight btn-no-shadow load-page" data-url="my-account/history">{{translate('FRONTEND.ACCOUNT.ORDER_HISTORY')}}</a>
					<a class="button btn-highlight btn-no-shadow load-page" data-url="my-account/cancelled">{{translate('FRONTEND.ACCOUNT.CANCELLED_ORDERS')}}</a>
					<a class="button btn-highlight btn-no-shadow load-page" data-url="my-account/orders">{{translate('FRONTEND.ACCOUNT.CURRENT_ORDERS')}}</a>
				</div>
			</div>
			<div class="main">
				<div class="body-loader">
					{% block body_matter %}{% endblock %}
				</div>
			</div>
			<div class="bottom">
				<a class="button btn-highlight btn-icon btn-no-shadow load-page" data-url="my-account"><i class="fa fa-cogs"></i>{{translate('FRONTEND.ACCOUNT.SETTINGS')}}</a>
				<a class="button btn-highlight btn-no-shadow btn-icon" href="{{site.uri.public}}/account/logout"><i class="fa fa-close"></i>{{translate('FRONTEND.ACCOUNT.LOGOUT')}}</a>
			</div>
		</div>
      
    </div>
  </div>
  <!-- /.content-wrapper -->

  <div class="notifier" data-type="screen">
  </div>
  {% block footer %}
    {% include "pages/partials/footer.html.twig" %}
  {% endblock %}
</div>
<!-- ./wrapper -->

{% endblock %}

{% block scripts_page_group %}
    {{ assets.js('js/front') | raw }}
{% endblock %}

