{% extends "pages/abstract/base.html.twig" %}

{% block stylesheets_page_group %}
{% endblock %}

{% block body_attributes %}
    class="hold-transition skin-ly layout-top-nav"
{% endblock %}

{% block content %}

<div class="wrapper">
  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">
        <!-- Content Header (Page header) -->
<!--         {% block content_header %}
        <section class="content-header">
          <div id="alerts-page"></div>
        </section>
        {% endblock %} -->
        <section class="content">
            {% block body_matter %}{% endblock %}
        </section>
    </div>
  </div>
  <!-- /.content-wrapper -->

  {% block footer %}
    {% include "pages/partials/footer.html.twig" %}
  {% endblock %}
</div>
<!-- ./wrapper -->

{% endblock %}

{% block scripts_page_group %}
    {{ assets.js('js/front') | raw }}
{% endblock %}

