{% extends "pages/abstract/base_front.html.twig" %}

{% block stylesheets_page_group %}
{% endblock %}

{% block body_attributes %}
    class="hold-transition skin-ly layout-top-nav"
{% endblock %}

{% block header_type %}
  <header class="front-header">
    {% include "navigation/front-nav.html.twig" %}
  </header>
{% endblock %}

{% block menu_type %}
  {% include "navigation/sidebar-front.html.twig" %}
{% endblock %}

{% block content %}

<div class="wrapper front-page">
  <!-- Full Width Column -->
  <div class="content-wrapper">
      {% block body_matter %}{% endblock %}
  </div>
  <!-- /.content-wrapper -->

  {% block footer %}
    {% include "pages/partials/footer.html.twig" %}
  {% endblock %}
</div>
<!-- ./wrapper -->

{% endblock %}

{% block scripts_page_group %}
    {{ assets.js('js/front') | raw }}
{% endblock %}

