{% extends "pages/abstract/base_front.html.twig" %}

{% block stylesheets_page_group %}
{% endblock %}

{% block body_attributes %}
    class="hold-transition skin-ly layout-top-nav"
{% endblock %}
{% block header_type %}
  <header class="site-header">
      {% include "navigation/main-nav-timer.html.twig" %}
  </header>
{% endblock %}

{% block menu_type %}
  {% include "navigation/sidebar-front.html.twig" %}
{% endblock %}

{% block content %}

<div class="wrapper">
  <div class="page-loading-bar">
    <div class="the-bar"></div>
  </div>

  <!-- Full Width Column -->
  <div class="content-wrapper site-wrapper">
    <div class="site-container">
      {% block advertisement %}
        <div class="ly-advertisement">
          ADVERTISEMENT
        </div>
      {% endblock %}
      <div class="body-loader">
      {% block body_matter %}{% endblock %}
      </div>
    </div>
  </div>
  <!-- /.content-wrapper -->

  <div class="notifier" data-type="screen">
  </div>

  {% block footer %}
    {% include "pages/partials/footer.html.twig" %}
  {% endblock %}
</div>
<!-- ./wrapper -->

{% endblock %}

{% block scripts_page_group %}
    {{ assets.js('js/front') | raw }}
{% endblock %}

