{% extends "pages/abstract/base_front.html.twig" %}

{% block stylesheets_page_group %}
{% endblock %}

{% block body_attributes %}
    class="hold-transition skin-ly layout-top-nav supplier-area-skin"
{% endblock %}
{% block header_type %}
  <header class="site-header">
      {% include "navigation/supplier-nav.html.twig" %}
  </header>
{% endblock %}

{% block menu_type %}
  {% include "navigation/sidebar-supplier.html.twig" %}
{% endblock %}

{% block content %}
<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=nzepeadidc4ws3yrgggrs2dfv577obudh0qgj9pfcxb4fwnd"></script>
<div class="wrapper">
  <!-- Full Width Column -->
  <div class="content-wrapper site-wrapper">
    <div class="site-container">
      <div class="body-loader">
      {% block body_matter %}{% endblock %}
      </div>
    </div>
  </div>
  <!-- /.content-wrapper -->

  <div class="notifier" data-type="screen">
  </div>
  {% block footer %}
    {% include "pages/partials/footer.html.twig" %}
  {% endblock %}
</div>
<!-- ./wrapper -->

{% endblock %}

{% block scripts_page_group %}
    {{ assets.js('js/front') | raw }}
{% endblock %}

