<div class="supplier-area-top">
	<h1>{{translate('ORDER', 2)}}</h1>
</div>
<div class="supplier-product-list order-list">
	<div class="table-search">
		<input type="text" name="table-search" placeholder="{{translate('SUPPLIER_AREA.ORDER.ENTER')}}" />
		<div class="from-to">
			<input type="text" class="datepicker orderdates" name="from" placeholder="{{translate('SUPPLIER_AREA.ORDER.START_DATE')}}" />
			<input type="text" class="datepicker orderdates" name="to" placeholder="{{translate('SUPPLIER_AREA.ORDER.END_DATE')}}" />
		</div>
	</div>
	<table class="product-table order-table">
		<thead>
			<tr>
				<td class="number">
					{{translate("SUPPLIER_AREA.ORDER.NUMBER")}}
				</td>
				<td class="created_at">
					{{translate('ORDER.DATE')}}
				</td>
				<td class="user">
					{{translate("USER", 1)}}
				</td>
				<td class="items">
					{{translate("ORDER.ITEMS")}}
				</td>
				<td class="payment_status">
					{{translate("ORDER.PAYMENT_STATUS")}}
				</td>
				<td class="shipping_status">
					{{translate("ORDER.SHIPPING_STATUS")}}
				</td>
				<td class="total">
					{{translate("ORDER.AMOUNT_PAID")}}
				</td>
			</tr>
		</thead>
		<tbody class="supplier-product-table-holder spinner">
		</tbody>
	</table>
	<div class="table-pagination">
		<i class="fa fa-chevron-left no"></i>
		<span class="page-count">
		</span>
		<i class="fa fa-chevron-right no"></i>
	</div>
</div>