{% if orders|length > 0 %}
	<tr>
		<td class="hidden">
			<input type="hidden" name="prev" value="{{prev}}" />
			<input type="hidden" name="next" value="{{next}}" />
			<input type="hidden" name="cur" value="{{cur}}" />
			<input type="hidden" name="total" value="{{total}}" />
			<input type="hidden" name="field" value="{{field}}" />
			<input type="hidden" name="value" value="{{value}}" />
		</td>
	</tr>
	{% for o in orders %}
		<tr>
			<td class="number">
				<a class="load-page" data-url="supplier/orders/{{o.id}}">{{o.id}}</a>
			</td>
			<td class="created_at">
				<a class="load-page" data-url="supplier/orders/{{o.id}}">{{o.created_at|date('d/m/Y h:i:s')}}</a>
			</td>
			<td class="user">
				<a class="load-page" data-url="supplier/orders/{{o.id}}">
					<strong>{{o.name}} ({{o.username}})</strong><br />
					{{o.email}}
				</a>
			</td>
			<td class="items">
				<a class="load-page" data-url="supplier/orders/{{o.id}}">
					{{o.items}}
				</a>
			</td>
			<td class="payment_status" data-status="{{o.payment_status}}">
				<a class="load-page" data-url="supplier/orders/{{o.id}}">
					<span>{{o.payment_status}}</span>
				</a>
			</td>
			<td class="shipping_status" data-status="{{o.shipping_status}}">
				<a class="load-page" data-url="supplier/orders/{{o.id}}">
					<span>{{o.shipping_status}}</span>
				</a>
			</td>
			<td class="total">
				<a class="load-page" data-url="supplier/orders/{{o.id}}">
					&#8353;{{o.total}}
				</a>
			</td>
		</tr>
	{% endfor %}
{% else %}
	<tr>
		<td>
			<p>{{translate('SUPPLIER_AREA.ORDER.NONE')}}</p>
		</td>
	</tr>
{% endif %}