/* Colours */

$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$pinterest: #cb2027;
$linkedin: #007bb6;
$youtube: #bb0000;
$vimeo: #aad450;
$tumblr: #32506d;
$instagram: #517fa4;
$flickr: #ff0084;
$dribbble: #ea4c89;
$quora: #a82400;
$foursquare: #0072b1;
$forrst: #5B9A68;
$vk: #45668e;
$wordpress: #21759b;
$stumbleupon: #EB4823;
$yahoo: #7B0099;
$blogger: #fb8f3d;
$soundcloud: #ff3a00;

$black: #202020;
$darkgrey: #747474;
$lightgrey: #9E9E9E;
$lightestgrey: #E0E0E0;

$red: #FF4C3D;
$secondaryred: #FE2A18;

$yellow: #FFD907;
$darkyellow: #F2B707;
$green: #4CAF50;

.bg-red {
    background-color: $red !important;
}