$widedesktop: 1500;

/*$largedesktop: 1160;*/
$largedesktop: 1300;
$smalldesktop: 780;
$tablet: 600;

@mixin at-breakpoint($breakpoint) {
    @media only screen and (max-width: $breakpoint + px) {
        @content;
    }
}

@mixin respond-to($breakpoint) {
    @media only screen and (min-width: $breakpoint + px) {
        @content;
    }
}

@mixin clearfix {
    &:after {
        clear: both;
        content: '';
        display: table;
    }
}

/* Mixins */

@mixin verticalalign {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin placeholder($colour) {
    &::-webkit-input-placeholder {
        color: $colour;
    }

    &:-moz-placeholder {
        color: $colour;
    }

    &::-moz-placeholder {
        color: $colour;
    }

    &:-ms-input-placeholder {
        color: $colour;
    }
}

@mixin float-label-container {
    display: block;
    position: relative;
}

@mixin float-label {
    label, > span {
        color: $lightgrey;
        position: absolute;
        left: 0;
        top: 0;
        cursor: text;
        font-size: 10px;
        opacity: 1;
        top: 0px;
        transition: all .2s;

        @content;

        @include respond-to($widedesktop) {
            font-size: 14px;
        }
    }
}

@mixin float-label-input {
    &::placeholder {
        opacity: 0;
        transition: all .2s;
    }
}

@mixin float-label-scaled {
    &:placeholder-shown:not(:focus) + * {
        font-size: 12px;
        top: 10px;

        @content;

        @include respond-to($largedesktop) {
            font-size: 14px;
            top: 12px;
        }


        @include respond-to($widedesktop) {
            font-size: 18px;
            top: 20px;
        }
    }

    &:placeholder-shown:not(:focus) + p {
        font-size: 9px;
        margin: 3px 0 0 0;

        @content;

        @include respond-to($largedesktop) {
            font-size: 14px;
            margin: 5px 0 3px 0;
            top: 12px;
        }


        @include respond-to($widedesktop) {
            font-size: 18px;
            top: 20px;
        }
    }
}