h1, h2 {
    font-size: 27px;

    @include respond-to($largedesktop) {
        font-size: 30px;
    }


    @include respond-to($widedesktop) {
        font-size: 34px;
    }
}

h4 {
    font-size: 16px;

    @include respond-to($tablet) {
        font-size: 18px;
    }
}

p {
    font-size: 12px;
    margin: 0 0 7px;

    @include respond-to($largedesktop) {
        font-size: 13px;
        margin: 0 0 10px;
    }


    @include respond-to($widedesktop) {
        font-size: 14px;
    }
}

a {
    color: $red;

    &:hover {
        color: darken($red, 10);
    }
}

.form-control {
    padding-left: 0;
}

button:not([data-dismiss]):not([id*="mceu"]):not(.mce-open):not([role="presentation"]):not([hidefocus="1"]), .button, input[type="submit"] {
    background-color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 300;
    height: 35px;
    line-height: 35px;
    min-width: 120px;
    padding: 0 20px;
    position: relative;
    text-align: center;
    transition: background-color 0.1s, color 0.1s;

    @include respond-to($widedesktop) {
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        min-width: 150px;
    }


    &:focus {
        outline: 0;
    }

    &:hover {
        background-color: $red;
        color: #FFFFFF;
    }

    &.btn-arrow {
        &:after {
            content: "\f105";
            font-family: FontAwesome;
            font-weight: 300;
            position: absolute;
            right: 15px;

            @include verticalalign;
        }
    }

    &.btn-disabled {
        cursor: not-allowed;
    }

    &.btn-faded {
        background-color: $lightestgrey;
        color: $darkgrey;
    }

    &.btn-green {
        background-color: $green;
        box-shadow: 0 0 5px 0px rgba($green, 0.3);
        color: #FFFFFF;

        &:hover {
            background-color: lighten($green, 10);
        }
    }

    &.btn-grey {
        background-color: $lightestgrey;
        color: $lightgrey;

        &:hover {
            background-color: darken($lightestgrey, 10);
            color: #000000;
        }
    }

    &.btn-highlight {
        background-color: $red;
        color: #FFFFFF;

        &:hover {
            background-color: #FFFFFF;
            border: 1px solid $red;
            color: $red;
            line-height: 32px;

            @include respond-to($widedesktop) {
                line-height: 39px;
            }
        }
    }

    &.btn-icon {
        padding-left: 50px;

        i {
            left: 20px;
            position: absolute;

            @include verticalalign;
        }
    }

    &.btn-large {
        height: 40px;
        line-height: 40px;
        min-width: 260px;

        @include respond-to($widedesktop) {
            height: 50px;
            line-height: 50px;
        }
    }

    &.btn-larger-width {
        min-width: 150px;
    }

    &.btn-no-shadow {
        box-shadow: none;
    }

    &.btn-red {
        background-color: $red;
        box-shadow: 0 0 5px 0px rgba($red, 0.3);
        color: #FFFFFF;

        &:hover {
            background-color: lighten($red, 10);
        }
    }

    &.btn-selected {
        cursor: default;
    }

    &.btn-small-txt {
        @include respond-to($widedesktop) {
            font-size: 13px;
        }
    }

    &.btn-white {
        background-color: #FFFFFF;
        border: 1px solid $lightgrey;
        color: $lightgrey;
        line-height: 34px;

        &:hover {
            background-color: darken(#FFFFFF, 10);
            color: #000000;
        }

        @include respond-to($widedesktop) {
            line-height: 39px;
        }
    }

    &.left-borders {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        display: block;
        float: left;
    }

    &.right-borders {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        display: block;
        float: left;
    }

    &.btn-loading {
        background-color: #000000;
        color: #000000;

        &:hover {
            background-color: #000000;
            color: #000000;
        }
    }

    &.btn-small {
        font-size: 11px;
        height: 30px;
        line-height: 29px;
        min-width: 70px;
        padding: 0 15px;
    }
}

.btn-form-holder {
    position: relative;

    .popup-form {
        background-color: #FFFFFF;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
        color: #000000;
        display: none;
        left: 0;
        margin: 0 auto;
        padding: 7px 10px;
        position: absolute;
        right: 0;
        top: 55px;
        z-index: 9999;

        &.small-form {
            max-width: 120px;
            text-align: center;

            .button {
                min-width: 0;
                width: 100%;
            }
        }

        &:before {
            color: #FFFFFF;
            content: "\f0d8";
            font-family: FontAwesome;
            font-size: 30px;
            height: 10px;
            left: 0;
            position: absolute;
            text-align: center;
            top: -27px;
            width: 100%;
            z-index: 999999;
        }

        .popup-form-buttons {
            margin-top: 10px;
        }
    }
}

i.social-icon {
    background-color: $lightgrey;
    border-radius: 20px;
    color: #FFFFFF;
    height: 20px;
    line-height: 20px;
    width: 20px;

    &:hover {
        &.fa-facebook {
            background-color: $facebook;
        }

        &.fa-linkedin {
            background-color: $linkedin;
        }

        &.fa-twitter {
            background-color: $twitter;
        }
    }

    @include respond-to($largedesktop) {
        border-radius: 25px;
        height: 25px;
        line-height: 25px;
        width: 25px;
    }
}

form, .supplier-area-form {
    .form-group {
        margin-bottom: 7px;

        @include respond-to($largedesktop) {
            margin-bottom: 10px;
        }


        @include respond-to($widedesktop) {
            margin-bottom: 15px;
        }


        &.floatlabel {
            @include float-label-container;

            @include float-label;

            select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }

            input, select {
                @include float-label-input;

                padding-top: 1em;

                @include float-label-scaled {
                    top: 10px;
                }


                &:focus {
                    outline: none;
                }
            }

            select {
                padding: 0 1em 0 0;
                background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right center;
                background-size: 8px 10px;
            }
        }
    }

    input.form-control, select, textarea {
        background: transparent;
        border: 0;
        border-bottom: 1px solid $lightgrey;
        color: $lightgrey;
        font-size: 12px;
        height: 35px;

        @include respond-to($largedesktop) {
            font-size: 14px;
            height: 40px;
        }


        @include respond-to($widedesktop) {
            font-size: 18px;
            height: 60px;
        }


        & + p, & + label + p {
            color: $red;
            font-size: 9px !important;

            @include respond-to($largedesktop) {
                font-size: 10px !important;
            }


            @include respond-to($widedesktop) {
                font-size: 12px !important;
            }
        }

        &:hover {
            border-bottom: 1px solid $darkgrey;
            color: $darkgrey;

            @include placeholder($darkgrey);

            & + label, & + p + label {
                color: $darkgrey;
            }
        }

        &:focus {
            border-bottom: 1px solid $green;
            color: $green;

            @include placeholder($green);

            & + .form-control-icon {
                color: $green;
            }

            & + label, & + p + label {
                color: $green;
            }
        }
    }

    .img-grid {
        & + p, & + label + p {
            color: $red;
            font-size: 9px !important;

            @include respond-to($largedesktop) {
                font-size: 10px !important;
            }


            @include respond-to($widedesktop) {
                font-size: 12px !important;
            }
        }
    }

    select {
        margin: 0;
        width: 100%;
    }

    .form-group.larger {
        @include respond-to($tablet) {
            input {
                font-size: 18px;
                height: 50px;

                &:placeholder-shown:not(:focus) + * {
                    font-size: 18px;
                    top: 15px;
                }
            }
        }
    }

    .form-group.has-error {
        input {
            color: $red !important;

            & + p {
                color: $red !important;

                & + label {
                    color: $red !important;
                }
            }
        }
    }

    .form-control-icon.fa {
        color: $lightgrey;
        font-size: 20px;
        height: 50px;
        left: 0;
        line-height: 48px;
        right: auto;
        width: 50px;

        @include respond-to($widedesktop) {
            height: 60px;
            line-height: 58px;
            width: 60px;
        }
    }

    .has-feedback .form-control {
        padding: 0px;
    }

    label {
        p {
            float: left;
            padding-right: 10px;

            & + .icheckbox_square-blue {
                top: -2px;
            }
        }
    }
}

.row.grey-line {
    color: $lightgrey;
    padding: 10px 0;
    position: relative;
    text-align: center;

    &:before {
        background-color: $lightgrey;
        content: '';
        display: block;
        height: 1px;
        position: absolute;
        top: 17px;
        width: 100%;
        z-index: 1;

        @include respond-to($largedesktop) {
            top: 21px;
        }
    }

    span {
        background-color: #FFF;
        display: inline-block;
        font-size: 12px;
        margin: 0 auto;
        padding: 2px 5px;
        position: relative;
        z-index: 2;

        @include respond-to($largedesktop) {
            font-size: 14px;
        }
    }
}

.row.extrapadding {
    padding: 7px 0 0 0;

    label {
        margin-bottom: 3px;
    }

    @include respond-to($largedesktop) {
        padding: 10px 0 0 0;

        label {
            margin-bottom: 5px;
        }
    }
}

.txtformatting {
    $padding: 26px;

    p {
        line-height: 26px;
    }

    p {
        padding-bottom: $padding;

        &:last-of-type {
            padding-bottom: 0;

            & + ul {
                padding-top: $padding;
            }
        }
    }

    ul, ol {
        padding-bottom: $padding;
        line-height: 24px;
    }

    ul {
        list-style: disc;

        li {
            margin-left: 17px;

            ul {
                padding-bottom: 0;
            }
        }
    }

    ol {
        list-style: decimal;

        li {
            margin-left: 21px;

            ol {
                padding-bottom: 0;
            }
        }
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 0.2s;
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration: 0.2s;
}

.spinner:before, .btn-loading:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
}

.load-page {
    cursor: pointer;
}

.fakeinput {
    position: absolute;
    left: -100000000px;
}

.goleft {
    float: left;
}

.goright {
    float: right;
}

.width-100 {
    width: 100%;
}

.hamburger {
    width: 20px;
    height: 14px;
    margin: 18px 10px 18px 18px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;

    @include respond-to($largedesktop) {
        margin: 33px 15px 33px 33px;
    }


    span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #FFFFFF;
        border-radius: 2px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2) {
            top: 7px;
        }

        &:nth-child(3) {
            top: 14px;
        }
    }

    &.open {
        span {
            &:nth-child(1) {
                top: 7px;
                -webkit-transform: rotate(135deg);
                -moz-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                transform: rotate(135deg);
            }

            &:nth-child(2) {
                opacity: 0;
                left: -60px;
            }

            &:nth-child(3) {
                top: 7px;
                -webkit-transform: rotate(-135deg);
                -moz-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
                transform: rotate(-135deg);
            }
        }
    }
}

label.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    .radio-slider {
        border-radius: 34px;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $lightgrey;
        -webkit-transition: .4s;
        transition: .4s;

        &:before {
            border-radius: 50%;
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
    }

    input {
        display: none;

        &:checked + .radio-slider {
            background-color: $red;

            &:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
            }
        }

        &:focus + .radio-slider {
            box-shadow: 0 0 1px #2196F3;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}