@import "screen";
@import "reusables";

.body-content-holder.fixedtop {
    position: fixed;
    width: 100%;
}

.site-wrapper {
    background-color: #FFFFFF;
    box-sizing: border-box;
    min-height: 100vh;
    padding-top: 80px;

    @include respond-to($largedesktop) {
        padding-top: 130px;
    }


    @include respond-to($widedesktop) {
        padding-top: 160px;
    }
}

.site-container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;

    @include respond-to($largedesktop) {
        max-width: 1200px;
    }
}

header .site-container {
    height: 100%;
    max-width: 1500px;
}

.site-menu {
    background-color: #FFFFFF;
    box-shadow: -15px 0px 20px 10px rgba(0, 0, 0, 0.75);
    height: calc(100vh - 60px);
    left: -100vw;
    opacity: 0;
    position: fixed;
    top: 60px;
    transition: all 0.3s ease;
    width: 100vw;
    z-index: 99;

    &.open {
        left: 0;
        opacity: 1;
        position: absolute;
    }

    @include respond-to($tablet) {
        left: -240px;
        max-width: 240px;
    }


    @include respond-to($largedesktop) {
        height: calc(100vh - 100px);
        top: 100px;
    }


    @include respond-to($widedesktop) {
        height: calc(100vh - 120px);
        top: 120px;
    }


    ul {
        list-style: none;
        margin: 0;
        padding-top: 10px;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-padding-start: 0px;

        a {
            color: $red;
            display: block;
            font-size: 16px;
            height: 50px;
            line-height: 50px;
            padding-left: 20px;

            i {
                margin-right: 10px;
                width: 30px;
            }
        }

        ul {
            display: none;
            margin-top: -10px;
            padding-top: 0;

            a {
                color: $darkgrey;
                font-size: 12px;
                height: 25px;
                line-height: 25px;
                padding-left: 64px;
            }
        }
    }
}

.ly-advertisement {
    border: 1px solid $lightestgrey;
    color: $lightestgrey;
    font-size: 32px;
    padding: 10px 0;
    text-align: center;

    @include respond-to($smalldesktop) {
        font-size: 35px;
        letter-spacing: 20px;
    }


    @include respond-to($largedesktop) {
        font-size: 40px;
        padding: 15px 0;
    }
}

.modal-holder {
    box-sizing: border-box;
    display: none;
    height: 100%;
    left: 0;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;

    &.img-holder {
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        z-index: 99999;
    }

    .modal-img-holder {
        height: calc(100vh - 80px);
        left: 0;
        margin: 0 auto;
        max-width: 470px;
        position: absolute;
        right: 0;

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            position: relative;

            @include verticalalign;
        }
    }

    .ly-modal {
        background-color: #FFFFFF;
        box-sizing: border-box;
        left: 0;
        margin: 0 auto;
        max-width: 560px;
        padding: 50px 20px 20px;
        position: absolute;
        right: 0;
        width: 100%;

        @include clearfix;

        @include verticalalign;

        @include respond-to($widedesktop) {
            max-width: 800px;
        }


        &.ly-extra-padding {
            padding-top: 70px;
        }

        &.thin {
            max-width: 500px;
            text-align: left;

            .img-bit {
                float: left;
                width: 160px;
            }

            .details-bit {
                float: right;
                text-align: left;
                width: calc(100% - 160px);
            }

            button {
                float: right;
                margin-right: 15px;
            }
        }

        h2 {
            color: $red;
        }

        .ly-modal-header {
            left: 20px;
            position: absolute;
            top: 20px;
            width: calc(100% - 40px);

            .ly-modal-close {
                color: $lightgrey;
                cursor: pointer;
                float: right;
                font-size: 25px;

                &:hover {
                    color: $darkgrey;
                }
            }
        }

        .ly-modal-top {
            padding-bottom: 10px;

            @include clearfix;

            &.login-switcher {
                left: 20px;
                position: absolute;
                top: 20px;
            }
        }

        #sign-in {
            padding-bottom: 20px;
            text-align: center;

            @include respond-to($widedesktop) {
                padding-top: 40px;
            }


            h2 {
                font-size: 28px;
                padding-bottom: 20px;

                @include respond-to($widedesktop) {
                    font-size: 32px;
                    padding-bottom: 40px;
                }
            }

            h4 {
                color: $lightgrey;

                a {
                    text-decoration: underline;
                }
            }

            .form-group {
                margin-left: auto;
                margin-right: auto;
                max-width: 500px;
            }
        }
    }
}

.row.grey-line.featured-top {
    margin-top: 20px;
    max-width: 100%;
    padding: 0;

    &:before, &:after {
        top: 10px;

        @include respond-to($largedesktop) {
            top: 12px;
        }
    }

    span {
        margin: 0;
        padding-right: 7px;

        i {
            margin-right: 10px;
        }
    }
}

.row.social-login-options {
    padding: 5px 0 10px;
    text-align: center;

    a {
        display: inline-block;
        color: $lightgrey;
        font-size: 12px;
        font-weight: 600;
        padding-right: 10px;
        text-decoration: none !important;

        @include respond-to($largedesktop) {
            font-size: 14px;
        }


        &:last-child {
            padding-right: 0;
        }

        &:hover {
            text-decoration: none !important;
        }

        i {
            margin-right: 3px;
        }

        &:hover {
            &.fb {
                color: $facebook;

                i {
                    background-color: $facebook;
                }
            }

            &.li {
                color: $linkedin;

                i {
                    background-color: $linkedin;
                }
            }

            &.tw {
                color: $twitter;

                i {
                    background-color: $twitter;
                }
            }

            &.gg {
                color: $googleplus;

                i {
                    background-color: $googleplus;
                }
            }
        }
    }
}

.product-listings, .featured-listings, .cart-list, .product-page {
    list-style: none;
    padding-top: 20px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0px;

    @include clearfix;

    & + .product-listings {
        padding-top: 0;
    }

    > li, .product-holder {
        background-color: #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
        margin-bottom: 25px;
        position: relative;
        transition: box-shadow 0.6s;

        @include respond-to($smalldesktop) {
            margin-bottom: 40px;
        }


        .listing-border {
            box-sizing: border-box;
            height: 100%;
            opacity: 0;
            position: absolute;
            transition: opacity 0.6s;
            width: 100%;
            z-index: 6;
        }

        .listing-percentage {
            box-sizing: border-box;
            font-size: 19px;
            font-weight: 800;
            height: 120px;
            line-height: 15px;
            padding-top: 35px;
            position: absolute;
            right: -18px;
            text-align: center;
            top: -30px;
            width: 95px;
            z-index: 10;

            span {
                font-size: 11px;
                font-weight: 700;
                letter-spacing: 2px;
            }
        }

        .listing-price {
            h3, h4 {
                margin: 0;
            }

            h4 {
                color: $darkgrey;
                text-decoration: line-through;
            }

            h3 {
                font-weight: 700;
            }
        }

        .listing-soldout {
            background: url($url + "soldout.png") center top no-repeat;
            background-size: 220px;
            display: none;
            height: 262px;
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 20;

            @include respond-to($largedesktop) {
                background-size: auto;
            }


            .soldout-txt {
                color: #FFF;
                font-size: 31px;
                font-weight: 700;
                left: 8px;
                line-height: 23px;
                margin: 0 auto;
                position: absolute;
                right: 0;
                text-align: center;
                top: 140px;
                transform: rotate(-9deg);
                width: 210px;

                @include respond-to($largedesktop) {
                    left: 0;
                    top: 168px;
                }


                span {
                    color: $lightestgrey;
                    font-size: 15px;
                    font-weight: 300;
                }
            }
        }

        .listing-title {
            background-color: $red;
            color: #FFFFFF;
            height: 35px;
            line-height: 35px;
            text-align: center;

            @include respond-to($largedesktop) {
                height: 45px;
                line-height: 45px;
            }
        }

        .listing-top {
            border-bottom: 1px solid $lightestgrey;

            .listing-active {
                span {
                    color: $lightgrey;
                    font-size: 12px;
                    opacity: 0.6;
                    padding-right: 10px;

                    @include respond-to($largedesktop) {
                        font-size: 14px;
                    }


                    &.selected {
                        color: $green;
                        opacity: 1;
                    }

                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        }

        &:not(.sold-out):hover {
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            transition: box-shadow 0.05s;

            .listing-main .listing-hover, .listing-border {
                opacity: 1;
                transition: opacity 0.05s;
            }
        }

        &.sold-out {
            .listing-soldout {
                display: block;
            }

            .listing-holder {
                opacity: 0.5;
            }
        }
    }
}

.featured-listings {
    li {
        .listing-border {
            border: 2px solid $darkyellow;
        }

        .listing-percentage {
            background: url($url + "star_featured.png") no-repeat;
            background-size: contain;
            color: #FFFFFF;
        }

        .listing-title {
            background-color: $darkyellow;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 2px;
            text-transform: uppercase;

            @include respond-to($largedesktop) {
                font-size: 14px;
            }
        }

        .listing-top {
            line-height: 40px;

            @include clearfix;

            @include respond-to($largedesktop) {
                line-height: 60px;
            }


            * {
                box-sizing: border-box;
            }

            .listing-featured-star {
                background: url($url + "star_featured_left.png") no-repeat center;
                background-size: 25px;
                border-right: 1px solid $lightestgrey;
                float: left;
                height: 40px;
                width: 100px;

                @include respond-to($largedesktop) {
                    background-size: 40px;
                    height: 60px;
                }
            }

            .listing-active {
                box-sizing: border-box;
                float: left;
                padding-left: 15px;
                text-align: left;
                width: calc(100% - 100px);

                @include respond-to(440) {
                    padding-left: 0;
                    text-align: center;
                }


                @include respond-to($smalldesktop) {
                    border-right: 1px solid $lightestgrey;
                    width: 155px;
                }


                @include respond-to($largedesktop) {
                    width: 175px;
                }
            }

            .featured-title {
                border-top: 1px solid $lightestgrey;
                clear: both;
                text-align: center;

                @include respond-to($tablet) {
                    clear: none;
                    float: left;
                    width: calc(100% - 280px);
                }


                @include respond-to($smalldesktop) {
                    border-top: 0;
                    width: calc(100% - 555px);
                }


                h4 {
                    line-height: 40px;
                    margin: 0;

                    @include respond-to($largedesktop) {
                        line-height: 60px;
                    }


                    @include at-breakpoint($largedesktop) {
                        font-size: 13px;
                    }
                }
            }

            .listing-price {
                padding: 0 40px 10px;

                @include clearfix;

                @include respond-to($tablet) {
                    border-top: 1px solid $lightestgrey;
                    border-left: 1px solid $lightestgrey;
                    float: right;
                    padding: 0 85px 0 20px;
                    width: 240px;
                }


                @include respond-to($smalldesktop) {
                    border-top: 0;
                }


                @include respond-to($largedesktop) {
                    width: 280px;
                }


                h3, h4 {
                    display: block;
                    line-height: 20px;

                    @include respond-to($tablet) {
                        line-height: 40px;
                    }


                    @include respond-to($largedesktop) {
                        line-height: 60px;
                    }
                }

                h4 {
                    float: left;

                    @include at-breakpoint($largedesktop) {
                        font-size: 12px;
                    }
                }

                h3 {
                    color: $darkyellow;
                    float: right;

                    @include at-breakpoint($largedesktop) {
                        font-size: 18px;
                    }
                }
            }
        }

        .featured-main {
            clear: both;
            padding: 20px;
            position: relative;
            z-index: 15;

            @include clearfix;

            .featured-image {
                background-position: center;
                background-repeat: no-repeat;
                box-sizing: border-box;
                height: 130px;

                @include respond-to($smalldesktop) {
                    border-right: 1px solid $lightestgrey;
                    float: left;
                    width: 30%;
                }
            }

            .featured-description {
                box-sizing: border-box;

                @include respond-to($smalldesktop) {
                    float: left;
                    padding: 10px 0 10px 20px;
                    width: 70%;
                }


                p {
                    color: $darkgrey;
                }
            }

            .featured-bottom {
                clear: both;

                .view-product {
                    margin-right: 20px;
                }
            }
        }
    }
}

.product-page {
    .product-holder {
        .listing-border {
            border: 2px solid $red;
            opacity: 1;
        }

        .listing-percentage {
            background: url($url + "star.png") no-repeat;
            background-size: contain;
            color: #FFFFFF;
            padding-top: 31px;

            @include respond-to($smalldesktop) {
                font-size: 38px;
                height: 190px;
                padding-top: 64px;
                right: -30px;
                top: -50px;
                width: 180px;
            }


            span {
                display: block;
                font-size: 9px;
                letter-spacing: 0;
                padding-bottom: 3px;

                @include respond-to($smalldesktop) {
                    font-size: 11px;
                    padding-bottom: 15px;
                }
            }
        }

        .product-top, .product-body, .product-bottom {
            position: relative;
            z-index: 9;
        }

        .product-top {
            background-color: $red;
            padding: 10px;

            @include clearfix;

            @include respond-to($tablet) {
                padding: 15px 85px 15px 15px;
            }


            @include respond-to($smalldesktop) {
                box-sizing: border-box;
                height: 70px;
                padding: 15px 165px 15px 25px;
            }


            h1 {
                color: #FFFFFF;
                font-size: 12px;
                margin: 0;

                @include respond-to($tablet) {
                    float: left;
                    font-size: 20px;
                }


                @include respond-to($smalldesktop) {
                    line-height: 40px;
                    position: relative;
                }
            }

            .product-price {
                padding-top: 5px;

                @include respond-to($tablet) {
                    float: right;
                    padding-top: 0;
                }


                @include respond-to($smalldesktop) {
                    margin-top: -5px;
                    text-align: center;
                }


                p {
                    color: #FFFFFF;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 18px;
                    margin: 0;

                    @include respond-to($tablet) {
                        font-size: 18px;
                    }


                    span {
                        font-weight: 300;
                        opacity: 0.6;
                        text-decoration: line-through;

                        @include respond-to($tablet) {
                            display: inline-block;
                            font-size: 12px;
                            padding-right: 5px;
                        }
                    }

                    @include respond-to($smalldesktop) {
                        font-size: 22px;

                        span {
                            font-size: 14px;
                            padding-bottom: 5px;
                        }
                    }


                    br {
                        display: none;

                        @include respond-to($smalldesktop) {
                            display: block;
                        }
                    }
                }
            }
        }

        .product-body {
            padding: 10px;

            @include clearfix;

            @include respond-to($tablet) {
                padding: 15px;
            }


            .product-info {
                @include clearfix;

                .product-desc {
                    border-bottom: 1px solid $lightestgrey;

                    p {
                        color: $darkgrey;
                    }

                    @include respond-to($smalldesktop) {
                        border-bottom: 0;
                        border-right: 1px solid $lightestgrey;
                        box-sizing: border-box;
                        float: left;
                        padding-right: 20px;
                        width: calc(100% - 540px);
                    }
                }

                .supplier-desc {
                    padding: 10px 0;

                    @include clearfix;

                    @include respond-to($smalldesktop) {
                        box-sizing: border-box;
                        float: right;
                        padding-left: 20px;
                        width: 540px;
                    }
                }

                .supplier-card {
                    @include respond-to(410) {
                        float: left;
                        padding-right: 20px;
                    }


                    @include respond-to($smalldesktop) {
                        padding-right: 30px;
                    }
                }

                .supplier-stats {
                    color: $darkgrey;
                    font-size: 12px;
                    padding: 5px 0;

                    @include clearfix;

                    @include respond-to(410) {
                        float: left;
                        padding: 0;
                        max-width: 220px;
                    }


                    @include respond-to($tablet) {
                        max-width: 300px;
                    }


                    @include respond-to($smalldesktop) {
                        max-width: 200px;
                    }


                    .left, .right {
                        width: 130px;

                        @include respond-to(410) {
                            width: 110px;
                        }


                        @include respond-to($tablet) {
                            width: 150px;
                        }


                        @include respond-to($smalldesktop) {
                            width: 100px;
                        }
                    }

                    .left {
                        float: left;
                    }

                    .right {
                        float: right;
                    }

                    .stat {
                        line-height: 20px;

                        i {
                            margin-right: 5px;
                        }
                    }
                }

                .customise-holder {
                    p {
                        display: none;
                    }

                    @include respond-to($tablet) {
                        float: right;

                        p {
                            color: $lightgrey;
                            display: block;
                            font-size: 8px;
                            text-align: center;
                        }
                    }
                }

                .customise-product {
                    margin-top: 5px;
                    width: 100%;

                    @include respond-to($tablet) {
                        width: auto;
                    }
                }
            }

            .product-bottom {
                clear: both;
                text-align: center;

                @include clearfix;

                @include respond-to($tablet) {
                    margin: 10px auto;
                    width: 300px;
                }


                @include respond-to($smalldesktop) {
                    margin-top: 20px;
                }


                .load-page {
                    float: left;
                }

                .buy-product {
                    float: right;
                }
            }
        }
    }
}

.product-listings {
    li {
        @include respond-to($tablet) {
            float: left;
            width: calc(50% - 20px);

            &:nth-child(odd) {
                float: right;
            }
        }


        @include respond-to($smalldesktop) {
            margin-right: 30px;
            width: calc((100% / 3) - 20px);

            &:nth-child(odd) {
                float: left;
                margin-right: 30px;
            }

            &:nth-child(3n) {
                margin-right: 0;
            }
        }


        .listing-border {
            border: 2px solid $red;
        }

        .listing-main {
            background-position: center top;
            background-repeat: no-repeat;
            background-size: auto 140px;
            height: 190px;
            position: relative;

            @include respond-to($largedesktop) {
                background-size: auto 160px;
                height: 210px;
            }


            .listing-hover {
                bottom: 10px;
                left: 0;
                margin: 0 auto;
                opacity: 0;
                position: absolute;
                right: 0;
                transition: opacity 0.6s;
                width: calc(100% - 30px);
                z-index: 9;

                .button {
                    &.view-product {
                        float: left;
                    }

                    &.buy-product {
                        float: right;
                    }
                }
            }

            .listing-price {
                bottom: 10px;
                left: 0;
                position: absolute;
                text-align: center;
                width: 100%;
                z-index: 5;

                h3 {
                    color: $red;
                    font-size: 18px;

                    @include respond-to($largedesktop) {
                        font-size: 24px;
                    }
                }

                h4 {
                    padding-bottom: 4px;
                    font-size: 12px;
                    opacity: 0.7;

                    @include respond-to($largedesktop) {
                        font-size: 18px;
                    }
                }
            }
        }

        .listing-percentage {
            background: url($url + "star.png") no-repeat;
            background-size: contain;
        }

        .listing-title {
            background-color: $red;
        }

        .listing-top {
            height: 40px;
            line-height: 40px;
            padding-left: 20px;

            @include respond-to($largedesktop) {
                height: 50px;
                line-height: 50px;
            }
        }
    }
}

.cart-list {
    li {
        margin-bottom: 20px;
        position: relative;
        z-index: 2;

        &:hover {
            z-index: 99999;
        }

        .cart-item-holder {
            padding: 10px;
            position: relative;
            z-index: 99;

            @include clearfix;
        }

        .listing-border {
            border: 2px solid $red;
        }

        .cart-img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            border: 1px solid $lightestgrey;
            float: left;
            height: 100px;
            width: 100px;

            @include respond-to($tablet) {
                border: 0;
                border-right: 1px solid $lightestgrey;
                box-sizing: border-box;
                width: 180px;
            }


            @include respond-to($largedesktop) {
                width: 240px;
            }
        }

        .cart-details {
            float: right;
            width: calc(100% - 110px);

            @include respond-to($tablet) {
                box-sizing: border-box;
                float: left;
                padding-left: 15px;
                width: 220px;
            }


            @include respond-to($smalldesktop) {
                padding: 18px 0 0px 20px;
                width: 250px;
            }


            @include respond-to($largedesktop) {
                width: 360px;
            }


            h3, h4 {
                margin: 0;
            }

            h3 {
                font-weight: 700;
            }

            h4 {
                @include respond-to($tablet) {
                    padding-bottom: 4px;
                }


                @include respond-to($smalldesktop) {
                    padding-bottom: 10px;
                }
            }

            > h4 {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
            }

            .cart-prices {
                float: left;

                @include respond-to($tablet) {
                    float: none;
                }


                h3, h4 {
                    display: inline-block;
                    line-height: 30px;

                    @include respond-to($smalldesktop) {
                        line-height: 40px;
                    }
                }

                h3 {
                    color: $red;
                    font-size: 22px;
                    margin-right: 5px;

                    @include respond-to($smalldesktop) {
                        font-size: 26px;
                    }


                    @include respond-to($largedesktop) {
                        font-size: 34px;
                        margin-right: 8px;
                    }
                }

                h4 {
                    color: $darkgrey;
                    font-size: 12px;
                    opacity: 0.7;
                    padding-bottom: 0;
                    text-decoration: line-through;

                    @include respond-to($smalldesktop) {
                        font-size: 16px;
                    }
                }
            }
        }

        .cart-supplier {
            float: right;
            height: 50px;
            position: relative;
            width: calc(100% - 110px);

            @include respond-to($tablet) {
                position: absolute;
                left: 205px;
                top: 70px;
            }


            @include respond-to($smalldesktop) {
                float: left;
                height: 40px;
                left: 0;
                min-width: 120px;
                position: relative;
                top: 49px;
                width: auto;
            }


            .supplier-card {
                bottom: 10px;
                position: absolute;
                width: 100%;
            }
        }

        .cart-controls {
            clear: both;
            padding-top: 10px;

            @include respond-to($tablet) {
                clear: none;
                float: right;
                padding-top: 15px;
            }


            @include respond-to($smalldesktop) {
                padding-top: 7px;
            }


            .button, .btn-form-holder {
                margin-bottom: 5px;
                width: 100%;

                @include respond-to($tablet) {
                    width: auto;

                    &:nth-child(1), &:nth-child(2) {
                        margin-bottom: 5px;
                    }
                }
            }

            .btn-form-holder {
                @include respond-to($tablet) {
                    width: 150px;
                }
            }
        }
    }
}

.cart-bottom {
    @include clearfix;

    .cart-breakdown {
        box-sizing: border-box;
        list-style: none;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-padding-start: 0px;

        @include respond-to($tablet) {
            border-right: 1px solid $lightestgrey;
            float: left;
            padding-right: 30px;
            width: 250px;
        }


        li {
            color: $lightgrey;
            line-height: 25px;

            span {
                color: $red;
                float: right;
                font-weight: 700;
            }
        }
    }

    .cart-total {
        padding-top: 5px;

        @include respond-to($tablet) {
            float: left;
            height: 75px;
            padding-left: 30px;
            padding-top: 0;
        }


        h3 {
            color: $lightgrey;
            font-weight: 300;
            margin: 0;

            @include respond-to($tablet) {
                line-height: 75px;
            }


            span {
                color: $red;
                float: right;
                font-weight: 700;

                @include respond-to($tablet) {
                    float: none;
                }
            }
        }
    }

    .cart-buttons {
        height: 75px;

        @include respond-to($tablet) {
            float: right;
        }


        .button {
            display: block;
            float: right;
            position: relative;

            @include verticalalign;

            @include respond-to($tablet) {
                float: left;
            }


            &[data-url=""] {
                float: left;
                margin-right: 10px;
            }
        }
    }
}

.checkout-holder {
    padding-bottom: 50px;

    @include clearfix;

    h1 {
        color: $darkgrey;
        margin-bottom: 40px;
        text-align: center;
    }

    .card-holder {
        height: 350px;
        position: relative;

        @include respond-to($smalldesktop) {
            border-right: 1px solid $lightestgrey;
            float: left;
            width: 540px;
        }


        @include respond-to($widedesktop) {
            height: 460px;
            width: 700px;
        }


        .card-front, .card-back {
            border-radius: 15px;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
            box-sizing: border-box;
            color: #FFFFFF;
            padding: 20px;
            position: absolute;

            @include respond-to($smalldesktop) {
                height: 240px;
                width: 410px;
            }


            @include respond-to($largedesktop) {
                height: 255px;
            }


            @include respond-to($widedesktop) {
                border-radius: 20px;
                height: 320px;
                padding: 35px;
                width: 540px;
            }
        }

        .card-front {
            background: $red;
            background: -moz-linear-gradient(left, #ff4c3d 0%, #FF5E59 100%);
            background: -webkit-linear-gradient(left, #ff4c3d 0%, #FF5E59 100%);
            background: linear-gradient(to right, #ff4c3d 0%, #FF5E59 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4c3d', endColorstr='#FF5E59',GradientType=1 );
            left: 0;
            top: 0;
            z-index: 2;

            .card-top {
                @include clearfix;

                .card-price {
                    float: left;
                    font-size: 18px;
                    line-height: 50px;

                    @include respond-to($widedesktop) {
                        font-size: 24px;
                        line-height: 75px;
                    }


                    span {
                        font-weight: 700;
                    }
                }

                .card-type {
                    float: right;

                    .card-type-select {
                        text-align: center;
                        width: 100px;

                        @include respond-to($widedesktop) {
                            width: 130px;
                        }


                        i {
                            font-size: 56px;

                            @include respond-to($widedesktop) {
                                font-size: 75px;
                            }
                        }
                    }

                    .explanation {
                        border-top: 1px solid rgba(255, 255, 255, 0.3);
                        color: rgba(255, 255, 255, 0.35);
                        font-size: 9px;
                        margin-top: 2px;
                        padding-top: 4px;
                        text-align: center;
                    }
                }
            }

            .card-details {
                .card-row {
                    margin-bottom: 8px;

                    &.has-success {
                        input {
                            color: #FFFFFF;
                            position: relative;

                            & + label {
                                color: #FFFFFF;
                            }
                        }

                        &:after {
                            color: #FFFFFF;
                            content: "\f00c";
                            font-family: FontAwesome;
                            position: absolute;
                            right: 0;

                            @include verticalalign;
                        }
                    }
                }

                input {
                    padding-top: 16px;
                }

                select {
                    background-color: transparent;
                    border: 0;
                    border-bottom: 1px solid #FFFFFF;
                    color: #FFFFFF;
                    height: 35px;
                    font-size: 12px;
                    font-weight: 300;
                    opacity: 0.7;
                    padding: 0;

                    &:focus {
                        border-bottom: 1px solid #FFFFFF;
                        opacity: 1;
                    }

                    @include placeholder(#FFFFFF);

                    @include respond-to($largedesktop) {
                        font-size: 14px;
                        height: 40px;
                    }
                }

                select {
                    color: rgba(255, 255, 255, 0.7);
                    float: left;
                    font-weight: 300;
                    line-height: 40px;
                    margin-right: 20px;
                }

                .bottom-row {
                    label {
                        color: rgba(255, 255, 255, 0.7);
                        font-size: 12px;
                        float: left;
                        font-weight: 300;
                        line-height: 40px;
                        margin-right: 20px;

                        @include respond-to($largedesktop) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .card-details, .csv-holder {
            .card-row {
                margin-bottom: 15px;
            }

            select {
                background-color: transparent;
                border: 0;
                border-bottom: 1px solid #FFFFFF;
                color: #FFFFFF;
                height: 40px;
                font-size: 14px;
                font-weight: 300;
                opacity: 0.7;
                padding: 0;

                &:focus {
                    border-bottom: 1px solid #FFFFFF;
                    opacity: 1;
                }

                @include placeholder(#FFFFFF);
            }

            select {
                color: rgba(255, 255, 255, 0.7);
                float: left;
                font-weight: 300;
                line-height: 40px;
                margin-right: 20px;
            }
        }

        .card-back {
            background: #FF5E59;
            background: -moz-linear-gradient(left, #FF5E59 0%, #ff4c3d 100%);
            background: -webkit-linear-gradient(left, #FF5E59 0%, #ff4c3d 100%);
            background: linear-gradient(to right, #FF5E59 0%, #ff4c3d 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF5E59', endColorstr='#ff4c3d',GradientType=1 );
            bottom: 70px;
            right: 20px;
            z-index: 1;

            .card-strip {
                background-color: #000000;
                position: absolute;
                height: 60px;
                left: 0;
                top: 60px;
                width: 100%;
            }

            .csv-holder {
                position: absolute;
                bottom: 70px;
                right: 10px;
                width: 90px;

                @include respond-to($largedesktop) {
                    bottom: 60px;
                }


                @include respond-to($widedesktop) {
                    bottom: 90px;
                    width: 110px;
                }


                i {
                    opacity: 0.6;
                    position: absolute;
                    right: 0;

                    @include verticalalign;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        .card-bottom {
            bottom: 0;
            position: absolute;
            right: 20px;

            .button {
                display: block;
                float: left;

                &.btn-white {
                    margin-right: 20px;
                }
            }
        }
    }

    .cart-holder {
        @include respond-to($smalldesktop) {
            float: right;
            width: calc(100% - 560px);
        }


        @include respond-to($widedesktop) {
            width: calc(100% - 720px);
        }


        .cart-list {
            @include respond-to($smalldesktop) {
                height: 240px;
                margin: -10px -10px 20px -10px;
                overflow: hidden;
                padding: 10px;
            }


            @include respond-to($widedesktop) {
                height: 360px;
            }


            .cart-item {
                .cart-img {
                    width: 100px;

                    @include respond-to($widedesktop) {
                        width: 170px;
                    }
                }

                .cart-details {
                    width: calc(100% - 190px);

                    .cart-prices {
                        h3 {
                            font-size: 24px;
                        }

                        h4 {
                            font-size: 16px;
                        }
                    }
                }

                .cart-buttons {
                    height: 100%;
                    opacity: 0;
                    position: absolute;
                    right: 25px;
                    text-align: center;
                    top: 0;
                    transition: opacity 0.1s;
                    width: 35px;

                    .customise-product, .cart-remove {
                        cursor: pointer;

                        i {
                            font-size: 20px;
                            font-weight: 700;
                        }

                        &.btn-loading {
                            i {
                                opacity: 0;
                            }
                        }
                    }

                    .customise-product {
                        position: absolute;
                        top: 25px;
                    }

                    .cart-remove {
                        bottom: 25px;
                        position: absolute;
                    }
                }

                &:hover {
                    .cart-buttons {
                        opacity: 1;
                        transition: opacity 0.1s;
                    }
                }
            }
        }

        .cart-bottom {
            .cart-breakdown {
                border-right: 0;
                float: right;
                padding-right: 0;
            }
        }
    }
}

body.skin-ly.supplier-area-skin {
    .site-header {
        background-color: $darkgrey;

        .site-container {
            .logo {
                @include respond-to($smalldesktop) {
                    background-size: 150px;
                    width: 34px;
                }
            }
        }
    }

    .site-wrapper {
        background-color: #f4f6f8;

        .supplier-area-top {
            padding-bottom: 15px;

            @include clearfix;

            h1 {
                float: left;
                font-size: 18px;
                line-height: 38px;
                margin: 0;

                @include respond-to($largedesktop) {
                    font-size: 27px;
                }
            }

            .button {
                float: right;

                &:last-child {
                    margin-right: 10px;
                }
            }

            &.butt {
                .button {
                    float: left;

                    &.save-product {
                        margin-right: 20px;
                    }
                }
            }
        }
    }

    .supplier-area-form {
        @include clearfix;

        .supplier-area-left {
            @include respond-to($smalldesktop) {
                float: left;
                width: calc(((100% / 3) * 2) - 5px);
            }
        }

        .supplier-area-right {
            @include respond-to($smalldesktop) {
                float: right;
                width: calc((100% / 3) - 5px);
            }
        }

        &.variant-form {
            .supplier-area-left {
                @include respond-to($smalldesktop) {
                    width: calc((100% / 3) - 5px);
                }
            }

            .supplier-area-right {
                @include respond-to($smalldesktop) {
                    width: calc(((100% / 3) * 2) - 5px);
                }
            }

            .variant-image {
                float: left;
                padding: 0;
                width: 180px;

                .img, .dz-default {
                    display: block;
                    height: 180px;
                    margin: 0;
                    width: 180px;

                    &.dz-message {
                        border: 1px solid $lightgrey;
                        cursor: pointer;
                        line-height: 180px;
                        text-align: center;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .options {
                float: right;
                width: calc(100% - 200px);
            }

            .variant-product {
                padding: 10px;

                @include clearfix;

                img {
                    float: left;
                    width: 70px;
                }

                .details {
                    float: right;
                    width: calc(100% - 85px);
                }
            }

            .variant-list {
                ul {
                    list-style: none;
                    margin: 0px 0 0 -15px;
                    -webkit-margin-before: 0em;
                    -webkit-margin-after: 0em;
                    -webkit-padding-start: 0px;
                    width: calc(100% + 30px);

                    li {
                        padding: 0 15px;

                        &:hover {
                            background-color: #f4f6f8;
                        }

                        &.cur {
                            background-color: $red;

                            * {
                                color: #FFF;
                            }
                        }

                        a {
                            display: block;
                            height: 60px;
                            line-height: 60px;

                            @include clearfix;

                            .img {
                                background: url($url + "placeholder.png") center no-repeat;
                                background-size: cover;
                                border: 1px solid $lightestgrey;
                                float: left;
                                height: 40px;
                                margin-top: 10px;
                                width: 40px;

                                img {
                                    display: block;
                                }
                            }

                            .title {
                                float: right;
                                width: calc(100% - 65px);
                            }
                        }
                    }
                }
            }
        }

        .supplier-form-box {
            background-color: #FFF;
            border-radius: 3px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
            margin-bottom: 10px;
            padding: 10px 15px 10px 15px;

            @include clearfix;

            &.box-highlight {
                background-color: #000;
                color: #FFF;

                .switch {
                    float: right;
                }

                strong {
                    line-height: 35px;
                }
            }

            &.box-status {
                background-color: $red;
                color: #FFF;

                span {
                    float: right;
                }
            }

            .supplier-row {
                margin-bottom: 10px;

                &:not(.floatlabel) {
                    label {
                        display: block;
                        color: $lightgrey;
                        font-size: 12px;

                        @include respond-to($largedesktop) {
                            font-size: 14px;
                        }
                    }
                }

                &.fee-calculation {
                    ul {
                        list-style: none;
                        margin: 0;
                        -webkit-margin-before: 0em;
                        -webkit-margin-after: 0em;
                        -webkit-padding-start: 0px;

                        li {
                            display: none;

                            @include clearfix;

                            strong {
                                float: left;
                            }

                            span {
                                float: right;
                            }

                            &[data-row="customer"] {
                                background-color: #000;
                                border-radius: 5px;
                                color: #FFF;
                                display: block;
                                margin: 5px -5px 0 -5px;
                                padding: 8px 5px;
                            }
                        }
                    }
                }

                &.order-payment-details {
                    line-height: 30px;

                    span {
                        float: right;
                    }
                }

                &.title-row {
                    padding-top: 5px;

                    @include clearfix;

                    strong {
                        float: left;
                    }

                    a {
                        cursor: pointer;
                        float: right;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .variant-area {
            @include clearfix;

            .add-variant {
                margin-top: 5px;
            }

            .variant-name, .variant-values {
                float: left;
            }

            .variant-name {
                margin-right: 10px;
                width: 150px;
            }

            .variant-values {
                width: calc(100% - 205px);
            }

            .new-variant {
                position: relative;
            }

            .variant-trash {
                background-color: $lightgrey;
                bottom: 0;
                color: #FFF;
                cursor: pointer;
                display: none;
                height: 35px;
                line-height: 35px;
                position: absolute;
                right: 0;
                text-align: center;
                width: 35px;

                &:before {
                    content: "\f1f8";
                    font-family: FontAwesome;
                }

                &:hover {
                    background-color: $red;
                }
            }

            .variants-top, .new-variant {
                margin-bottom: 5px;
                position: relative;

                @include clearfix;

                input {
                    width: 100%;
                }

                .variant-name {
                    min-height: 1px;

                    input {
                        bottom: 0;
                        position: absolute;
                        width: 150px;
                    }
                }
            }

            .variant-table {
                margin-top: 30px;
                width: 100%;

                .cloneme {
                    display: none;
                }

                .deleting {
                    td:not(.variant-actions) {
                        opacity: 0.3;
                        pointer-events: none;
                    }

                    .variant-actions {
                        .fa-edit {
                            opacity: 0.3;
                            pointer-events: none;
                        }

                        .fa-undo {
                            &:before {
                                content: "\f0e2";
                            }
                        }
                    }
                }

                .select {
                    width: 50px;
                }

                tr {
                    height: 35px;
                }

                .variant-title {
                    min-width: 120px;
                    padding-right: 20px;

                    span {
                        display: inline-block;
                        font-weight: 700;

                        &.option_1 {
                            color: $red;
                        }

                        &.option_2 {
                            color: $green;
                        }

                        &.option_3 {
                            color: $darkyellow;
                        }

                        & + span {
                            &:before {
                                color: #000;
                                content: '\2022';
                                padding: 0 3px;
                            }
                        }
                    }
                }

                .variant-sku, .variant-barcode {
                    padding-right: 20px;
                    width: 130px;

                    input {
                        width: 100%;
                    }
                }

                .variant-quantity {
                    width: 50px;

                    input {
                        width: 100%;
                    }
                }

                .variant-actions {
                    text-align: right;
                    width: 80px;

                    a {
                        cursor: pointer;
                        border-radius: 3px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        width: 30px;

                        &.fa-edit {
                            background-color: $red;
                            color: #FFF;
                        }

                        &.fa-trash, &.fa-undo {
                            background-color: $lightgrey;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}

.order-summary {
    width: 100%;

    thead {
        font-weight: 700;

        tr {
            td {
                border-bottom: 1px solid $lightgrey;
            }
        }
    }

    tr {
        td {
            border-bottom: 1px solid $lightestgrey;
            line-height: 40px;

            a {
                color: $red;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &.subs {
            color: $darkgrey;
        }

        &.totals {
            font-size: 15px;
            font-weight: 700;
        }
    }
}

.tag-area {
    .tag-holder {
        list-style: none;
        margin: 0;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-padding-start: 0px;

        li {
            background-color: $red;
            color: #FFF;
            float: left;
            margin: 0 3px 3px 0;
            padding: 5px;

            i {
                cursor: pointer;
                margin-left: 5px;
            }
        }
    }
}

.new-variant {
    &:nth-child(2) {
        .tag-area {
            .tag-holder {
                li {
                    background-color: $green;
                }
            }
        }
    }

    &:nth-child(3) {
        .tag-area {
            .tag-holder {
                li {
                    background-color: $darkyellow;
                }
            }
        }
    }
}

.table-search {
    background-color: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
    padding: 10px;

    input {
        height: 40px;
        text-indent: 10px;
        width: 100%;
    }
}

table.product-table {
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 25px;
    width: 100%;

    &.iamloading {
        min-height: 545px;
    }

    thead {
        font-weight: 700;

        td {
            cursor: pointer;
        }
    }

    tr {
        td {
            border-bottom: 1px solid $lightestgrey;
            line-height: 50px;
            padding: 5px 0;

            a {
                color: #000;
            }

            img {
                margin-left: 10px;
                width: 50px;
            }

            &.name {
                a {
                    color: $red;
                }
            }

            &.select {
                padding-left: 10px;
            }

            &.status {
                padding-right: 10px;
            }
        }
    }

    &.inventory-table, &.order-table {
        tr {
            td {
                max-width: 200px;
                min-width: 100px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &.select {
                    width: 120px;
                }

                &.name, &.user {
                    line-height: 20px;

                    a {
                        &:hover {
                            text-decoration: underline;
                        }

                        &.variant-name {
                            color: $darkgrey !important;
                            font-size: 12px;
                            font-weight: 400;
                        }
                    }
                }

                &.sku {
                    max-width: 130px;
                }

                &.update {
                    max-width: 100%;
                    width: 310px;
                }

                input[type="number"], .button {
                    display: block;
                    float: left;
                }

                input[type="number"] {
                    height: 30px;
                    text-align: center;
                    width: 80px;
                }

                .addition {
                    display: none;

                    &.vis {
                        display: inline-block;
                    }
                }

                .button {
                    &.add {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }

                    &.set {
                        border-radius: 0;
                    }

                    &.save {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;

                        &:hover {
                            background-color: #000;
                            border: 0;
                            line-height: 30px;
                        }
                    }

                    &.btn-grey {
                        cursor: default;
                        pointer-events: none;
                    }

                    &.btn-highlight:not(.save):hover {
                        line-height: 27px;
                    }
                }

                .addition {
                    i {
                        color: $lightgrey;
                        font-size: 12px;
                        margin: 0 5px;
                    }

                    b {
                        background-color: $red;
                        border-radius: 3px;
                        box-sizing: border-box;
                        color: #FFF;
                        display: inline-block;
                        font-weight: 400;
                        height: 20px;
                        line-height: 20px;
                        min-width: 20px;
                        padding: 0 2px;
                        text-align: center;
                    }
                }
            }
        }
    }

    &.order-table {
        tr {
            td {
                padding: 10px;
            }
        }

        tbody {
            tr {
                td {
                    &.user {
                        font-size: 12px;

                        strong {
                            font-size: 14px;
                        }
                    }

                    &[data-status] {
                        span {
                            border-radius: 3px;
                            display: inline-block;
                            font-size: 12px;
                            line-height: 15px;
                            padding: 3px 5px;
                        }

                        &[data-status="Paid"] {
                            span {
                                background-color: $green;
                            }
                        }

                        &[data-status="Unpaid"] {
                            span {
                                background-color: $red;
                            }
                        }

                        &[data-status="Incomplete"] {
                            span {
                                background-color: $lightgrey;
                            }
                        }

                        &[data-status="Complete"] {
                            span {
                                background-color: $green;
                            }
                        }
                    }
                }
            }
        }
    }
}

.order-list {
    .from-to {
        clear: both;
        padding-top: 10px;

        @include clearfix;

        input {
            margin-bottom: 10px;

            @include respond-to($smalldesktop) {
                margin-bottom: 0;
                width: calc(50% - 5px);

                &:first-child {
                    float: left;
                }

                &:last-child {
                    float: right;
                }
            }
        }
    }
}

.account-box {
    margin-top: 20px;

    @include respond-to($smalldesktop) {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
        border: 2px solid $red;
        padding: 20px;
    }


    .top {
        @include clearfix;

        @include respond-to($tablet) {
            border-bottom: 1px solid $lightestgrey;
            margin-bottom: 10px;
            padding-bottom: 10px;
        }


        .profile {
            @include clearfix;

            @include respond-to($tablet) {
                float: left;
            }


            .user-photo {
                background-color: $red;
                border-radius: 50px;
                float: left;
                height: 50px;
                margin-right: 20px;
                width: 50px;
            }

            .details {
                float: left;

                h2 {
                    line-height: 50px;
                    margin: 0;
                }
            }
        }

        .buttons {
            @include clearfix;

            @include respond-to($tablet) {
                float: right;
                padding-top: 8px;
            }


            .button {
                display: block;
                margin-bottom: 10px;

                @include respond-to($tablet) {
                    float: left;
                    margin-bottom: 0;
                    margin-right: 5px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .main {
        @include clearfix;

        padding: 20px 0;

        h3 {
            color: $darkgrey;
            font-weight: 700;
            margin: 0;
            padding-bottom: 20px;
        }

        .account-left, .account-right {
            padding: 15px 0;
        }

        .account-left {
            @include respond-to($smalldesktop) {
                float: left;
                padding-left: 20px;
                width: calc(100% - 480px);
            }
        }

        .account-right {
            @include respond-to($smalldesktop) {
                border-left: 1px solid $lightestgrey;
                float: right;
                padding-left: 30px;
                width: 460px;
            }
        }
    }

    .bottom {
        clear: both;
        margin-top: 10px;
    }
}

.table-pagination {
    display: none;
    margin: 0 auto;
    padding-bottom: 60px;
    position: relative;
    width: 120px;

    @include clearfix;

    .fa {
        &:not(.no) {
            cursor: pointer;
        }

        &.no {
            opacity: 0.4;
        }
    }

    .fa-chevron-left {
        float: left;
    }

    .fa-chevron-right {
        float: right;
    }

    span {
        font-size: 18px;
        font-weight: 700;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        text-align: center;
        top: -5px;
        width: 80px;
    }
}

.supplier-card {
    @include clearfix;

    .supplier-img {
        background-color: $red;
        border-radius: 40px;
        float: left;
        height: 40px;
        width: 40px;
    }

    .supplier-info {
        float: left;
        padding-left: 10px;
        padding-top: 1px;

        p {
            margin-bottom: 0;
        }

        .supplier-icons {
            a {
                display: inline-block;
                color: $lightgrey;
                margin-right: 8px;
            }
        }
    }
}

.ly-success-modal {
    text-align: center;

    .ly-success-bottom {
        color: $red;
        font-weight: 700;
        padding-top: 10px;
    }
}

.notifier {
    z-index: 999999999999;

    .notification {
        background-color: #FFFFFF;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
        color: #000000;
        padding: 7px 10px;
    }

    &[data-type="cart"] {
        .notification {
            color: $red;
            left: -100px;
            margin: 0 auto;
            position: absolute;
            right: -100px;
            text-align: center;
            top: 40px;

            @include respond-to($largedesktop) {
                top: 55px;
            }


            &:before {
                color: #FFFFFF;
                content: "\f0d8";
                font-family: FontAwesome;
                font-size: 24px;
                height: 10px;
                left: 0;
                margin: 0 auto;
                position: absolute;
                right: 0;
                top: -20px;

                @include respond-to($largedesktop) {
                    top: -25px;
                }
            }
        }
    }

    &[data-type="screen"] {
        bottom: 0;
        left: 0;
        position: fixed;
        width: 100%;

        .notification {
            bottom: 20px;
            color: $red;
            left: 20px;
            position: absolute;
            text-align: center;
            width: calc(100% - 40px);
        }
    }

    .notification {
        &.error {
            background-color: $red;
            color: #FFFFFF;

            &:before {
                color: $red;
            }
        }
    }
}

.wrapper .content-wrapper .side-modal {
    background-color: #FFFFFF;
    box-sizing: border-box;
    height: 100%;
    left: -100%;
    padding: 80px 20px 20px;
    position: fixed;
    top: 0;
    transition: left 0.1s;
    width: 100%;
    z-index: 999999;

    &.visible {
        left: 0;
        position: static;

        & + .hp-timer {
            display: none;
        }

        @include respond-to($tablet) {
            position: fixed;

            & + .hp-timer {
                display: block;
            }
        }
    }

    @include respond-to($smalldesktop) {
        left: 0;
        padding: 0;
        width: 50%;
    }


    .animator {
        height: 100%;
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;

        &.visible {
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
        }
    }

    .ly-side-modal-holder {
        margin: 0 auto;
        max-width: 380px;
        position: relative;
        width: 100%;

        @include respond-to($smalldesktop) {
            @include verticalalign;
        }


        @include respond-to($largedesktop) {
            max-width: 420px;
        }


        @include respond-to($widedesktop) {
            max-width: 540px;
        }


        &[data-side-modal="howitworks"] {
            max-width: calc(100% - 40px);
        }

        .fa-close {
            color: $lightgrey;
            cursor: pointer;
            position: absolute;
            right: 0px;
            top: 0px;
        }

        form {
            h2 {
                color: $red;
            }

            p {
                color: $darkgrey;
            }

            .row {
                margin: 0;
            }

            a:not(.button) {
                color: $darkgrey;
                text-decoration: underline;

                &:hover {
                    color: $red;
                }
            }

            label {
                font-weight: 300;
            }

            a i {
                font-weight: 300;
            }
        }

        .ly-how-it-works {
            max-width: 240px;
            margin: 0 auto;
            text-align: center;

            @include clearfix;

            @include respond-to($smalldesktop) {
                max-width: none;
            }


            p {
                color: $red;
            }

            .ly-step {
                @include respond-to($smalldesktop) {
                    display: inline-block;
                    margin-right: 3%;
                    vertical-align: top;
                    width: 30%;

                    &:last-child {
                        margin-right: 0;
                    }
                }


                .step-img {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 150px;
                    margin-bottom: 10px;

                    &.step-1 {
                        background-image: url($url + "howitworks/1.png");
                    }

                    &.step-2 {
                        background-image: url($url + "howitworks/2.png");
                    }

                    &.step-3 {
                        background-image: url($url + "howitworks/3.png");
                    }
                }
            }
        }
    }
}

.alert {
    padding: 5px;
    font-size: 10px;

    .close {
        right: 3px;
    }
}