@import "colours";
@import "mixins";
@import "dropzone";

@import url("https://fonts.googleapis.com/css?family=Roboto");

$url: "../../img/";

body, header {
    min-width: 320px;
}

body {
    font-family: "Roboto", sans-serif !important;

    *:not(.fa):not(.glyphicon):not(.sidebar-toggle):not(.mce-btn):not(.mce-ico) {
        font-family: "Roboto", sans-serif;
    }
}

.system-time {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid $lightgrey;
    color: #000;
    font-size: 9px;
    font-weight: 700;
    padding: 3px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999999999999999;
}

body.skin-ly {
    .main-header, .front-header, .site-header {
        position: relative;

        .logo {
            height: 60px;
            position: relative;
            top: 20px;

            @include respond-to($smalldesktop) {
                @include verticalalign;
            }
        }

        .navbar {
            min-height: 100px;

            .nav {
                > li {
                    @include respond-to($smalldesktop) {
                        height: 100px;
                    }


                    > a {
                        color: #FFFFFF;

                        &:hover {
                            background-color: transparent;
                        }

                        @include respond-to($smalldesktop) {
                            @include verticalalign;
                        }
                    }

                    &.open {
                        a {
                            background-color: transparent;
                        }
                    }
                }
            }
        }

        .dropdown-menu {
            background-color: $red;
        }

        .sidebar-toggle {
            color: #FFFFFF;

            span {
                display: none;
            }

            @include respond-to($smalldesktop) {
                font-size: 30px;
                padding: 29px;
                position: relative;

                span {
                    display: inline;
                    font-size: 22px;
                    left: 70px;
                    position: absolute;
                    top: 35px;
                }
            }
        }

        .hp-timer {
            color: #FFFFFF;
            display: none;
            left: 0;
            margin: 0 auto;
            max-width: 220px;
            position: absolute;
            right: 0;
            width: 100%;

            @include verticalalign;

            @include respond-to(750) {
                display: block;
            }


            @include respond-to($largedesktop) {
                max-width: 300px;
            }


            .timer-sect {
                float: left;
                position: relative;
                text-align: center;
                width: calc(100% / 3);

                &:after {
                    content: ':';
                    font-size: 32px;
                    margin-top: -8px;
                    position: absolute;
                    right: 0;

                    @include verticalalign;

                    @include respond-to($largedesktop) {
                        font-size: 50px;
                        margin-top: -11px;
                    }
                }

                &.last {
                    &:after {
                        display: none;
                    }
                }

                h2, p {
                    margin: 0;
                }

                p {
                    font-size: 11px;

                    @include respond-to($largedesktop) {
                        font-size: 12px;
                    }
                }

                h2 {
                    font-weight: 700;

                    @include respond-to($smalldesktop) {
                        font-size: 37px;
                    }


                    @include respond-to($largedesktop) {
                        font-size: 42px;
                    }


                    @include respond-to($widedesktop) {
                        font-size: 50px;
                    }
                }
            }
        }
    }

    .main-header {
        background-color: $red;
        height: 100px;
    }

    .site-header {
        background-color: $red;
        height: 60px;

        @include respond-to($largedesktop) {
            height: 100px;
        }
    }

    .site-header {
        box-shadow: 0px -15px 20px 10px rgba(0, 0, 0, 0.75);
        box-sizing: border-box;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 999;

        @include respond-to($widedesktop) {
            height: 120px;
        }


        .logo {
            background: url($url + "logo-white.png") left center no-repeat;
            background-size: 150px;
            display: block;
            float: left;
            height: 50px;
            width: 35px;

            @include verticalalign;

            @include respond-to($tablet) {
                background-size: contain;
                width: 150px;
            }


            @include respond-to($smalldesktop) {
                width: 161px;
            }


            @include respond-to($largedesktop) {
                width: 190px;
            }


            @include respond-to($widedesktop) {
                width: 200px;
            }
        }

        .menu-icon {
            border-left: 1px solid rgba(255, 255, 255, 0.2);
            cursor: pointer;
            display: block;
            float: left;
            height: 50px;
            margin-left: 18px;
            position: relative;

            @include verticalalign;

            @include respond-to($largedesktop) {
                height: 80px;
                margin-left: 25px;
            }


            .hamburger {
                float: left;
            }

            p {
                color: #FFFFFF;
                display: none;

                @include respond-to($smalldesktop) {
                    display: block;
                    float: left;
                    line-height: 52px;
                    margin: 0;
                }


                @include respond-to($largedesktop) {
                    line-height: 82px;
                }
            }
        }

        .navbar {
            color: $lightestgrey;
            float: right;
            height: 30px;
            min-height: 30px;
            position: relative;

            @include verticalalign;

            @include respond-to($largedesktop) {
                height: 40px;
                min-height: 40px;
            }


            i {
                line-height: 30px;

                @include respond-to($largedesktop) {
                    line-height: 40px;
                }
            }

            .fa-search, .fa-shopping-cart {
                margin-right: 17px;

                @include respond-to($tablet) {
                    margin-right: 20px;
                }


                @include respond-to($largedesktop) {
                    margin-right: 35px;
                }


                &:hover {
                    color: #FFFFFF;
                }
            }

            .fa-search, .fa-shopping-cart, .profile-icon {
                cursor: pointer;
                display: block;
                float: left;
            }

            .fa-search {
                &:before {
                    font-size: 18px;

                    @include respond-to($largedesktop) {
                        font-size: 24px;
                    }
                }
            }

            .fa-shopping-cart {
                position: relative;

                &:before {
                    font-size: 23px;

                    @include respond-to($largedesktop) {
                        font-size: 30px;
                    }
                }

                .cart-count {
                    background-color: #4CAF50;
                    border: 2px solid #FF4C3D;
                    border-radius: 20px;
                    box-sizing: border-box;
                    color: #FFFFFF;
                    font-size: 8px;
                    height: 15px;
                    line-height: 11px;
                    position: absolute;
                    right: -6px;
                    text-align: center;
                    top: 1px;
                    width: 15px;

                    @include respond-to($largedesktop) {
                        font-size: 10px;
                        height: 17px;
                        line-height: 13px;
                        top: 4px;
                        width: 17px;
                    }
                }
            }

            .profile-icon {
                .profile-img {
                    border-radius: 30px;
                    background-color: #FFFFFF;
                    display: block;
                    float: left;
                    height: 30px;
                    margin-right: 8px;
                    width: 30px;

                    @include respond-to($largedesktop) {
                        border-radius: 40px;
                        height: 40px;
                        width: 40px;
                    }
                }

                .fa-caret-down {
                    float: right;

                    &:before {
                        font-size: 18px;
                    }
                }

                &:hover {
                    .fa-caret-down:before {
                        color: #FFF;
                    }
                }

                .user-menu-holder {
                    display: none;
                    padding-top: 40px;
                    position: absolute;
                    right: -10px;
                    top: 0px;

                    @include respond-to($largedesktop) {
                        top: 20px;
                    }
                }

                .user-menu {
                    background-color: #FFF;
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
                    list-style: none;
                    margin: 0;
                    padding: 10px !important;
                    position: relative;
                    -webkit-margin-before: 0;
                    -webkit-margin-after: 0;
                    -webkit-padding-start: 0px;

                    &:before {
                        color: #FFF;
                        content: "\f0d8";
                        font-family: FontAwesome;
                        position: absolute;
                        font-size: 50px;
                        right: 1px;
                        top: -44px;
                    }

                    li {
                        margin-bottom: 10px;

                        a {
                            background-color: #FFF;
                            border-radius: 5px;
                            color: $lightgrey;
                            display: block;
                            line-height: 20px;
                            padding: 5px;

                            &:hover {
                                background-color: $red;
                                color: #FFF;
                            }

                            @include respond-to($tablet) {
                                min-width: 130px;
                            }
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }

                &:hover {
                    .user-menu-holder {
                        display: block;
                    }
                }
            }
        }
    }

    .front-header {
        background-color: transparent;
        box-sizing: border-box;
        height: 80px;
        left: 0;
        margin: 0 auto;
        padding: 10px 20px;
        position: absolute;
        right: 0;
        width: 100%;
        z-index: 999;

        @include respond-to($smalldesktop) {
            padding: 10px 40px;
        }


        @include respond-to($widedesktop) {
            height: 150px;
            padding: 20px;
        }


        .logo {
            background: url($url + "logo.png") center no-repeat;
            background-size: contain;
            display: block;
            float: left;
            height: 50px;
            width: 150px;

            @include verticalalign;

            @include respond-to($smalldesktop) {
                width: 210px;
            }


            @include respond-to($widedesktop) {
                width: 200px;
            }


            img {
                width: 100%;
            }
        }

        .front-nav {
            float: right;
            position: relative;

            @include verticalalign;

            .button {
                &:last-child {
                    display: none;
                    margin-left: 10px;

                    @include respond-to($tablet) {
                        display: inline-block;
                    }
                }
            }
        }
    }

    .main-sidebar {
        background-color: $black;
        padding-top: 100px;
    }

    .sidebar {
        a {
            color: $lightgrey;

            &:hover {
                color: #FFFFFF;
            }
        }

        .sidebar-menu {
            .header {
                color: $red;
            }
        }
    }

    .user-panel > .info {
        color: #FFFFFF;
    }

    &.sidebar-collapse {
        .main-header {
            .logo {
                @include respond-to($smalldesktop) {
                    width: 230px;
                }
            }
        }
    }

    .dropzone {
        border: 0;
        min-height: 0;

        &#logo-uploader {
            background-color: $lightgrey;
            border-radius: 140px;
            box-sizing: border-box;
            cursor: pointer;
            font-size: 12px;
            height: 140px;
            margin-bottom: 10px;
            padding: 10px;
            position: relative;
            text-align: center;
            width: 140px;

            .dz-message {
                line-height: 120px;
                margin: 0;
            }

            .dz-preview {
                height: 140px;
                left: 0;
                margin: 0;
                position: absolute;
                top: 0;
                width: 140px;
            }

            .dz-image {
                border-radius: 140px;
                height: 140px;
                left: 0;
                position: absolute;
                top: 0;
                width: 140px;
            }
        }
    }
}

.searchable-checklist {
    .searchable-list {
        list-style: none;
        margin: 0;
        max-height: 180px;
        overflow-y: auto;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-padding-start: 0px;

        li {
            .input-group {
                width: 100%;

                span {
                    border-right: 1px solid #d2d6de;
                    border-top: 0;
                    width: 44px;
                }

                .searchable-info {
                    border-bottom: 1px solid #d2d6de;
                    border-right: 1px solid #d2d6de;
                    box-sizing: border-box;
                    float: left;
                    line-height: 28px;
                    overflow: hidden;
                    padding: 0 5px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 100%;

                    b {
                        white-space: pre-wrap;
                    }
                }
            }

            &.sl-cloneable {
                display: none !important;
            }
        }
    }

    .sl-new-holder {
        margin-top: 10px;

        .input-group-addon {
            cursor: pointer;
        }
    }
}

.supplier-star-rating.editable {
    .fa-star, .fa-star-o {
        cursor: pointer;
        font-size: 20px;
    }
}

.supplier-logo {
    border-radius: 140px;
    margin-bottom: 10px;
}

.img-grid {
    @include clearfix;

    transition: all 0.1s;

    * {
        transition: all 0.1s;
    }

    .image-grid-btn {
        display: block;
        float: left;
        height: 140px;
        margin-bottom: 10px;
        margin-right: 10px;
        position: relative;
        width: 140px;

        .img-grid-ctrl {
            left: 0;
            margin: 0 auto;
            opacity: 0.4;
            position: absolute;
            right: 0;
            width: 70px;

            @include verticalalign;
        }

        i {
            background-color: #000;
            border-radius: 20px;
            color: #FFF;
            cursor: pointer;
            display: block;
            float: left;
            height: 30px;
            line-height: 30px;
            opacity: 0.7;
            width: 30px;

            &:hover {
                opacity: 1;
            }

            &.img-edit-details {
                margin-right: 10px;
            }
        }

        &:hover {
            .img-grid-ctrl {
                opacity: 1;
            }
        }
    }

    &.supplier-grid {
        form {
            padding: 0;

            @include clearfix;

            .dz-message {
                /* display: block !important;*/
            }
        }

        .image-grid-btn {
            .img-grid-ctrl {
                opacity: 0.4;
                width: 110px;

                @include verticalalign;

                i.img-zoom {
                    margin-right: 10px;
                }
            }
        }
    }
}

.wrapper.front-page {
    .content-wrapper {
        background: url($url + "home-bg.jpg") center no-repeat;
        background-size: cover;
        min-height: 100vh !important;
        position: relative;

        @include respond-to($smalldesktop) {
            background: transparent;
        }


        &:before {
            background-color: rgba(0, 0, 0, 0.3);
            content: '';
            height: 100%;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1;
        }

        h1 {
            color: #FFF;
            margin-bottom: 20px;
        }

        p {
            color: #FFF;

            i {
                font-weight: 800;
            }
        }

        .hp-timer {
            box-sizing: border-box;
            padding: 100px 20px 20px;

            @include respond-to($smalldesktop) {
                background: url($url + "home-bg.jpg") left center no-repeat;
                background-size: auto 100%;
                height: 100%;
                padding: 20px;
                position: absolute;
                right: 0;
                width: 50%;

                &:before {
                    background-color: rgba(0, 0, 0, 0.4);
                    content: '';
                    height: 100%;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    z-index: -1;
                }
            }


            .timer-pad {
                margin: 0 auto;
                max-width: 380px;
                position: relative;
                width: 100%;

                @include respond-to($smalldesktop) {
                    @include verticalalign;
                }


                @include respond-to($largedesktop) {
                    max-width: 420px;
                }


                @include respond-to($widedesktop) {
                    max-width: 540px;
                }
            }

            .timer-container {
                margin: 0 auto;
                max-width: 580px;
                padding-top: 5px;
                width: 100%;

                @include clearfix;

                @include respond-to($smalldesktop) {
                    padding-top: 20px;
                }


                @include respond-to($widedesktop) {
                    max-width: 800px;
                }


                .timer-sect {
                    background-color: #FFFFFF;
                    border-radius: 10px;
                    float: left;
                    margin-right: 5%;
                    position: relative;
                    text-align: center;
                    width: 30%;

                    &:before {
                        content: '';
                        display: block;
                        padding-top: 100%;
                    }

                    &.last {
                        margin-right: 0;
                    }

                    h2, p {
                        margin: 0;
                    }

                    h2 {
                        color: $red;
                    }

                    p {
                        color: $darkgrey;

                        i {
                            font-weight: 300;
                        }
                    }

                    .timer-content {
                        left: 0;
                        margin: 0 auto;
                        position: absolute;
                        right: 0;

                        @include verticalalign;
                    }

                    h2 {
                        font-size: 48px;

                        @include respond-to($tablet) {
                            font-size: 64px;
                        }


                        @include respond-to($smalldesktop) {
                            font-size: 56px;
                        }


                        @include respond-to($largedesktop) {
                            font-size: 62px;
                        }


                        @include respond-to($widedesktop) {
                            font-size: 90px;
                        }
                    }

                    p {
                        font-size: 12px;

                        @include respond-to($largedesktop) {
                            font-size: 14px;
                        }


                        @include respond-to($widedesktop) {
                            font-size: 18px;
                        }
                    }
                }
            }

            .timer-bottom {
                clear: both;
                margin: 0 auto;
                padding-top: 20px;
                width: 100%;

                @include respond-to($smalldesktop) {
                    padding-top: 60px;
                }


                .button {
                    width: 100%;

                    &:last-child {
                        margin-top: 10px;
                    }

                    @include respond-to($smalldesktop) {
                        float: left;
                        width: calc(50% - 5px);

                        &:last-child {
                            float: right;
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}

.go-right {
    left: auto;
    right: 0;
}

.order-totals {
    float: right;
    margin-top: -20px;
    width: 200px;
}

.order-totals, .order-user {
    ul {
        list-style: none;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0px;

        li {
            line-height: 30px;
            padding-right: 5px;

            span {
                box-sizing: border-box;
                display: inline-block;
                float: right;
                text-align: right;
            }
        }
    }
}

.page-loading-bar {
    background-color: #FFFFFF;
    display: none;
    height: 5px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999999;

    .the-bar {
        background-color: $green;
        height: 5px;
        left: 0;
        position: absolute;
        transition: width 0.2s ease;
        width: 0;

        &.quick {
            transition: none;
        }
    }
}

#table-categories {
    tr {
        &.sub {
            display: none;

            &[data-level="2"] {
                td:first-child {
                    padding-left: 20px;
                }
            }

            &[data-level="3"] {
                td:first-child {
                    padding-left: 40px;
                }
            }

            &[data-level="4"] {
                td:first-child {
                    padding-left: 60px;
                }
            }

            &[data-level="5"] {
                td:first-child {
                    padding-left: 80px;
                }
            }
        }

        &.has-subs {
            td:first-child {
                &:before {
                    content: "\f078";
                    font-family: FontAwesome;
                }
            }
        }
    }
}