{% if products|length > 0 %}
	<tr>
		<td class="hidden">
			<input type="hidden" name="prev" value="{{prev}}" />
			<input type="hidden" name="next" value="{{next}}" />
			<input type="hidden" name="cur" value="{{cur}}" />
			<input type="hidden" name="total" value="{{total}}" />
			<input type="hidden" name="field" value="{{field}}" />
			<input type="hidden" name="value" value="{{value}}" />
		</td>
	</tr>
	{% for p in products %}
		<tr>
			<td class="select">
				<input type="checkbox" />
				{% if p.variant != false %}
				<img src="{{site.uri.public}}{{p.variant.getThumbnail(50,50)}}" class="load-page" data-url="supplier/products/{{p.product.id}}/variants/{{p.variant.id}}" />
				{% else %}
				<img src="{{site.uri.public}}{{p.product.getThumbnail(50,50)}}" class="load-page" data-url="supplier/products/{{p.product.id}}" />
				{% endif %}
			</td>
			<td class="name">
				<a class="load-page" data-url="supplier/products/{{p.product.id}}">{{p.product.name}}</a>
				{% if p.variant != false %}
				<br /><a class="load-page variant-name" data-url="supplier/products/{{p.product.id}}/variants/{{p.variant.id}}">{{p.variant_name|raw}}</a>
				{% endif %}
			</td>
			<td class="sku">
				{% if p.variant != false %}
					{{p.variant.sku}}
				{% else %}
					{{p.product.sku}}
				{% endif %}
			</td>
			<td class="quantity">
				<span class="val">{{p.quantity}}</span> <span class="addition"><i class="fa fa-caret-right"></i> <b>0</b></span>
			</td>
			<td class="update">
				<form class="update-quantity" action="{{site.uri.public}}/supplier/products/{{p.product.id}}/inventory_update">
					{% include "forms/csrf.html.twig" %}
					{% if p.variant != false %}
					<input type="hidden" name="variant_id" value="{{p.variant.id}}" />
					{% endif %}
					<input type="hidden" name="oldQuantity" value="{{p.quantity}}" />
					<input type="hidden" name="newQuantity" value="" />
					<a class="button add btn-no-shadow btn-small btn-grey">{{translate('SUPPLIER_AREA.INVENTORY.ADD')}}</a>
					<a class="button set btn-no-shadow btn-small btn-highlight">{{translate('SUPPLIER_AREA.INVENTORY.SET')}}</a>
					<input type="number" name="quantity" value="0" />
					<a class="button save btn-no-shadow btn-small btn-highlight">{{translate('SAVE')}}</a>
				</form>
			</td>
		</tr>
	{% endfor %}
{% else %}
	<tr>
		<td>
			<p>{{translate('SUPPLIER_AREA.PRODUCT.NONE')}}</p>
		</td>
	</tr>
{% endif %}