{% if products|length > 0 %}
	<tr>
		<td class="hidden">
			<input type="hidden" name="prev" value="{{prev}}" />
			<input type="hidden" name="next" value="{{next}}" />
			<input type="hidden" name="cur" value="{{cur}}" />
			<input type="hidden" name="total" value="{{total}}" />
			<input type="hidden" name="field" value="{{field}}" />
			<input type="hidden" name="value" value="{{value}}" />
		</td>
	</tr>
	{% for p in products %}
		<tr>
			<td class="select">
				<input type="checkbox" />
				<img src="{{site.uri.public}}{{p.product.getThumbnail(50,50)}}" class="load-page" data-url="supplier/products/{{p.product.id}}" />
			</td>
			<td class="name">
				<a class="load-page" data-url="supplier/products/{{p.product.id}}">{{p.product.name}}</a>
			</td>
			<td class="inventory">
				<a class="load-page" data-url="supplier/products/{{p.product.id}}">{{p.product.inventory_sentence}}</a>
			</td>
			<td class="supplier">
				<a class="load-page" data-url="supplier/products/{{p.product.id}}">{{p.product.supplier.name}}</a>
			</td>
			<td class="status">
				<a class="load-page" data-url="supplier/products/{{p.product.id}}">
					{% if p.product.approved == 1 %}
						{{translate('PRODUCT.APPROVED')}}
					{% else %}
						{{translate('PRODUCT.APPROVAL_PENDING')}}
					{% endif %}
				</a>
			</td>
		</tr>
	{% endfor %}
{% else %}
	<tr>
		<td>
			<p>{{translate('SUPPLIER_AREA.PRODUCT.NONE')}}</p>
		</td>
	</tr>
{% endif %}