{% extends "pages/abstract/supplier.html.twig" %}

{% set page_active = page_name %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{translate("HOME")}}{% endblock %}

{% block page_description %}{% endblock %}

{% block body_matter %}
	{% include "pages/front/" ~ page_uri %}
{% endblock %}

{% block scripts_page %}

{% endblock %}
