{% extends "pages/abstract/front.html.twig" %}

{% set page_active = "home" %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{translate("HOME")}}{% endblock %}

{% block page_description %}Welcome!{% endblock %}

{% block body_matter %}
	<div class="side-modal">
		{% include "modals/front/side/signup.html.twig" %}
	</div>
    <div class="hp-timer timer" data-seconds="{{countdown.secsTilNext}}">
    	<div class="timer-pad">
	    	<h1>{{translate('FRONTEND.COUNTDOWN.TITLE')}}</h1>
	    	<p>{{translate('FRONTEND.COUNTDOWN.DESCRIPTION')}}</p>
	    	<div class="timer-container">
	    		<div class="timer-sect">
	    			<div class="timer-content">
				    	<h2 class="hours">
				    		{{countdown.hours}}
				    	</h2>
				    	<p><i>{{translate('FRONTEND.COUNTDOWN.HOURS')|lower}}</i></p>
				    </div>
			    </div>
			    <div class="timer-sect">
			    	<div class="timer-content">
				    	<h2 class="minutes">
				    		{{countdown.minutes}}
				    	</h2>
				    	<p><i>{{translate('FRONTEND.COUNTDOWN.MINUTES')|lower}}</i></p>
				    </div>
			    </div>
			    <div class="timer-sect last">
			    	<div class="timer-content">
				    	<h2 class="seconds">
				    		{{countdown.seconds}}
				    	</h2>
				    	<p><i>{{translate('FRONTEND.COUNTDOWN.SECONDS')|lower}}</i></p>
				    </div>
			    </div>
			    <div class="timer-bottom">
			    	<a class="button side-link btn-no-shadow" data-popup="notified">{{translate('FRONTEND.COUNTDOWN.NOTIFIED')}}</a>
					<a class="button side-link btn-no-shadow" data-popup="howitworks">{{translate('FRONTEND.COUNTDOWN.HOW')}}</a>
			    </div>
		    </div>
		</div>
    </div>
    
{% endblock %}