<form class="js-form" method="{{form.method | default('POST')}}" action="{{site.uri.public}}/{{form.action}}">
    {% include "forms/csrf.html.twig" %}
    <div class="js-form-alerts">
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{translate("DEAL.VARIANT")}}</label>
                <select id="input-group" class="form-control js-select2" name="variant_id">
                    <option disabled selected>-</option>
                    {% for variant in variant_list %}
                    <option value="{{variant.id}}"{% if deal.variant_id == variant.id %} selected{% endif %}>{{variant.title}} ({{variant.type}})</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        {% if 'price' not in form.fields.hidden %}
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{translate("DEAL.PRICE")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="price" autocomplete="off" value="{{deal.price}}" {% if 'price' in form.fields.disabled %}disabled{% endif %}>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
<!--     <div class="row">
        {% if 'price' not in form.fields.hidden %}
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{translate("DEAL.PERCENTAGE")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="percentage" autocomplete="off" value="{{deal.percentage}}" {% if 'percentage' in form.fields.disabled %}disabled{% endif %}>
                </div>
            </div>
        </div>
        {% endif %}
    </div> -->
    <div class="row">
        {% if 'quantity' not in form.fields.hidden %}
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{translate("DEAL.TOTAL_QUANTITY")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="quantity" autocomplete="off" value="{{deal.quantity}}" {% if 'quantity' in form.fields.disabled %}disabled{% endif %}>
                </div>
            </div>
        </div>
        {% endif %}
    </div><br />
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <button type="submit" class="btn btn-block btn-lg btn-success">{{form.submit_text}}</button>
        </div>
        <div class="col-xs-4 col-sm-3 pull-right">
            <button type="button" class="btn btn-block btn-lg btn-link" data-dismiss="modal">{{translate("CANCEL")}}</button>
        </div>
    </div>
</form>
<!-- Include validation rules -->
<script>
{% include "pages/partials/page.js.twig" %}
</script>
