<form class="js-form" method="{{form.method | default('POST')}}" action="{{site.uri.public}}/{{form.action}}">
    {% include "forms/csrf.html.twig" %}
    <div class="js-form-alerts">
    </div>
    <div class="row">
        {% if 'name' not in form.fields.hidden %}
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{translate("PRODUCT.PHOTO_CAPTION")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="caption" autocomplete="off" value="{{photo.caption}}" {% if 'name' in form.fields.disabled %}disabled{% endif %}>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{translate("PRODUCT.PHOTO_HIGHLIGHT")}}</label>
                <select id="input-group" class="form-control js-select2" name="highlight">
                    <option value="0"{% if photo.highlight == 0 %} selected{% endif %}>{{translate("NO")}}</option>
                    <option value="1"{% if photo.highlight == 1 %} selected{% endif %}>{{translate("YES")}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{translate("PRODUCT.PHOTO_VARIANT")}}</label>
                <select id="input-group" class="form-control js-select2" name="variant_id">
                    <option disabled selected>-</option>
                    {% for variant in variant_list %}
                    <option value="{{variant.id}}"{% if photo.variant_id == variant.id %} selected{% endif %}>{{variant.title}} ({{variant.type}})</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div><br />
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <button type="submit" class="btn btn-block btn-lg btn-success">{{form.submit_text}}</button>
        </div>
        <div class="col-xs-4 col-sm-3 pull-right">
            <button type="button" class="btn btn-block btn-lg btn-link" data-dismiss="modal">{{translate("CANCEL")}}</button>
        </div>
    </div>
</form>
<!-- Include validation rules -->
<script>
{% include "pages/partials/page.js.twig" %}
</script>
