<div class="js-form">
    {% include "forms/csrf.html.twig" %}
    <div class="js-form-alerts">
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form action="{{site.uri.public}}/{{form.action}}" class="dropzone photo-uploader" id="product-photo-uploader" method="POST" enctype="multipart/form-data" data-maxfiles="{{maxfiles}}">
                {% include "forms/csrf.html.twig" %}
            </form>
        </div>
    </div>
</div>
<!-- Include validation rules -->
<script>
{% include "pages/partials/page.js.twig" %}
</script>
