{% extends "modals/modal.html.twig" %}

{% block modal_title %}{{translate('COUNTDOWN', 1)}} {{translate('PRODUCT', 2)}}{% endblock %}

{% block modal_body %}
    {% include "forms/countdown/products.html.twig" %}
{% endblock %}
