<div class="img-grid supplier-grid">
	<form action="{{site.uri.public}}/api/images/upload" class="dropzone photo-uploader dz-started" id="product-photo-uploader" method="POST" enctype="multipart/form-data" data-maxfiles="{{maxfiles}}">
        {% include "forms/csrf.html.twig" %}
{% if product is defined and product.photos|length > 0 %}
	{% for img in product.photos %}
		<div class="image-grid-btn">
			<img src="{{site.uri.public}}/{{img.image.getURLBySize(140,140)}}" />
			<div class="img-grid-ctrl">
				<i class="fa fa-fw fa-search img-zoom" data-id="{{img.image.id}}" data-product-img-id="{{img.id}}"></i>
				<i class="fa fa-fw fa-pencil img-edit-details" data-id="{{img.image.id}}" data-product-img-id="{{img.id}}"></i>
				<i class="fa fa-fw fa-trash img-remove" data-id="{{img.image.id}}" data-product-img-id="{{img.id}}"></i>
			</div>
		</div>
	{% endfor %}
{% endif %}
    </form>
</div>