<div class="img-grid supplier-grid">
{% if product is defined and product.photos|length > 0 %}
	{% for img in product.photos %}
		<div class="image-grid-btn">
			<img src="{{site.uri.public}}/{{img.image.getURLBySize(140,140)}}" />
			<div class="img-grid-ctrl">
				<i class="fa fa-fw fa-search img-zoom" data-id="{{img.image.id}}" data-product-img-id="{{img.id}}"></i>
				<i class="fa fa-fw fa-pencil img-edit-details" data-id="{{img.image.id}}" data-product-img-id="{{img.id}}"></i>
				<i class="fa fa-fw fa-trash img-remove" data-id="{{img.image.id}}" data-product-img-id="{{img.id}}"></i>
			</div>
		</div>
	{% endfor %}
{% endif %}
</div>