<div class="image-grid-btn">
	<img src="{{site.uri.public}}/{{img.image.getURLBySize(140,140)}}" />
	<div class="img-grid-ctrl">
		<i class="fa fa-fw fa-search img-zoom" data-id="{{img.image.id}}"></i>
		<i class="fa fa-fw fa-pencil img-edit-details" data-id="{{img.id}}"></i>
		<i class="fa fa-fw fa-trash img-remove" data-id="{{img.id}}"></i>
	</div>
</div>