<form class="js-form" method="{{form.method | default('POST')}}" action="{{site.uri.public}}/{{form.action}}">
    {% include "forms/csrf.html.twig" %}
    <div class="js-form-alerts">
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{translate("PRODUCT", 2)}}</label>
                <div class="searchable-checklist">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                        <input type="text" class="form-control searchable-check-input" name="search" />
                    </div>
                    <ul class="searchable-list">
                        {% for d in products %}
                            <li data-term="{{d.product.name}}">
                                <div class="input-group">
                                    <span class="input-group-addon"><input type="checkbox" name="products[]" value="{{d.id}}" {% if countdown.hasProduct(d.id) %} checked{% endif %} /></span>
                                    <div class="searchable-info">
                                        <b>{{d.name}} - &#8353;{{d.discount_price|number_format(2,'.',',')}}</b> ({{d.supplier.name}})
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        <li class="sl-selectall">
                            <div class="input-group">
                                <span class="input-group-addon"><input type="checkbox" class="selectall" /></span>
                                <div class="searchable-info">
                                    <i>{{translate("SELECT_ALL")}}</i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div><br />
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <button type="submit" class="btn btn-block btn-lg btn-success">{{form.submit_text}}</button>
        </div>
        <div class="col-xs-4 col-sm-3 pull-right">
            <button type="button" class="btn btn-block btn-lg btn-link" data-dismiss="modal">{{translate("CANCEL")}}</button>
        </div>
    </div>
</form>
<!-- Include validation rules -->
<script>
{% include "pages/partials/page.js.twig" %}
</script>
