<form class="js-form" method="{{form.method | default('POST')}}" action="{{site.uri.public}}/{{form.action}}">
    {% include "forms/csrf.html.twig" %}
    <div class="js-form-alerts">
    </div>
    <input type="hidden" name="type" value="weekly" />
    <div class="row">
        {% if 'day' not in form.fields.hidden %}
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{translate("COUNTDOWN.DAY")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                    <select id="input-group" class="form-control js-select2" name="day">
                        <option value="1"{% if countdown.day == 1 %} selected{% endif %}>{{translate("DAY.MONDAY")}}</option>
                        <option value="2"{% if countdown.day == 2 %} selected{% endif %}>{{translate("DAY.TUESDAY")}}</option>
                        <option value="3"{% if countdown.day == 3 %} selected{% endif %}>{{translate("DAY.WEDNESDAY")}}</option>
                        <option value="4"{% if countdown.day == 4 %} selected{% endif %}>{{translate("DAY.THURSDAY")}}</option>
                        <option value="5"{% if countdown.day == 5 %} selected{% endif %}>{{translate("DAY.FRIDAY")}}</option>
                        <option value="6"{% if countdown.day == 6 %} selected{% endif %}>{{translate("DAY.SATURDAY")}}</option>
                        <option value="7"{% if countdown.day == 7 %} selected{% endif %}>{{translate("DAY.SUNDAY")}}</option>
                    </select>
                </div>
            </div>
        </div>
        {% endif %}
        {% if 'time' not in form.fields.hidden %}
        <div class="col-sm-12">
            <div class="form-group">
                <label style="display:block;">{{translate("COUNTDOWN.TIME")}}</label>
                <div class="input-group" style="width:34%;float:left;margin-right:1%;">
                    <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                    <select id="input-group" class="form-control js-select2" name="hour">
                        <option value="1"{% if countdown.hour == 1 or countdown.hour == 13 %} selected{% endif %}>1</option>
                        <option value="2"{% if countdown.hour == 2 or countdown.hour == 14 %} selected{% endif %}>2</option>
                        <option value="3"{% if countdown.hour == 3 or countdown.hour == 15 %} selected{% endif %}>3</option>
                        <option value="4"{% if countdown.hour == 4 or countdown.hour == 16 %} selected{% endif %}>4</option>
                        <option value="5"{% if countdown.hour == 5 or countdown.hour == 17 %} selected{% endif %}>5</option>
                        <option value="6"{% if countdown.hour == 6 or countdown.hour == 18 %} selected{% endif %}>6</option>
                        <option value="7"{% if countdown.hour == 7 or countdown.hour == 19 %} selected{% endif %}>7</option>
                        <option value="8"{% if countdown.hour == 8 or countdown.hour == 20 %} selected{% endif %}>8</option>
                        <option value="9"{% if countdown.hour == 9 or countdown.hour == 21 %} selected{% endif %}>9</option>
                        <option value="10"{% if countdown.hour == 10 or countdown.hour == 22 %} selected{% endif %}>10</option>
                        <option value="11"{% if countdown.hour == 11 or countdown.hour == 23 %} selected{% endif %}>11</option>
                        <option value="11"{% if countdown.hour == 0 or countdown.hour == 12 %} selected{% endif %}>12</option>
                    </select>
                </div>
                <div class="input-group" style="width:34%;float:left;margin-right:1%;">
                    <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                    <select id="input-group" class="form-control js-select2" name="minute">
                        <option value="0"{% if countdown.minute == 0 %} selected{% endif %}>00</option>
                        <option value="1"{% if countdown.minute == 1 %} selected{% endif %}>01</option>
                        <option value="2"{% if countdown.minute == 2 %} selected{% endif %}>02</option>
                        <option value="3"{% if countdown.minute == 3 %} selected{% endif %}>03</option>
                        <option value="4"{% if countdown.minute == 4 %} selected{% endif %}>04</option>
                        <option value="5"{% if countdown.minute == 5 %} selected{% endif %}>05</option>
                        <option value="6"{% if countdown.minute == 6 %} selected{% endif %}>06</option>
                        <option value="7"{% if countdown.minute == 7 %} selected{% endif %}>07</option>
                        <option value="8"{% if countdown.minute == 8 %} selected{% endif %}>08</option>
                        <option value="9"{% if countdown.minute == 9 %} selected{% endif %}>09</option>
                        <option value="10"{% if countdown.minute == 10 %} selected{% endif %}>10</option>
                        <option value="11"{% if countdown.minute == 11 %} selected{% endif %}>11</option>
                        <option value="12"{% if countdown.minute == 12 %} selected{% endif %}>12</option>
                        <option value="13"{% if countdown.minute == 13 %} selected{% endif %}>13</option>
                        <option value="14"{% if countdown.minute == 14 %} selected{% endif %}>14</option>
                        <option value="15"{% if countdown.minute == 15 %} selected{% endif %}>15</option>
                        <option value="16"{% if countdown.minute == 16 %} selected{% endif %}>16</option>
                        <option value="17"{% if countdown.minute == 17 %} selected{% endif %}>17</option>
                        <option value="18"{% if countdown.minute == 18 %} selected{% endif %}>18</option>
                        <option value="19"{% if countdown.minute == 19 %} selected{% endif %}>19</option>
                        <option value="20"{% if countdown.minute == 20 %} selected{% endif %}>20</option>
                        <option value="21"{% if countdown.minute == 21 %} selected{% endif %}>21</option>
                        <option value="22"{% if countdown.minute == 22 %} selected{% endif %}>22</option>
                        <option value="23"{% if countdown.minute == 23 %} selected{% endif %}>23</option>
                        <option value="24"{% if countdown.minute == 24 %} selected{% endif %}>24</option>
                        <option value="25"{% if countdown.minute == 25 %} selected{% endif %}>25</option>
                        <option value="26"{% if countdown.minute == 26 %} selected{% endif %}>26</option>
                        <option value="27"{% if countdown.minute == 27 %} selected{% endif %}>27</option>
                        <option value="28"{% if countdown.minute == 28 %} selected{% endif %}>28</option>
                        <option value="29"{% if countdown.minute == 29 %} selected{% endif %}>29</option>
                        <option value="30"{% if countdown.minute == 30 %} selected{% endif %}>30</option>
                        <option value="31"{% if countdown.minute == 31 %} selected{% endif %}>31</option>
                        <option value="32"{% if countdown.minute == 32 %} selected{% endif %}>32</option>
                        <option value="33"{% if countdown.minute == 33 %} selected{% endif %}>33</option>
                        <option value="34"{% if countdown.minute == 34 %} selected{% endif %}>34</option>
                        <option value="35"{% if countdown.minute == 35 %} selected{% endif %}>35</option>
                        <option value="36"{% if countdown.minute == 36 %} selected{% endif %}>36</option>
                        <option value="37"{% if countdown.minute == 37 %} selected{% endif %}>37</option>
                        <option value="38"{% if countdown.minute == 38 %} selected{% endif %}>38</option>
                        <option value="39"{% if countdown.minute == 39 %} selected{% endif %}>39</option>
                        <option value="40"{% if countdown.minute == 40 %} selected{% endif %}>40</option>
                        <option value="41"{% if countdown.minute == 41 %} selected{% endif %}>41</option>
                        <option value="42"{% if countdown.minute == 42 %} selected{% endif %}>42</option>
                        <option value="43"{% if countdown.minute == 43 %} selected{% endif %}>43</option>
                        <option value="44"{% if countdown.minute == 44 %} selected{% endif %}>44</option>
                        <option value="45"{% if countdown.minute == 45 %} selected{% endif %}>45</option>
                        <option value="46"{% if countdown.minute == 46 %} selected{% endif %}>46</option>
                        <option value="47"{% if countdown.minute == 47 %} selected{% endif %}>47</option>
                        <option value="48"{% if countdown.minute == 48 %} selected{% endif %}>48</option>
                        <option value="49"{% if countdown.minute == 49 %} selected{% endif %}>49</option>
                        <option value="50"{% if countdown.minute == 50 %} selected{% endif %}>50</option>
                        <option value="51"{% if countdown.minute == 51 %} selected{% endif %}>51</option>
                        <option value="52"{% if countdown.minute == 52 %} selected{% endif %}>52</option>
                        <option value="53"{% if countdown.minute == 53 %} selected{% endif %}>53</option>
                        <option value="54"{% if countdown.minute == 54 %} selected{% endif %}>54</option>
                        <option value="55"{% if countdown.minute == 55 %} selected{% endif %}>55</option>
                        <option value="56"{% if countdown.minute == 56 %} selected{% endif %}>56</option>
                        <option value="57"{% if countdown.minute == 57 %} selected{% endif %}>57</option>
                        <option value="58"{% if countdown.minute == 58 %} selected{% endif %}>58</option>
                        <option value="59"{% if countdown.minute == 59 %} selected{% endif %}>59</option>
                    </select>
                </div>
                <div class="input-group" style="width:30%;float:left;">
                    <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                    <select id="input-group" class="form-control js-select2" name="pm">
                        <option value="0"{% if countdown.pm == 0 %} selected{% endif %}>AM</option>
                        <option value="1"{% if countdown.pm == 1 %} selected{% endif %}>PM</option>
                    </select>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row" style="padding-top:15px;">
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{translate("COUNTDOWN.LENGTH")}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="length" value="{{countdown.length}}" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% if 'active' not in form.fields.hidden %}
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{translate("ACTIVE")}}?</label>
                <select id="input-group" class="form-control js-select2" name="active">
                    <option value="0"{% if countdown.active != 1 %} selected{% endif %}>No</option>
                    <option value="1"{% if countdown.active == 1 %} selected{% endif %}>Yes</option>
                </select>
            </div>
        </div>
        {% endif %}
    </div><br />
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <button type="submit" class="btn btn-block btn-lg btn-success">{{form.submit_text}}</button>
        </div>
        <div class="col-xs-4 col-sm-3 pull-right">
            <button type="button" class="btn btn-block btn-lg btn-link" data-dismiss="modal">{{translate("CANCEL")}}</button>
        </div>
    </div>
</form>
<!-- Include validation rules -->
<script>
{% include "pages/partials/page.js.twig" %}
</script>
