<div class="supplier-area-top">
	<h1>{% if order is defined %}{{translate('ORDER.DETAILS')}} #{{order.id}}{% endif %}</h1>
	<a class="button btn-grey btn-no-shadow load-page btn-larger-width btn-icon" data-url="supplier/orders"><i class="fa fa-caret-left"></i> {{translate('SUPPLIER_AREA.BACK.ORDER')}}</a>
</div>
<div class="supplier-area-form">
	<div class="supplier-area-left">
		<div class="supplier-form-box">
			<div class="supplier-row title-row">
				<strong>{{translate('SUPPLIER_AREA.ORDER.SUMMARY')}}</strong>
			</div>
			<div class="supplier-row form-group has-feedback floatlabel">
				<table class="order-summary">
					<thead>
						<tr>
							<td>
								{{translate('PRODUCT', 1)}}
							</td>
							<td>
								{{translate('PRODUCT.DISCOUNT_PRICE')}}
							</td>
							<td>
								{{translate('PRODUCT.QUANTITY')}}
							</td>
							<td>
								{{translate('ORDER.AMOUNT_PAID')}}
							</td>
						</tr>
					</thead>
					<tbody>
						{% for item in items %}
						<tr>
							<td>
								<a class="load-page" data-url="supplier/products/{{item.product.id}}">{{item.product_data.name}}</a>
							</td>
							<td>
								&#8353;{{item.product_data.discount_price}}
							</td>
							<td>
								x{{item.quantity}}
							</td>
							<td>
								&#8353;{{item.amount_paid}}
							</td>
						</tr>
						{% endfor %}
						<tr class="subs">
							<td></td><td></td>
							<td>
								<strong>{{translate('ORDER.SUBTOTAL')}}</strong>
							</td>
							<td>
								&#8353;{{order.subtotal}}
							</td>
						</tr>
						<tr class="subs">
							<td></td><td></td>
							<td>
								<strong>{{translate('ORDER.TAX')}} 8%</strong>
							</td>
							<td>
								&#8353;{{order.tax}}
							</td>
						</tr>
						<tr class="totals">
							<td></td><td></td>
							<td>
								<strong>{{translate('ORDER.TOTAL')}}</strong>
							</td>
							<td>
								&#8353;{{order.total}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="supplier-area-right">
		<div class="supplier-form-box">
			<div class="supplier-row title-row">
				<strong>{{translate('ORDER.SHIPPING_STATUS')}}</strong>
			</div>
			<div class="supplier-row form-group has-feedback floatlabel">
				{% if order.status != "complete" %}
				<p>{{translate('SUPPLIER_AREA.ORDER.MARK_SHIPPED_DESC')}}</p>
				<a class="button mark-shipped btn-highlight btn-no-shadow">{{translate('SUPPLIER_AREA.ORDER.MARK_SHIPPED')}}</a>
				{% else %}
				<p>{{translate('SUPPLIER_AREA.ORDER.COMPLETE')}}</p>
				{% endif %}
			</div>
		</div>
		<div class="supplier-form-box">
			<div class="supplier-row title-row">
				<strong>{{translate('ORDER.CUSTOMER_DETAILS')}}</strong>
			</div>
			<div class="supplier-row form-group">
				<p>
					<strong>{{order.user_data.first_name}} {{order.user_data.last_name}}</strong> ({{order.user_data.user_name}})<br />
					<a href="mailto:{{order.user_data.email}}">{{order.user_data.email}}</a>
					{% if order.user_data.phone is defined %}<br />{{order.user_data.phone}}{% endif %}
				</p>
				<p>
					{{order.user_data.address_line_1}}<br />
					{{order.user_data.address_line_2}}<br />
					{{order.user_data.town_city}}<br />
					{{order.user_data.state}}<br />
					{{order.user_data.postcode}}
				</p>
			</div>
		</div>
		<div class="supplier-form-box">
			<div class="supplier-row title-row">
				<strong>{{translate('ORDER.PAYMENT_DETAILS')}}</strong>
			</div>
			<div class="supplier-row form-group order-payment-details">
				<p>
					<b>{{translate('ORDER.PAYMENT_DATE')}}: </b> <span>{{order.payment.created_at|date('d/m/Y g:ia')}} </span><br />
					<b>{{translate('ORDER.TRANSACTION_ID')}}: </b> <span>{{order.payment.paypal_data.transactionId}} </span><br />
					<b>{{translate('ORDER.PAYMENT_METHOD')}}: </b> <span>PayPal </span>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="supplier-area-top butt">
	<a class="button btn-grey btn-no-shadow load-page btn-larger-width btn-icon" data-url="supplier/orders"><i class="fa fa-caret-left"></i> {{translate('SUPPLIER_AREA.BACK.ORDER')}}</a>
</div>
<form class="order_data" action="{{site.uri.public}}/supplier/orders/{{order.id}}/mark-shipped">
	{% include "forms/csrf.html.twig" %}
</form>