{% extends "tables/table-paginated.html.twig" %}

{% block table %}
    <table id="{{table.id}}" class="tablesorter table table-bordered table-hover table-striped" data-sortlist="[[0, 0]]">
        <thead>
            <tr>
                <th class="sorter-metatext" data-column-name="date" data-column-template="#countdown-table-column-date" data-filter="false">{{translate('COUNTDOWN.START_DATE')}} <i class="fa fa-sort"></i></th>
                <th class="sorter-metanum" data-column-name="hour" data-column-template="#countdown-table-column-hour" data-filter="false">{{translate("COUNTDOWN.TIME")}} <i class="fa fa-sort"></i></th>
                <th class="sorter-metanum" data-column-name="repeat" data-column-template="#countdown-table-column-repeat" data-filter="false">{{translate("COUNTDOWN.REPEAT")}} <i class="fa fa-sort"></i></th>
                <th class="sorter-metanum" data-column-name="products" data-column-template="#countdown-table-column-products" data-filter="false">{{translate("ACTIVE")}} {{translate("PRODUCT", 2)}} <i class="fa fa-sort"></i></th>
                <th data-column-template="#countdown-table-column-actions" data-sorter="false" data-filter="false">{{translate("ACTIONS")}}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block table_cell_templates %}
    {% verbatim %}
    <script id="countdown-table-column-date" type="text/x-handlebars-template">
        <td>
            {{dateFormat row.date format="dddd MMM Do, YYYY"}}
        </td>
    </script>

     <script id="countdown-table-column-hour" type="text/x-handlebars-template">
        <td data-text="{{row.hour}}">
            {{row.hour}}:{{row.minute}} {{#ifCond row.pm '==' 0 }}AM{{ else }}PM{{/ifCond }}
        </td>
    </script>

    <script id="countdown-table-column-repeat" type="text/x-handlebars-template">
        <td data-text="{{row.repeat}}">
            {{row.repeat}}
        </td>
    </script>

    <script id="countdown-table-column-products" type="text/x-handlebars-template">
        <td>
            {{get_length row.products}}
        </td>
    </script>

    <script id="countdown-table-column-actions" type="text/x-handlebars-template">
        <td data-value="{{row.active}}" data-text="
            {{#ifCond row.active '==' 0 }}
                {% endverbatim %}{{translate("COUNTDOWN.INACTIVE")}}{% verbatim %}
            {{ else }}
                {% endverbatim %}{{translate("ACTIVE")}}{% verbatim %}
            {{/ifCond }}
        ">
            <div class="btn-countdown btn-group">
                {{#ifCond row.active '==' 0 }}
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        {% endverbatim %}{{translate("COUNTDOWN.INACTIVE")}}{% verbatim %}
                        <span class="caret"></span>
                    </button>
                {{ else }}
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        {% endverbatim %}{{translate("ACTIVE")}}{% verbatim %}
                        <span class="caret"></span>
                    </button>
                {{/ifCond }}
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#" data-id="{{row.id}}" class="js-countdown-edit">
                        <i class="fa fa-edit"></i> {% endverbatim %}{{translate("COUNTDOWN.EDIT")}}{% verbatim %}
                        </a>
                    </li>
                    <li>
                        <a href="#" data-id="{{row.id}}" class="js-countdown-products">
                        <i class="fa fa-edit"></i> {% endverbatim %}{{translate("COUNTDOWN.MODIFY_PRODUCTS")}}{% verbatim %}
                        </a>
                    </li>
                    <li>
                        <a href="#" data-id="{{row.id}}" class="js-countdown-delete">
                        <i class="fa fa-trash-o"></i> {% endverbatim %}{{translate("COUNTDOWN.DELETE")}}{% verbatim %}
                        </a>
                    </li>
                </ul>
            </div>
        </td>
    </script>
    {% endverbatim %}
{% endblock %}
