{% extends "tables/table-paginated.html.twig" %}

{% block table %}
    <table id="{{table.id}}" class="tablesorter table table-bordered table-hover table-striped" data-sortlist="[[0, 0]]">
        <thead>
            <tr>
                <th class="sorter-metatext" data-column-name="name" data-column-template="#category-table-column-info">{{translate('CATEGORY')}} <i class="fa fa-sort"></i></th>
                <th class="sorter-metanum" data-column-name="products" data-column-template="#category-table-column-products">{{translate("PRODUCT", 2)}} <i class="fa fa-sort"></i></th>
                <th data-column-template="#category-table-column-actions" data-sorter="false" data-filter="false">{{translate("ACTIONS")}}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block table_cell_templates %}
    {% verbatim %}
    <script id="category-table-column-info" type="text/x-handlebars-template">
        <td data-text="{{row.name}}">
            <strong>
                {{row.name}}
            </strong>
        </td>
    </script>

    <script id="category-table-column-products" type="text/x-handlebars-template">
        <td>
            {{get_length row.products}}
        </td>
    </script>

    <script id="category-table-column-actions" type="text/x-handlebars-template">
        <td>
            <div class="btn-category btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    {% endverbatim %}{{translate("ACTIONS")}}{% verbatim %}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#" data-id="{{row.id}}" class="js-category-edit">
                        <i class="fa fa-edit"></i> {% endverbatim %}{{translate("CATEGORY.EDIT")}}{% verbatim %}
                        </a>
                    </li>
                    <li>
                        <a href="#" data-id="{{row.id}}" class="js-category-delete">
                        <i class="fa fa-trash-o"></i> {% endverbatim %}{{translate("CATEGORY.DELETE")}}{% verbatim %}
                        </a>
                    </li>
                </ul>
            </div>
        </td>
    </script>
    {% endverbatim %}
{% endblock %}
