{% extends "tables/table-no-pagination.html.twig" %}

{% block table %}
    <table id="{{table.id}}" class="tablesorter table table-bordered table-hover table-striped" data-sortlist="[[0, 0]]" data-id="{{order.id}}">
        <thead>
            <tr>
                <th data-column-name="mark" data-column-template="#order-table-column-mark" data-sorter="false" data-filter="false"><input type="checkbox" name="select-all" /></th>
                <th data-column-name="reference" data-column-template="#order-table-column-id" data-sorter="false" data-filter="false">{{translate('ORDER.REFERENCE')}}</th>
                <th data-column-name="product_name" data-column-template="#order-table-column-product" data-sorter="false" data-filter="false">{{translate("PRODUCT", 1)}}</th>
                <th data-column-name="supplier_name" data-column-template="#order-table-column-supplier" data-sorter="false" data-filter="false">{{translate("SUPPLIER", 1)}}</th>
                <th data-column-name="amount_paid" data-column-template="#order-table-column-quantity" data-sorter="false" data-filter="false">{{translate("PRODUCT.QUANTITY")}}</th>
                <th data-column-name="amount_paid" data-column-template="#order-table-column-paid" data-sorter="false" data-filter="false">{{translate("ORDER.AMOUNT_PAID")}}</th>
                <th data-column-template="#order-table-column-actions" data-column-name="status" data-sorter="false" data-filter="false" class="filter-select filter-metatext">{{translate("STATUS")}}/{{translate("ACTIONS")}}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block table_cell_templates %}
    {% verbatim %}
    <script id="order-table-column-id" type="text/x-handlebars-template">
        <td data-text="{{row.reference}}">
            <strong>
                {{row.reference}}
            </strong>
        </td>
    </script>

    <script id="order-table-column-user" type="text/x-handlebars-template">
        <td>
            <b>{{row.user_data.user_name}}</b><br />
            ({{row.user_data.email}})
        </td>
    </script>

    <script id="order-table-column-product" type="text/x-handlebars-template">
        <td>
            <b>{{row.product_data.name}}</b> {{row.product_data.variant_name}}
        </td>
    </script>

    <script id="order-table-column-supplier" type="text/x-handlebars-template">
        <td>
            <b>{{row.supplier_data.name}}</b>
        </td>
    </script>

    <script id="order-table-column-quantity" type="text/x-handlebars-template">
        <td>
            {{row.quantity}}
        </td>
    </script>

    <script id="order-table-column-paid" type="text/x-handlebars-template">
        <td>
            &#8353;{{row.amount_paid}}
        </td>
    </script>

    <script id="order-table-column-actions" type="text/x-handlebars-template">
        <td data-text="{{toUpper row.status}}">
            <div class="btn-order btn-group">
                {{#ifCond row.status '==' 'shipped' }}
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                        {% endverbatim %}{{translate("ORDER.SHIPPED")}}{% verbatim %}
                        <span class="caret"></span>
                    </button>
                {{ else }}
                    {{#ifCond row.status '==' 'cancelled' }}
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                            {% endverbatim %}{{translate("ORDER.CANCELLED")}}{% verbatim %}
                            <span class="caret"></span>
                        </button>
                    {{ else }}
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            {% endverbatim %}{{translate("ORDER.NOT_SHIPPED")}}{% verbatim %}
                            <span class="caret"></span>
                        </button>
                    {{/ifCond }}
                {{/ifCond }}
                <ul class="dropdown-menu go-right" role="menu">
                    <li>
                        <a href="#" data-id="{{row.id}}" class="js-order-item-details">
                            <i class="fa fa-edit"></i> {% endverbatim %}{{translate("ORDER.ITEM_DETAILS")}}{% verbatim %}
                        </a>
                    </li>
                    {{#ifCond row.status '!==' 'shipped' }}
                    <li>
                        <a href="#" data-id="{{row.id}}" class="js-order-mark-shipped">
                            <i class="fa fa-check-square"></i> {% endverbatim %}{{translate("ORDER.MARK_SHIPPED")}}{% verbatim %}
                        </a>
                    </li>
                    {{/ifCond }}
                    {{#ifCond row.payment_id '>' 0 }}
                    <li>
                        <a href="#" data-id="{{row.id}}" class="js-order-payment">
                            <i class="fa fa-money"></i> {% endverbatim %}{{translate("ORDER.VIEW_PAYMENT")}}{% verbatim %}
                        </a>
                    </li>
                    {{/ifCond }}
<!--                     <li>
                        <a href="#" data-id="{{row.id}}" class="js-order-deal">
                            <i class="fa fa-cart-arrow-down"></i> {% endverbatim %}{{translate("ORDER.VIEW_DEAL")}}{% verbatim %}
                        </a>
                    </li> -->
                    {{#ifCond row.user_id '>' 0 }}
                    <li>
                        <a href="{{site.uri.public}}/customers/u/{{row.user_data.user_name}}">
                            <i class="fa fa-user"></i> {% endverbatim %}{{translate("ORDER.VIEW_USER")}}{% verbatim %}
                        </a>
                    </li>
                    {{/ifCond }}
                    {{#ifCond row.product_id '>' 0 }}
                    <li>
                        <a href="{{site.uri.public}}/admin/products/g/{{row.product_id}}">
                            <i class="fa fa-gift"></i> {% endverbatim %}{{translate("ORDER.VIEW_PRODUCT")}}{% verbatim %}
                        </a>
                    </li>
                    {{/ifCond }}
                    {{#ifCond row.supplier_id '>' 0 }}
                    <li>
                        <a href="{{site.uri.public}}/admin/suppliers/g/{{row.supplier_id}}">
                            <i class="fa fa-briefcase"></i> {% endverbatim %}{{translate("ORDER.VIEW_SUPPLIER")}}{% verbatim %}
                        </a>
                    </li>
                    {{/ifCond }}
<!--                     <li>
                        <a href="#" data-id="{{row.id}}" class="js-order-delete">
                        <i class="fa fa-trash-o"></i> {% endverbatim %}{{translate("CATEGORY.DELETE")}}{% verbatim %}
                        </a>
                    </li> -->
                </ul>
            </div>
        </td>
    </script>

    <script id="order-table-column-mark" type="text/x-handlebars-template">
        <td>
            <input type="checkbox" name="mark[]" value="{{row.id}}" />
        </td>
    </script>
    {% endverbatim %}
{% endblock %}
