{% extends "tables/table-paginated.html.twig" %}

{% block table %}
    <table id="{{table.id}}" class="tablesorter table table-bordered table-hover table-striped" data-sortlist="[[0, 0]]">
        <thead>
            <tr>
                <th class="sorter-metatext" data-column-name="created_at" data-column-template="#order-table-column-created_at" data-filter="false">{{translate('ORDER.DATE')}} <i class="fa fa-sort"></i></th>
                {% if table.id != 'table-user-orders' %}
                <th class="sorter-metanum" data-column-name="user_name" data-column-template="#order-table-column-user">{{translate("USER", 1)}} <i class="fa fa-sort"></i></th>
                {% endif %}
                <th class="sorter-metanum" data-column-name="user_name" data-column-template="#order-table-column-items">{{translate("ORDER.ITEMS")}} <i class="fa fa-sort"></i></th>
                <th class="sorter-metanum" data-column-name="amount_paid" data-column-template="#order-table-column-paid" data-sorter="false" data-filter="false">{{translate("ORDER.AMOUNT_PAID")}}</th>
                <th data-column-template="#order-table-column-actions" data-column-name="status" data-sorter="false" data-filter="false" class="filter-select filter-metatext">{{translate("STATUS")}}/{{translate("ACTIONS")}}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block table_cell_templates %}
    {% verbatim %}
    <script id="order-table-column-created_at" type="text/x-handlebars-template">
        <td>
            {{dateFormat row.created_at format="DD/MM/YYYY HH:mm:ss"}}
        </td>
    </script>

    <script id="order-table-column-user" type="text/x-handlebars-template">
        <td>
            <b>{{row.user_data.user_name}}</b><br />
            ({{row.user_data.email}})
        </td>
    </script>

    <script id="order-table-column-items" type="text/x-handlebars-template">
        <td>
            {{get_length row.items}}
        </td>
    </script>

    <script id="order-table-column-paid" type="text/x-handlebars-template">
        <td>
            &#8353;{{row.payment.amount_paid_formatted}}
        </td>
    </script>

    <script id="order-table-column-actions" type="text/x-handlebars-template">
        <td data-text="{{toUpper row.status}}">
            <div class="btn-order btn-group">
                {{#ifCond row.status '==' 'complete' }}
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                        {% endverbatim %}{{translate("ORDER.COMPLETE")}}{% verbatim %}
                        <span class="caret"></span>
                    </button>
                {{ else }}
                    {{#ifCond row.status '==' 'cancelled' }}
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                            {% endverbatim %}{{translate("ORDER.CANCELLED")}}{% verbatim %}
                            <span class="caret"></span>
                        </button>
                    {{ else }}
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            {% endverbatim %}{{translate("ORDER.PAID")}}{% verbatim %}
                            <span class="caret"></span>
                        </button>
                    {{/ifCond }}
                {{/ifCond }}
                <ul class="dropdown-menu go-right" role="menu">
                    <li>
                        <a href="{{site.uri.public}}/admin/orders/o/{{row.id}}" >
                            <i class="fa fa-edit"></i> {% endverbatim %}{{translate("ORDER.DETAILS")}}{% verbatim %}{{table.id}}
                        </a>
                    </li>
                    {{#ifCond row.payment_id '>' 0 }}
                    <li>
                        <a href="#" data-id="{{row.id}}" class="js-order-payment">
                            <i class="fa fa-money"></i> {% endverbatim %}{{translate("ORDER.VIEW_PAYMENT")}}{% verbatim %}
                        </a>
                    </li>
                    {{/ifCond }}
<!--                     <li>
                        <a href="#" data-id="{{row.id}}" class="js-order-deal">
                            <i class="fa fa-cart-arrow-down"></i> {% endverbatim %}{{translate("ORDER.VIEW_DEAL")}}{% verbatim %}
                        </a>
                    </li> -->
                    {{#ifCond row.user_id '>' 0 }}
                    <li>
                        <a href="{{site.uri.public}}/customers/u/{{row.user_data.user_name}}">
                            <i class="fa fa-user"></i> {% endverbatim %}{{translate("ORDER.VIEW_USER")}}{% verbatim %}
                        </a>
                    </li>
                    {{/ifCond }}
<!--                     <li>
                        <a href="#" data-id="{{row.id}}" class="js-order-delete">
                        <i class="fa fa-trash-o"></i> {% endverbatim %}{{translate("CATEGORY.DELETE")}}{% verbatim %}
                        </a>
                    </li> -->
                </ul>
            </div>
        </td>
    </script>
    {% endverbatim %}
{% endblock %}
