{% extends "tables/table-paginated.html.twig" %}

{% block table %}
    <table id="{{table.id}}" class="tablesorter table table-bordered table-hover table-striped" data-sortlist="[[0, 0]]">
        <thead>
            <tr>
                <th data-column-name="mark" data-column-template="#order-table-column-mark" data-sorter="false" data-filter="false"><input type="checkbox" name="select-all" /></th>
                <th class="sorter-metatext" data-column-name="name" data-column-template="#product-table-column-info">{{translate('PRODUCT')}} <i class="fa fa-sort"></i></th>
                <th data-column-name="supplier" data-column-template="#product-table-column-supplier" data-sorter="false">{{translate('SUPPLIER')}}</th>
                <th class="sorter-metanum" data-column-name="price" data-column-template="#product-table-column-price" data-sorter="false">{{translate("PRODUCT.ORIGINAL_PRICE")}}</th>
                <th class="sorter-metanum" data-column-name="discount_price" data-column-template="#product-table-column-discount-price" data-sorter="false">{{translate("PRODUCT.DISCOUNT_PRICE")}}</th>
                <th class="sorter-metanum" data-column-name="approved" data-column-template="#product-table-column-approval">{{translate("PRODUCT.APPROVAL_STATUS")}} <i class="fa fa-sort"></i></th>
                <th data-column-template="#product-table-column-actions" data-sorter="false" data-filter="false">{{translate("ACTIONS")}}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block table_cell_templates %}
    {% verbatim %}
    <script id="order-table-column-mark" type="text/x-handlebars-template">
        <td>
            <input type="checkbox" name="mark[]" value="{{row.id}}" />
        </td>
    </script>
    
    <script id="product-table-column-info" type="text/x-handlebars-template">
        <td data-text="{{row.name}}">
            <strong>
            <i class="{{row.icon}} fa-fw"></i> <a href="{{site.uri.public}}/admin/products/g/{{row.id}}"">{{row.name}}</a>
            </strong>
        </td>
    </script>

    <script id="product-table-column-supplier" type="text/x-handlebars-template">
        <td data-text="{{row.supplier.name}}">
            <strong>
            <a href="{{site.uri.public}}/admin/suppliers/g/{{row.supplier.id}}"">{{row.supplier.name}}</a>
            </strong><br />
            <div class="supplier-star-rating">
                {{#ifCond row.supplier.rating '==' "0" }}
                    <i class="fa fa-star-o fa-fw"></i>
                    <i class="fa fa-star-o fa-fw"></i>
                    <i class="fa fa-star-o fa-fw"></i>
                    <i class="fa fa-star-o fa-fw"></i>
                    <i class="fa fa-star-o fa-fw"></i>
                {{/ifCond}}
                {{#ifCond row.supplier.rating '==' "1" }}
                    <i class="fa fa-star fa-fw"></i>
                    <i class="fa fa-star-o fa-fw"></i>
                    <i class="fa fa-star-o fa-fw"></i>
                    <i class="fa fa-star-o fa-fw"></i>
                    <i class="fa fa-star-o fa-fw"></i>
                {{/ifCond}}
                {{#ifCond row.supplier.rating '==' "2" }}
                    <i class="fa fa-star fa-fw"></i>
                    <i class="fa fa-star fa-fw"></i>
                    <i class="fa fa-star-o fa-fw"></i>
                    <i class="fa fa-star-o fa-fw"></i>
                    <i class="fa fa-star-o fa-fw"></i>
                {{/ifCond}}
                {{#ifCond row.supplier.rating '==' "3" }}
                    <i class="fa fa-star fa-fw"></i>
                    <i class="fa fa-star fa-fw"></i>
                    <i class="fa fa-star fa-fw"></i>
                    <i class="fa fa-star-o fa-fw"></i>
                    <i class="fa fa-star-o fa-fw"></i>
                {{/ifCond}}
                {{#ifCond row.supplier.rating '==' "4" }}
                    <i class="fa fa-star fa-fw"></i>
                    <i class="fa fa-star fa-fw"></i>
                    <i class="fa fa-star fa-fw"></i>
                    <i class="fa fa-star fa-fw"></i>
                    <i class="fa fa-star-o fa-fw"></i>
                {{/ifCond}}
                {{#ifCond row.supplier.rating '==' "5" }}
                    <i class="fa fa-star fa-fw"></i>
                    <i class="fa fa-star fa-fw"></i>
                    <i class="fa fa-star fa-fw"></i>
                    <i class="fa fa-star fa-fw"></i>
                    <i class="fa fa-star fa-fw"></i>
                {{/ifCond}}
            </div>
        </td>
    </script>


    <script id="product-table-column-price" type="text/x-handlebars-template">
        <td>
            {{row.price_formatted}}
        </td>
    </script>

    <script id="product-table-column-discount-price" type="text/x-handlebars-template">
        <td>
            {{row.discount_price_formatted}}
        </td>
    </script>

    <script id="product-table-column-approval" type="text/x-handlebars-template">
        <td>
            {{#ifCond row.approved '!=' "1" }}
            {% endverbatim %}{{translate("PRODUCT.APPROVAL_PENDING")}}{% verbatim %}
            {{/ifCond }}
            {{#ifCond row.approved '==' "1" }}
            {% endverbatim %}{{translate("PRODUCT.APPROVED")}}{% verbatim %}
            {{/ifCond }}
        </td>
    </script>

    <script id="product-table-column-actions" type="text/x-handlebars-template">
        <td>
            <div class="btn-product btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    {% endverbatim %}{{translate("ACTIONS")}}{% verbatim %}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {{#ifCond row.approved '==' "0" }}
                    <li>
                        <a href="#" data-id="{{row.id}}" class="js-product-approve">
                        <i class="fa fa-edit"></i> {% endverbatim %}{{translate("PRODUCT.APPROVE")}}{% verbatim %}
                        </a>
                    </li>
                    {{/ifCond }}
                    <li>
                        <a href="#" data-id="{{row.id}}" class="js-product-edit">
                        <i class="fa fa-edit"></i> {% endverbatim %}{{translate("PRODUCT.EDIT")}}{% verbatim %}
                        </a>
                    </li>
                    <li>
                        <a href="#" data-id="{{row.id}}" class="js-product-delete">
                        <i class="fa fa-trash-o"></i> {% endverbatim %}{{translate("PRODUCT.DELETE")}}{% verbatim %}
                        </a>
                    </li>
                </ul>
            </div>
        </td>
    </script>
    {% endverbatim %}
{% endblock %}
