{# This partial template renders a table of variants, to be populated with variants via an AJAX request.
 # This extends a generic template for paginated tables.
 #
 # Note that this template contains a "skeleton" table with an empty table body, and then a block of Handlebars templates which are used
 # to render the table cells with the data from the AJAX request.
#}

{% extends "tables/table-paginated.html.twig" %}

{% block table %}
    <table id="{{table.id}}" class="tablesorter table table-bordered table-hover table-striped" data-sortlist="[[0, 0]]">
        <thead>
            <tr>
                <th class="sorter-metatext filter-metaselect" data-column-name="id" data-column-template="#variant-table-column-info" data-filter="false" data-sortable="false">{{translate('PRODUCT.VARIANT')}}</th>
                <th data-column-name="quantity" data-column-template="#variant-table-column-quantity" data-filter="false" data-sortable="false">{{translate('PRODUCT.QUANTITY')}}</th>
                <th data-column-name="stock_remaining" data-column-template="#variant-table-column-stock" data-filter="false" data-sortable="false">{{translate('PRODUCT.STOCK_REMAINING')}}</th>
                <th data-column-name="flag_enabled" data-column-template="#variant-table-column-actions" data-filter="false" data-sortable="false">{{translate("STATUS")}}/{{translate("ACTIONS")}}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block table_cell_templates %}
    {# This contains a series of <script> blocks, each of which is a client-side Handlebars template.
     # Note that these are NOT Twig templates, although the syntax is similar.  We wrap them in the `verbatim` tag,
     # so that Twig will output them directly into the DOM instead of trying to treat them like Twig templates.
     #
     # These templates require handlebars-helpers.js, moment.js
    #}
    {% verbatim %}
    <script id="variant-table-column-info" type="text/x-handlebars-template">
        <td data-text="{{row.title}}">
            <strong>
                {{row.title}} ({{row.type}})
            </strong>
        </td>
    </script>

    <script id="variant-table-column-quantity" type="text/x-handlebars-template">
        <td data-text="{{row.quantity}}">
            <strong>
                {{row.quantity}}
            </strong>
        </td>
    </script>

    <script id="variant-table-column-stock" type="text/x-handlebars-template">
        <td data-text="{{row.stock_remaining}}">
            <strong>
                {{row.stock_remaining}}
            </strong>
        </td>
    </script>

    <script id="variant-table-column-actions" type="text/x-handlebars-template">
        <td data-value="{{row.flag_enabled}}" data-text="">
           <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    {% endverbatim %}{{translate("ACTIVE")}}{% verbatim %}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li>
                        <a href="#" class="js-variant-edit" data-id="{{row.id}}">
                            <i class="fa fa-user"></i> Edit Variant
                        </a>
                    </li>
                    <li>
                        <a href="#" class="js-product-variant-remove" data-id="{{row.id}}">
                            <i class="fa fa-trash"></i> Remove
                        </a>
                    </li>
                </ul>
            </div>
        </td>
    </script>
    {% endverbatim %}
{% endblock %}
