{# This partial template renders a table of users, to be populated with rows via an AJAX request.
 # This extends a generic template for paginated tables.
 #
 # Note that this template contains a "skeleton" table with an empty table body, and then a block of Handlebars templates which are used
 # to render the table cells with the data from the AJAX request.
#}

{% extends "tables/table-paginated.html.twig" %}

{% block table %}
    <table id="{{table.id}}" class="tablesorter table table-bordered table-hover table-striped" data-sortlist="[[0, 0]]">
        <thead>
            <tr>
                <th class="sorter-metatext filter-metaselect" data-column-name="id" data-column-template="#user-table-column-info">{{translate('USER')}}</th>
                <th data-column-name="flag_enabled" data-column-template="#user-table-column-actions">{{translate("STATUS")}}/{{translate("ACTIONS")}}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block table_cell_templates %}
    {# This contains a series of <script> blocks, each of which is a client-side Handlebars template.
     # Note that these are NOT Twig templates, although the syntax is similar.  We wrap them in the `verbatim` tag,
     # so that Twig will output them directly into the DOM instead of trying to treat them like Twig templates.
     #
     # These templates require handlebars-helpers.js, moment.js
    #}
    {% verbatim %}
    <script id="user-table-column-info" type="text/x-handlebars-template">
        <td data-text="{{row.user.last_name}}">
            <strong>
                <a href="{{site.uri.public}}/admin/users/u/{{row.user.user_name}}">
                    {{row.user.first_name}} {{row.last_name}} ({{row.user.user_name}})
                </a>
            </strong>
            <div class="js-copy-container">
                <span class="js-copy-target">{{row.user.email}}</span>
                <button class="btn btn-xs js-copy-trigger"><i class="fa fa-copy"></i></button>
            </div>
        </td>
    </script>

    <script id="user-table-column-actions" type="text/x-handlebars-template">
        <td data-value="{{row.flag_enabled}}" data-text="">
           <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    {% endverbatim %}{{translate("ACTIVE")}}{% verbatim %}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li>
                        <a href="{{site.uri.public}}/admin/users/u/{{row.user.user_name}}"  class="js-user-activate">
                            <i class="fa fa-user"></i> View User
                        </a>
                    </li>
                    <li>
                        <a href="#" class="js-supplier-user-remove" data-user_id="{{row.user_id}}" data-supplier_id="{{row.supplier_id}}">
                            <i class="fa fa-trash"></i> Revoke access
                        </a>
                    </li>
                </ul>
            </div>
        </td>
    </script>
    {% endverbatim %}
{% endblock %}
