{% extends "tables/table-paginated.html.twig" %}

{% block table %}
    <table id="{{table.id}}" class="tablesorter table table-bordered table-hover table-striped" data-sortlist="[[0, 0]]">
        <thead>
            <tr>
                <th class="sorter-metatext" data-column-name="name" data-column-template="#product-table-column-info">{{translate('PRODUCT')}} <i class="fa fa-sort"></i></th>
                <th class="sorter-metanum" data-column-name="rating" data-column-template="#product-table-column-approval">{{translate("PRODUCT.APPROVAL_STATUS")}} <i class="fa fa-sort"></i></th>
                <th data-column-template="#product-table-column-actions" data-sorter="false" data-filter="false">{{translate("ACTIONS")}}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block table_cell_templates %}
    {% verbatim %}
    
    <script id="product-table-column-info" type="text/x-handlebars-template">
        <td data-text="{{row.name}}">
            <strong>
            <i class="{{row.icon}} fa-fw"></i> <a href="{{site.uri.public}}/admin/products/g/{{row.id}}"">{{row.name}}</a>
            </strong>
        </td>
    </script>

    <script id="product-table-column-approval" type="text/x-handlebars-template">
        <td>
            {{#ifCond row.approved '!=' "1" }}
            {% endverbatim %}{{translate("PRODUCT.APPROVAL_PENDING")}}{% verbatim %}
            {{/ifCond }}
            {{#ifCond row.approved '==' "1" }}
            {% endverbatim %}{{translate("PRODUCT.APPROVED")}}{% verbatim %}
            {{/ifCond }}
        </td>
    </script>

    <script id="product-table-column-actions" type="text/x-handlebars-template">
        <td>
            <div class="btn-product btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    {% endverbatim %}{{translate("ACTIONS")}}{% verbatim %}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {{#ifCond row.approved '==' "0" }}
                    <li>
                        <a href="#" data-id="{{row.id}}" class="js-product-approve">
                        <i class="fa fa-edit"></i> {% endverbatim %}{{translate("PRODUCT.APPROVE")}}{% verbatim %}
                        </a>
                    </li>
                    {{/ifCond }}
                    <li>
                        <a href="#" data-id="{{row.id}}" class="js-product-edit">
                        <i class="fa fa-edit"></i> {% endverbatim %}{{translate("PRODUCT.EDIT")}}{% verbatim %}
                        </a>
                    </li>
                    <li>
                        <a href="#" data-id="{{row.id}}" class="js-product-delete">
                        <i class="fa fa-trash-o"></i> {% endverbatim %}{{translate("PRODUCT.DELETE")}}{% verbatim %}
                        </a>
                    </li>
                </ul>
            </div>
        </td>
    </script>
    {% endverbatim %}
{% endblock %}
