{% extends "tables/table-paginated.html.twig" %}

{% block table %}
    <table id="{{table.id}}" class="tablesorter table table-bordered table-hover table-striped" data-sortlist="[[0, 0]]">
        <thead>
            <tr>
                <th class="sorter-metatext" data-column-name="name" data-column-template="#supplier-table-column-info">{{translate('SUPPLIER')}} <i class="fa fa-sort"></i></th>
                <th class="sorter-metanum" data-column-name="rating" data-column-template="#supplier-table-column-rating">{{translate("SUPPLIER.RATING")}} <i class="fa fa-sort"></i></th>
                <th class="sorter-metanum" data-column-name="products" data-column-template="#supplier-table-column-products">{{translate("PRODUCT", 2)}} <i class="fa fa-sort"></i></th>
                <th data-column-template="#supplier-table-column-actions" data-sorter="false" data-filter="false">{{translate("ACTIONS")}}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block table_cell_templates %}
    {% verbatim %}
    <script id="supplier-table-column-info" type="text/x-handlebars-template">
        <td data-text="{{row.name}}">
            <strong>
            <i class="{{row.icon}} fa-fw"></i> <a href="{{site.uri.public}}/admin/suppliers/g/{{row.id}}"">{{row.name}}</a>
            </strong>
        </td>
    </script>

    <script id="supplier-table-column-products" type="text/x-handlebars-template">
        <td>
            {{get_length row.products}}
        </td>
    </script>

    <script id="supplier-table-column-rating" type="text/x-handlebars-template">
        <td>
            <div class="supplier-star-rating">
                {{#ifCond supplier.rating '==' "0" }}
                    <i class="fa fa-star-o fa-fw"></i>
                    <i class="fa fa-star-o fa-fw"></i>
                    <i class="fa fa-star-o fa-fw"></i>
                    <i class="fa fa-star-o fa-fw"></i>
                    <i class="fa fa-star-o fa-fw"></i>
                {{/ifCond}}
                {{#ifCond row.rating '==' "1" }}
                    <i class="fa fa-star fa-fw"></i>
                    <i class="fa fa-star-o fa-fw"></i>
                    <i class="fa fa-star-o fa-fw"></i>
                    <i class="fa fa-star-o fa-fw"></i>
                    <i class="fa fa-star-o fa-fw"></i>
                {{/ifCond}}
                {{#ifCond row.rating '==' "2" }}
                    <i class="fa fa-star fa-fw"></i>
                    <i class="fa fa-star fa-fw"></i>
                    <i class="fa fa-star-o fa-fw"></i>
                    <i class="fa fa-star-o fa-fw"></i>
                    <i class="fa fa-star-o fa-fw"></i>
                {{/ifCond}}
                {{#ifCond row.rating '==' "3" }}
                    <i class="fa fa-star fa-fw"></i>
                    <i class="fa fa-star fa-fw"></i>
                    <i class="fa fa-star fa-fw"></i>
                    <i class="fa fa-star-o fa-fw"></i>
                    <i class="fa fa-star-o fa-fw"></i>
                {{/ifCond}}
                {{#ifCond row.rating '==' "4" }}
                    <i class="fa fa-star fa-fw"></i>
                    <i class="fa fa-star fa-fw"></i>
                    <i class="fa fa-star fa-fw"></i>
                    <i class="fa fa-star fa-fw"></i>
                    <i class="fa fa-star-o fa-fw"></i>
                {{/ifCond}}
                {{#ifCond row.rating '==' "5" }}
                    <i class="fa fa-star fa-fw"></i>
                    <i class="fa fa-star fa-fw"></i>
                    <i class="fa fa-star fa-fw"></i>
                    <i class="fa fa-star fa-fw"></i>
                    <i class="fa fa-star fa-fw"></i>
                {{/ifCond}}
            </div>
        </td>
    </script>

    <script id="supplier-table-column-actions" type="text/x-handlebars-template">
        <td>
            <div class="btn-supplier btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    {% endverbatim %}{{translate("ACTIONS")}}{% verbatim %}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#" data-id="{{row.id}}" class="js-supplier-edit">
                        <i class="fa fa-edit"></i> {% endverbatim %}{{translate("SUPPLIER.EDIT")}}{% verbatim %}
                        </a>
                    </li>
                    <li>
                        <a href="#" data-id="{{row.id}}" class="js-supplier-delete">
                        <i class="fa fa-trash-o"></i> {% endverbatim %}{{translate("SUPPLIER.DELETE")}}{% verbatim %}
                        </a>
                    </li>
                </ul>
            </div>
        </td>
    </script>
    {% endverbatim %}
{% endblock %}
