{# Base layout for paginated tablesorter tables.
 # Requires tablesorter-custom.css for proper styling of pager elements.
#}

{# Set some default values for the child template. #}
{% set table = {
        'id': "uf-table",
        'sortlist': "[[0, 0]]"
    } | merge(table)
%}

{#
   Global search field for the table.  By default, only shown in mobile sizes.
   To customize this behavior, see core/assets/userfrosting/css/userfrosting.css
#}
{% block table_search %}
    <div class="form-group has-feedback uf-table-search js-uf-table-search">
        <input type="search" class="form-control" data-column="all">
        <i class="fa fa-search form-control-icon" aria-hidden="true"></i>
    </div>
{% endblock %}
<div class="table overlay-wrapper">
    {% block table %}
        {# Define your table skeleton in this block in your child template #}
    {% endblock %}

    {% block table_cell_templates %}
        {# Define your Handlebars cell templates in this block in your child template #}
    {% endblock %}

    {% block table_info %}
        <div class="uf-table-info js-uf-table-info" data-message-empty-rows="{{translate('NO_RESULTS')}}">
        </div>
    {% endblock %}
    
    {% block table_overlay %}
        {% if site.uf_table.use_loading_transition %}
            <div class="overlay js-uf-table-overlay hidden">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        {% endif %}
    {% endblock %}
</div>
