{% extends "tables/table-paginated.html.twig" %}

{% block table %}
    <table id="{{table.id}}" class="tablesorter table table-bordered table-hover table-striped" data-sortlist="[[0, 0]]">
        <thead>
            <tr>
                <th class="sorter-metatext" data-column-name="day" data-column-template="#countdown-table-column-day" data-filter="false">{{translate('COUNTDOWN.DAY')}} <i class="fa fa-sort"></i></th>
                <th class="sorter-metanum" data-column-name="hour" data-column-template="#countdown-table-column-hour" data-filter="false">{{translate("COUNTDOWN.TIME")}} <i class="fa fa-sort"></i></th>
                <th class="sorter-metanum" data-column-name="products" data-column-template="#countdown-table-column-products" data-filter="false">{{translate("ACTIVE")}} {{translate("PRODUCT", 2)}} <i class="fa fa-sort"></i></th>
                <th data-column-template="#countdown-table-column-actions" data-sorter="false" data-filter="false">{{translate("STATUS")}}/{{translate("ACTIONS")}}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block table_cell_templates %}
    {% verbatim %}
    <script id="countdown-table-column-day" type="text/x-handlebars-template">
        <td>
            {{#ifCond row.day '==' "1" }}
            Monday
            {{/ifCond}}
            {{#ifCond row.day '==' "2" }}
            Tuesday
            {{/ifCond}}
            {{#ifCond row.day '==' "3" }}
            Wednesday
            {{/ifCond}}
            {{#ifCond row.day '==' "4" }}
            Thursday
            {{/ifCond}}
            {{#ifCond row.day '==' "5" }}
            Friday
            {{/ifCond}}
            {{#ifCond row.day '==' "6" }}
            Saturday
            {{/ifCond}}
            {{#ifCond row.day '==' "7" }}
            Sunday
            {{/ifCond}}
        </td>
    </script>

    <script id="countdown-table-column-hour" type="text/x-handlebars-template">
        <td data-text="{{row.hour}}">
            {{row.hour}}:{{#ifCond row.minute '<' 10 }}0{{/ifCond }}{{row.minute}} {{#ifCond row.pm '==' 0 }}AM{{ else }}PM{{/ifCond }}
        </td>
    </script>

    <script id="countdown-table-column-products" type="text/x-handlebars-template">
        <td>
            {{get_length row.products}}
        </td>
    </script>

    <script id="countdown-table-column-actions" type="text/x-handlebars-template">
        <td data-value="{{row.active}}" data-text="
            {{#ifCond row.active '==' 0 }}
                {% endverbatim %}{{translate("COUNTDOWN.INACTIVE")}}{% verbatim %}
            {{ else }}
                {% endverbatim %}{{translate("ACTIVE")}}{% verbatim %}
            {{/ifCond }}
        ">
            <div class="btn-countdown btn-group">
                {{#ifCond row.active '==' 0 }}
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        {% endverbatim %}{{translate("COUNTDOWN.INACTIVE")}}{% verbatim %}
                        <span class="caret"></span>
                    </button>
                {{ else }}
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        {% endverbatim %}{{translate("ACTIVE")}}{% verbatim %}
                        <span class="caret"></span>
                    </button>
                {{/ifCond }}
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#" data-id="{{row.id}}" class="js-countdown-edit">
                        <i class="fa fa-edit"></i> {% endverbatim %}{{translate("COUNTDOWN.EDIT")}}{% verbatim %}
                        </a>
                    </li>
                    <li>
                        <a href="#" data-id="{{row.id}}" class="js-countdown-products">
                        <i class="fa fa-edit"></i> {% endverbatim %}{{translate("COUNTDOWN.MODIFY_PRODUCTS")}}{% verbatim %}
                        </a>
                    </li>
                    <li>
                        <a href="#" data-id="{{row.id}}" class="js-countdown-delete">
                        <i class="fa fa-trash-o"></i> {% endverbatim %}{{translate("COUNTDOWN.DELETE")}}{% verbatim %}
                        </a>
                    </li>
                </ul>
            </div>
        </td>
    </script>
    {% endverbatim %}
{% endblock %}
