/* Colours */
@import url("https://fonts.googleapis.com/css?family=Roboto");
/* line 36, ../sass/_colours.scss */
.bg-red {
  background-color: #FF4C3D !important;
}

/*$largedesktop: 1160;*/
/* Mixins */
/*
 * The MIT License
 * Copyright (c) 2012 Matias Meno <m@tias.me>
 */
@-webkit-keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
@-moz-keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
@keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-moz-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
/* line 230, ../sass/_dropzone.scss */
.dropzone, .dropzone * {
  box-sizing: border-box;
}

/* line 234, ../sass/_dropzone.scss */
.dropzone {
  min-height: 150px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
  padding: 20px 20px;
}

/* line 241, ../sass/_dropzone.scss */
.dropzone.dz-clickable {
  cursor: pointer;
}

/* line 245, ../sass/_dropzone.scss */
.dropzone.dz-clickable * {
  cursor: default;
}

/* line 249, ../sass/_dropzone.scss */
.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
  cursor: pointer;
}

/* line 253, ../sass/_dropzone.scss */
.dropzone.dz-started .dz-message {
  display: none;
}

/* line 257, ../sass/_dropzone.scss */
.dropzone.dz-drag-hover {
  border-style: solid;
}

/* line 261, ../sass/_dropzone.scss */
.dropzone.dz-drag-hover .dz-message {
  opacity: 0.5;
}

/* line 265, ../sass/_dropzone.scss */
.dropzone .dz-message {
  text-align: center;
  margin: 2em 0;
}

/* line 270, ../sass/_dropzone.scss */
.dropzone .dz-preview {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 16px;
  min-height: 100px;
}

/* line 278, ../sass/_dropzone.scss */
.dropzone .dz-preview:hover {
  z-index: 1000;
}

/* line 282, ../sass/_dropzone.scss */
.dropzone .dz-preview:hover .dz-details {
  opacity: 1;
}

/* line 286, ../sass/_dropzone.scss */
.dropzone .dz-preview.dz-file-preview .dz-image {
  border-radius: 20px;
  background: #999;
  background: linear-gradient(to bottom, #eee, #ddd);
}

/* line 292, ../sass/_dropzone.scss */
.dropzone .dz-preview.dz-file-preview .dz-details {
  opacity: 1;
}

/* line 296, ../sass/_dropzone.scss */
.dropzone .dz-preview.dz-image-preview {
  background: white;
}

/* line 300, ../sass/_dropzone.scss */
.dropzone .dz-preview.dz-image-preview .dz-details {
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

/* line 308, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-remove {
  font-size: 14px;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none;
}

/* line 316, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-remove:hover {
  text-decoration: underline;
}

/* line 320, ../sass/_dropzone.scss */
.dropzone .dz-preview:hover .dz-details {
  opacity: 1;
}

/* line 324, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-details {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 13px;
  min-width: 100%;
  max-width: 100%;
  padding: 2em 1em;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  line-height: 150%;
}

/* line 339, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-details .dz-size {
  margin-bottom: 1em;
  font-size: 16px;
}

/* line 344, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-details .dz-filename {
  white-space: nowrap;
}

/* line 348, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-details .dz-filename:hover span {
  border: 1px solid rgba(200, 200, 200, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
}

/* line 353, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 358, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
  border: 1px solid transparent;
}

/* line 362, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 0.4em;
  border-radius: 3px;
}

/* line 368, ../sass/_dropzone.scss */
.dropzone .dz-preview:hover .dz-image img {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  -webkit-filter: blur(8px);
  filter: blur(8px);
}

/* line 378, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-image {
  border-radius: 20px;
  overflow: hidden;
  width: 120px;
  height: 120px;
  position: relative;
  display: block;
  z-index: 10;
}

/* line 388, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-image img {
  display: block;
}

/* line 392, ../sass/_dropzone.scss */
.dropzone .dz-preview.dz-success .dz-success-mark {
  -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
}

/* line 400, ../sass/_dropzone.scss */
.dropzone .dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
}

/* line 409, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
  pointer-events: none;
  opacity: 0;
  z-index: 500;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -27px;
  margin-top: -27px;
}

/* line 421, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg {
  display: block;
  width: 54px;
  height: 54px;
}

/* line 427, ../sass/_dropzone.scss */
.dropzone .dz-preview.dz-processing .dz-progress {
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* line 436, ../sass/_dropzone.scss */
.dropzone .dz-preview.dz-complete .dz-progress {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}

/* line 445, ../sass/_dropzone.scss */
.dropzone .dz-preview:not(.dz-processing) .dz-progress {
  -webkit-animation: pulse 6s ease infinite;
  -moz-animation: pulse 6s ease infinite;
  -ms-animation: pulse 6s ease infinite;
  -o-animation: pulse 6s ease infinite;
  animation: pulse 6s ease infinite;
}

/* line 453, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-progress {
  opacity: 1;
  z-index: 1000;
  pointer-events: none;
  position: absolute;
  height: 16px;
  left: 50%;
  top: 50%;
  margin-top: -8px;
  width: 80px;
  margin-left: -40px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform: scale(1);
  border-radius: 8px;
  overflow: hidden;
}

/* line 470, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-progress .dz-upload {
  background: #333;
  background: linear-gradient(to bottom, #666, #444);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  -webkit-transition: width 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out;
  -ms-transition: width 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}

/* line 485, ../sass/_dropzone.scss */
.dropzone .dz-preview.dz-error .dz-error-message {
  display: block;
}

/* line 489, ../sass/_dropzone.scss */
.dropzone .dz-preview.dz-error:hover .dz-error-message {
  opacity: 1;
  pointer-events: auto;
}

/* line 494, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-error-message {
  pointer-events: none;
  z-index: 1000;
  position: absolute;
  display: block;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  font-size: 13px;
  top: 130px;
  left: -10px;
  width: 140px;
  background: #be2626;
  background: linear-gradient(to bottom, #be2626, #a92222);
  padding: 0.5em 1.2em;
  color: white;
}

/* line 517, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-error-message:after {
  content: '';
  position: absolute;
  top: -6px;
  left: 64px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #be2626;
}

/* line 9, ../sass/screen.scss */
body, header {
  min-width: 320px;
}

/* line 13, ../sass/screen.scss */
body {
  font-family: "Roboto", sans-serif !important;
}
/* line 16, ../sass/screen.scss */
body *:not(.fa):not(.glyphicon):not(.sidebar-toggle):not(.mce-btn):not(.mce-ico) {
  font-family: "Roboto", sans-serif;
}

/* line 21, ../sass/screen.scss */
.system-time {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #9E9E9E;
  color: #000;
  font-size: 9px;
  font-weight: 700;
  padding: 3px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999999999999999;
}

/* line 35, ../sass/screen.scss */
body.skin-ly .main-header, body.skin-ly .front-header, body.skin-ly .site-header {
  position: relative;
}
/* line 38, ../sass/screen.scss */
body.skin-ly .main-header .logo, body.skin-ly .front-header .logo, body.skin-ly .site-header .logo {
  height: 60px;
  position: relative;
  top: 20px;
}
@media only screen and (min-width: 780px) {
  /* line 38, ../sass/screen.scss */
  body.skin-ly .main-header .logo, body.skin-ly .front-header .logo, body.skin-ly .site-header .logo {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
/* line 48, ../sass/screen.scss */
body.skin-ly .main-header .navbar, body.skin-ly .front-header .navbar, body.skin-ly .site-header .navbar {
  min-height: 100px;
}
@media only screen and (min-width: 780px) {
  /* line 52, ../sass/screen.scss */
  body.skin-ly .main-header .navbar .nav > li, body.skin-ly .front-header .navbar .nav > li, body.skin-ly .site-header .navbar .nav > li {
    height: 100px;
  }
}
/* line 58, ../sass/screen.scss */
body.skin-ly .main-header .navbar .nav > li > a, body.skin-ly .front-header .navbar .nav > li > a, body.skin-ly .site-header .navbar .nav > li > a {
  color: #FFFFFF;
}
/* line 61, ../sass/screen.scss */
body.skin-ly .main-header .navbar .nav > li > a:hover, body.skin-ly .front-header .navbar .nav > li > a:hover, body.skin-ly .site-header .navbar .nav > li > a:hover {
  background-color: transparent;
}
@media only screen and (min-width: 780px) {
  /* line 58, ../sass/screen.scss */
  body.skin-ly .main-header .navbar .nav > li > a, body.skin-ly .front-header .navbar .nav > li > a, body.skin-ly .site-header .navbar .nav > li > a {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
/* line 71, ../sass/screen.scss */
body.skin-ly .main-header .navbar .nav > li.open a, body.skin-ly .front-header .navbar .nav > li.open a, body.skin-ly .site-header .navbar .nav > li.open a {
  background-color: transparent;
}
/* line 79, ../sass/screen.scss */
body.skin-ly .main-header .dropdown-menu, body.skin-ly .front-header .dropdown-menu, body.skin-ly .site-header .dropdown-menu {
  background-color: #FF4C3D;
}
/* line 83, ../sass/screen.scss */
body.skin-ly .main-header .sidebar-toggle, body.skin-ly .front-header .sidebar-toggle, body.skin-ly .site-header .sidebar-toggle {
  color: #FFFFFF;
}
/* line 86, ../sass/screen.scss */
body.skin-ly .main-header .sidebar-toggle span, body.skin-ly .front-header .sidebar-toggle span, body.skin-ly .site-header .sidebar-toggle span {
  display: none;
}
@media only screen and (min-width: 780px) {
  /* line 83, ../sass/screen.scss */
  body.skin-ly .main-header .sidebar-toggle, body.skin-ly .front-header .sidebar-toggle, body.skin-ly .site-header .sidebar-toggle {
    font-size: 30px;
    padding: 29px;
    position: relative;
  }
  /* line 95, ../sass/screen.scss */
  body.skin-ly .main-header .sidebar-toggle span, body.skin-ly .front-header .sidebar-toggle span, body.skin-ly .site-header .sidebar-toggle span {
    display: inline;
    font-size: 22px;
    left: 70px;
    position: absolute;
    top: 35px;
  }
}
/* line 105, ../sass/screen.scss */
body.skin-ly .main-header .hp-timer, body.skin-ly .front-header .hp-timer, body.skin-ly .site-header .hp-timer {
  color: #FFFFFF;
  display: none;
  left: 0;
  margin: 0 auto;
  max-width: 220px;
  position: absolute;
  right: 0;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media only screen and (min-width: 750px) {
  /* line 105, ../sass/screen.scss */
  body.skin-ly .main-header .hp-timer, body.skin-ly .front-header .hp-timer, body.skin-ly .site-header .hp-timer {
    display: block;
  }
}
@media only screen and (min-width: 1300px) {
  /* line 105, ../sass/screen.scss */
  body.skin-ly .main-header .hp-timer, body.skin-ly .front-header .hp-timer, body.skin-ly .site-header .hp-timer {
    max-width: 300px;
  }
}
/* line 127, ../sass/screen.scss */
body.skin-ly .main-header .hp-timer .timer-sect, body.skin-ly .front-header .hp-timer .timer-sect, body.skin-ly .site-header .hp-timer .timer-sect {
  float: left;
  position: relative;
  text-align: center;
  width: calc(100% / 3);
}
/* line 133, ../sass/screen.scss */
body.skin-ly .main-header .hp-timer .timer-sect:after, body.skin-ly .front-header .hp-timer .timer-sect:after, body.skin-ly .site-header .hp-timer .timer-sect:after {
  content: ':';
  font-size: 32px;
  margin-top: -8px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media only screen and (min-width: 1300px) {
  /* line 133, ../sass/screen.scss */
  body.skin-ly .main-header .hp-timer .timer-sect:after, body.skin-ly .front-header .hp-timer .timer-sect:after, body.skin-ly .site-header .hp-timer .timer-sect:after {
    font-size: 50px;
    margin-top: -11px;
  }
}
/* line 149, ../sass/screen.scss */
body.skin-ly .main-header .hp-timer .timer-sect.last:after, body.skin-ly .front-header .hp-timer .timer-sect.last:after, body.skin-ly .site-header .hp-timer .timer-sect.last:after {
  display: none;
}
/* line 154, ../sass/screen.scss */
body.skin-ly .main-header .hp-timer .timer-sect h2, body.skin-ly .main-header .hp-timer .timer-sect p, body.skin-ly .front-header .hp-timer .timer-sect h2, body.skin-ly .front-header .hp-timer .timer-sect p, body.skin-ly .site-header .hp-timer .timer-sect h2, body.skin-ly .site-header .hp-timer .timer-sect p {
  margin: 0;
}
/* line 158, ../sass/screen.scss */
body.skin-ly .main-header .hp-timer .timer-sect p, body.skin-ly .front-header .hp-timer .timer-sect p, body.skin-ly .site-header .hp-timer .timer-sect p {
  font-size: 11px;
}
@media only screen and (min-width: 1300px) {
  /* line 158, ../sass/screen.scss */
  body.skin-ly .main-header .hp-timer .timer-sect p, body.skin-ly .front-header .hp-timer .timer-sect p, body.skin-ly .site-header .hp-timer .timer-sect p {
    font-size: 12px;
  }
}
/* line 166, ../sass/screen.scss */
body.skin-ly .main-header .hp-timer .timer-sect h2, body.skin-ly .front-header .hp-timer .timer-sect h2, body.skin-ly .site-header .hp-timer .timer-sect h2 {
  font-weight: 700;
}
@media only screen and (min-width: 780px) {
  /* line 166, ../sass/screen.scss */
  body.skin-ly .main-header .hp-timer .timer-sect h2, body.skin-ly .front-header .hp-timer .timer-sect h2, body.skin-ly .site-header .hp-timer .timer-sect h2 {
    font-size: 37px;
  }
}
@media only screen and (min-width: 1300px) {
  /* line 166, ../sass/screen.scss */
  body.skin-ly .main-header .hp-timer .timer-sect h2, body.skin-ly .front-header .hp-timer .timer-sect h2, body.skin-ly .site-header .hp-timer .timer-sect h2 {
    font-size: 42px;
  }
}
@media only screen and (min-width: 1500px) {
  /* line 166, ../sass/screen.scss */
  body.skin-ly .main-header .hp-timer .timer-sect h2, body.skin-ly .front-header .hp-timer .timer-sect h2, body.skin-ly .site-header .hp-timer .timer-sect h2 {
    font-size: 50px;
  }
}
/* line 187, ../sass/screen.scss */
body.skin-ly .main-header {
  background-color: #FF4C3D;
  height: 100px;
}
/* line 192, ../sass/screen.scss */
body.skin-ly .site-header {
  background-color: #FF4C3D;
  height: 60px;
}
@media only screen and (min-width: 1300px) {
  /* line 192, ../sass/screen.scss */
  body.skin-ly .site-header {
    height: 100px;
  }
}
/* line 201, ../sass/screen.scss */
body.skin-ly .site-header {
  box-shadow: 0px -15px 20px 10px rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}
@media only screen and (min-width: 1500px) {
  /* line 201, ../sass/screen.scss */
  body.skin-ly .site-header {
    height: 120px;
  }
}
/* line 216, ../sass/screen.scss */
body.skin-ly .site-header .logo {
  background: url("../../img/logo-white.png") left center no-repeat;
  background-size: 150px;
  display: block;
  float: left;
  height: 50px;
  width: 35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media only screen and (min-width: 600px) {
  /* line 216, ../sass/screen.scss */
  body.skin-ly .site-header .logo {
    background-size: contain;
    width: 150px;
  }
}
@media only screen and (min-width: 780px) {
  /* line 216, ../sass/screen.scss */
  body.skin-ly .site-header .logo {
    width: 161px;
  }
}
@media only screen and (min-width: 1300px) {
  /* line 216, ../sass/screen.scss */
  body.skin-ly .site-header .logo {
    width: 190px;
  }
}
@media only screen and (min-width: 1500px) {
  /* line 216, ../sass/screen.scss */
  body.skin-ly .site-header .logo {
    width: 200px;
  }
}
/* line 247, ../sass/screen.scss */
body.skin-ly .site-header .menu-icon {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  display: block;
  float: left;
  height: 50px;
  margin-left: 18px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media only screen and (min-width: 1300px) {
  /* line 247, ../sass/screen.scss */
  body.skin-ly .site-header .menu-icon {
    height: 80px;
    margin-left: 25px;
  }
}
/* line 264, ../sass/screen.scss */
body.skin-ly .site-header .menu-icon .hamburger {
  float: left;
}
/* line 268, ../sass/screen.scss */
body.skin-ly .site-header .menu-icon p {
  color: #FFFFFF;
  display: none;
}
@media only screen and (min-width: 780px) {
  /* line 268, ../sass/screen.scss */
  body.skin-ly .site-header .menu-icon p {
    display: block;
    float: left;
    line-height: 52px;
    margin: 0;
  }
}
@media only screen and (min-width: 1300px) {
  /* line 268, ../sass/screen.scss */
  body.skin-ly .site-header .menu-icon p {
    line-height: 82px;
  }
}
/* line 286, ../sass/screen.scss */
body.skin-ly .site-header .navbar {
  color: #E0E0E0;
  float: right;
  height: 30px;
  min-height: 30px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media only screen and (min-width: 1300px) {
  /* line 286, ../sass/screen.scss */
  body.skin-ly .site-header .navbar {
    height: 40px;
    min-height: 40px;
  }
}
/* line 301, ../sass/screen.scss */
body.skin-ly .site-header .navbar i {
  line-height: 30px;
}
@media only screen and (min-width: 1300px) {
  /* line 301, ../sass/screen.scss */
  body.skin-ly .site-header .navbar i {
    line-height: 40px;
  }
}
/* line 309, ../sass/screen.scss */
body.skin-ly .site-header .navbar .fa-search, body.skin-ly .site-header .navbar .fa-shopping-cart {
  margin-right: 17px;
}
@media only screen and (min-width: 600px) {
  /* line 309, ../sass/screen.scss */
  body.skin-ly .site-header .navbar .fa-search, body.skin-ly .site-header .navbar .fa-shopping-cart {
    margin-right: 20px;
  }
}
@media only screen and (min-width: 1300px) {
  /* line 309, ../sass/screen.scss */
  body.skin-ly .site-header .navbar .fa-search, body.skin-ly .site-header .navbar .fa-shopping-cart {
    margin-right: 35px;
  }
}
/* line 322, ../sass/screen.scss */
body.skin-ly .site-header .navbar .fa-search:hover, body.skin-ly .site-header .navbar .fa-shopping-cart:hover {
  color: #FFFFFF;
}
/* line 327, ../sass/screen.scss */
body.skin-ly .site-header .navbar .fa-search, body.skin-ly .site-header .navbar .fa-shopping-cart, body.skin-ly .site-header .navbar .profile-icon {
  cursor: pointer;
  display: block;
  float: left;
}
/* line 334, ../sass/screen.scss */
body.skin-ly .site-header .navbar .fa-search:before {
  font-size: 18px;
}
@media only screen and (min-width: 1300px) {
  /* line 334, ../sass/screen.scss */
  body.skin-ly .site-header .navbar .fa-search:before {
    font-size: 24px;
  }
}
/* line 343, ../sass/screen.scss */
body.skin-ly .site-header .navbar .fa-shopping-cart {
  position: relative;
}
/* line 346, ../sass/screen.scss */
body.skin-ly .site-header .navbar .fa-shopping-cart:before {
  font-size: 23px;
}
@media only screen and (min-width: 1300px) {
  /* line 346, ../sass/screen.scss */
  body.skin-ly .site-header .navbar .fa-shopping-cart:before {
    font-size: 30px;
  }
}
/* line 354, ../sass/screen.scss */
body.skin-ly .site-header .navbar .fa-shopping-cart .cart-count {
  background-color: #4CAF50;
  border: 2px solid #FF4C3D;
  border-radius: 20px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 8px;
  height: 15px;
  line-height: 11px;
  position: absolute;
  right: -6px;
  text-align: center;
  top: 1px;
  width: 15px;
}
@media only screen and (min-width: 1300px) {
  /* line 354, ../sass/screen.scss */
  body.skin-ly .site-header .navbar .fa-shopping-cart .cart-count {
    font-size: 10px;
    height: 17px;
    line-height: 13px;
    top: 4px;
    width: 17px;
  }
}
/* line 380, ../sass/screen.scss */
body.skin-ly .site-header .navbar .profile-icon .profile-img {
  border-radius: 30px;
  background-color: #FFFFFF;
  display: block;
  float: left;
  height: 30px;
  margin-right: 8px;
  width: 30px;
}
@media only screen and (min-width: 1300px) {
  /* line 380, ../sass/screen.scss */
  body.skin-ly .site-header .navbar .profile-icon .profile-img {
    border-radius: 40px;
    height: 40px;
    width: 40px;
  }
}
/* line 396, ../sass/screen.scss */
body.skin-ly .site-header .navbar .profile-icon .fa-caret-down {
  float: right;
}
/* line 399, ../sass/screen.scss */
body.skin-ly .site-header .navbar .profile-icon .fa-caret-down:before {
  font-size: 18px;
}
/* line 405, ../sass/screen.scss */
body.skin-ly .site-header .navbar .profile-icon:hover .fa-caret-down:before {
  color: #FFF;
}
/* line 410, ../sass/screen.scss */
body.skin-ly .site-header .navbar .profile-icon .user-menu-holder {
  display: none;
  padding-top: 40px;
  position: absolute;
  right: -10px;
  top: 0px;
}
@media only screen and (min-width: 1300px) {
  /* line 410, ../sass/screen.scss */
  body.skin-ly .site-header .navbar .profile-icon .user-menu-holder {
    top: 20px;
  }
}
/* line 422, ../sass/screen.scss */
body.skin-ly .site-header .navbar .profile-icon .user-menu {
  background-color: #FFF;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  list-style: none;
  margin: 0;
  padding: 10px !important;
  position: relative;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0px;
}
/* line 433, ../sass/screen.scss */
body.skin-ly .site-header .navbar .profile-icon .user-menu:before {
  color: #FFF;
  content: "\f0d8";
  font-family: FontAwesome;
  position: absolute;
  font-size: 50px;
  right: 1px;
  top: -44px;
}
/* line 443, ../sass/screen.scss */
body.skin-ly .site-header .navbar .profile-icon .user-menu li {
  margin-bottom: 10px;
}
/* line 446, ../sass/screen.scss */
body.skin-ly .site-header .navbar .profile-icon .user-menu li a {
  background-color: #FFF;
  border-radius: 5px;
  color: #9E9E9E;
  display: block;
  line-height: 20px;
  padding: 5px;
}
/* line 454, ../sass/screen.scss */
body.skin-ly .site-header .navbar .profile-icon .user-menu li a:hover {
  background-color: #FF4C3D;
  color: #FFF;
}
@media only screen and (min-width: 600px) {
  /* line 446, ../sass/screen.scss */
  body.skin-ly .site-header .navbar .profile-icon .user-menu li a {
    min-width: 130px;
  }
}
/* line 464, ../sass/screen.scss */
body.skin-ly .site-header .navbar .profile-icon .user-menu li:last-child {
  margin-bottom: 0;
}
/* line 471, ../sass/screen.scss */
body.skin-ly .site-header .navbar .profile-icon:hover .user-menu-holder {
  display: block;
}
/* line 479, ../sass/screen.scss */
body.skin-ly .front-header {
  background-color: transparent;
  box-sizing: border-box;
  height: 80px;
  left: 0;
  margin: 0 auto;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 999;
}
@media only screen and (min-width: 780px) {
  /* line 479, ../sass/screen.scss */
  body.skin-ly .front-header {
    padding: 10px 40px;
  }
}
@media only screen and (min-width: 1500px) {
  /* line 479, ../sass/screen.scss */
  body.skin-ly .front-header {
    height: 150px;
    padding: 20px;
  }
}
/* line 502, ../sass/screen.scss */
body.skin-ly .front-header .logo {
  background: url("../../img/logo.png") center no-repeat;
  background-size: contain;
  display: block;
  float: left;
  height: 50px;
  width: 150px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media only screen and (min-width: 780px) {
  /* line 502, ../sass/screen.scss */
  body.skin-ly .front-header .logo {
    width: 210px;
  }
}
@media only screen and (min-width: 1500px) {
  /* line 502, ../sass/screen.scss */
  body.skin-ly .front-header .logo {
    width: 200px;
  }
}
/* line 522, ../sass/screen.scss */
body.skin-ly .front-header .logo img {
  width: 100%;
}
/* line 527, ../sass/screen.scss */
body.skin-ly .front-header .front-nav {
  float: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 534, ../sass/screen.scss */
body.skin-ly .front-header .front-nav .button:last-child {
  display: none;
  margin-left: 10px;
}
@media only screen and (min-width: 600px) {
  /* line 534, ../sass/screen.scss */
  body.skin-ly .front-header .front-nav .button:last-child {
    display: inline-block;
  }
}
/* line 546, ../sass/screen.scss */
body.skin-ly .main-sidebar {
  background-color: #202020;
  padding-top: 100px;
}
/* line 552, ../sass/screen.scss */
body.skin-ly .sidebar a {
  color: #9E9E9E;
}
/* line 555, ../sass/screen.scss */
body.skin-ly .sidebar a:hover {
  color: #FFFFFF;
}
/* line 561, ../sass/screen.scss */
body.skin-ly .sidebar .sidebar-menu .header {
  color: #FF4C3D;
}
/* line 567, ../sass/screen.scss */
body.skin-ly .user-panel > .info {
  color: #FFFFFF;
}
@media only screen and (min-width: 780px) {
  /* line 573, ../sass/screen.scss */
  body.skin-ly.sidebar-collapse .main-header .logo {
    width: 230px;
  }
}
/* line 581, ../sass/screen.scss */
body.skin-ly .dropzone {
  border: 0;
  min-height: 0;
}
/* line 585, ../sass/screen.scss */
body.skin-ly .dropzone#logo-uploader {
  background-color: #9E9E9E;
  border-radius: 140px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 12px;
  height: 140px;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 140px;
}
/* line 598, ../sass/screen.scss */
body.skin-ly .dropzone#logo-uploader .dz-message {
  line-height: 120px;
  margin: 0;
}
/* line 603, ../sass/screen.scss */
body.skin-ly .dropzone#logo-uploader .dz-preview {
  height: 140px;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 140px;
}
/* line 612, ../sass/screen.scss */
body.skin-ly .dropzone#logo-uploader .dz-image {
  border-radius: 140px;
  height: 140px;
  left: 0;
  position: absolute;
  top: 0;
  width: 140px;
}

/* line 625, ../sass/screen.scss */
.searchable-checklist .searchable-list {
  list-style: none;
  margin: 0;
  max-height: 180px;
  overflow-y: auto;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-padding-start: 0px;
}
/* line 635, ../sass/screen.scss */
.searchable-checklist .searchable-list li .input-group {
  width: 100%;
}
/* line 638, ../sass/screen.scss */
.searchable-checklist .searchable-list li .input-group span {
  border-right: 1px solid #d2d6de;
  border-top: 0;
  width: 44px;
}
/* line 644, ../sass/screen.scss */
.searchable-checklist .searchable-list li .input-group .searchable-info {
  border-bottom: 1px solid #d2d6de;
  border-right: 1px solid #d2d6de;
  box-sizing: border-box;
  float: left;
  line-height: 28px;
  overflow: hidden;
  padding: 0 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
/* line 656, ../sass/screen.scss */
.searchable-checklist .searchable-list li .input-group .searchable-info b {
  white-space: pre-wrap;
}
/* line 662, ../sass/screen.scss */
.searchable-checklist .searchable-list li.sl-cloneable {
  display: none !important;
}
/* line 668, ../sass/screen.scss */
.searchable-checklist .sl-new-holder {
  margin-top: 10px;
}
/* line 671, ../sass/screen.scss */
.searchable-checklist .sl-new-holder .input-group-addon {
  cursor: pointer;
}

/* line 678, ../sass/screen.scss */
.supplier-star-rating.editable .fa-star, .supplier-star-rating.editable .fa-star-o {
  cursor: pointer;
  font-size: 20px;
}

/* line 684, ../sass/screen.scss */
.supplier-logo {
  border-radius: 140px;
  margin-bottom: 10px;
}

/* line 689, ../sass/screen.scss */
.img-grid {
  transition: all 0.1s;
}
/* line 21, ../sass/_mixins.scss */
.img-grid:after {
  clear: both;
  content: '';
  display: table;
}
/* line 694, ../sass/screen.scss */
.img-grid * {
  transition: all 0.1s;
}
/* line 698, ../sass/screen.scss */
.img-grid .image-grid-btn {
  display: block;
  float: left;
  height: 140px;
  margin-bottom: 10px;
  margin-right: 10px;
  position: relative;
  width: 140px;
}
/* line 707, ../sass/screen.scss */
.img-grid .image-grid-btn .img-grid-ctrl {
  left: 0;
  margin: 0 auto;
  opacity: 0.4;
  position: absolute;
  right: 0;
  width: 70px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 718, ../sass/screen.scss */
.img-grid .image-grid-btn i {
  background-color: #000;
  border-radius: 20px;
  color: #FFF;
  cursor: pointer;
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
  opacity: 0.7;
  width: 30px;
}
/* line 730, ../sass/screen.scss */
.img-grid .image-grid-btn i:hover {
  opacity: 1;
}
/* line 734, ../sass/screen.scss */
.img-grid .image-grid-btn i.img-edit-details {
  margin-right: 10px;
}
/* line 740, ../sass/screen.scss */
.img-grid .image-grid-btn:hover .img-grid-ctrl {
  opacity: 1;
}
/* line 747, ../sass/screen.scss */
.img-grid.supplier-grid form {
  padding: 0;
}
/* line 21, ../sass/_mixins.scss */
.img-grid.supplier-grid form:after {
  clear: both;
  content: '';
  display: table;
}
/* line 752, ../sass/screen.scss */
.img-grid.supplier-grid form .dz-message {
  /* display: block !important;*/
}
/* line 758, ../sass/screen.scss */
.img-grid.supplier-grid .image-grid-btn .img-grid-ctrl {
  opacity: 0.4;
  width: 110px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 764, ../sass/screen.scss */
.img-grid.supplier-grid .image-grid-btn .img-grid-ctrl i.img-zoom {
  margin-right: 10px;
}

/* line 773, ../sass/screen.scss */
.wrapper.front-page .content-wrapper {
  background: url("../../img/home-bg.jpg") center no-repeat;
  background-size: cover;
  min-height: 100vh !important;
  position: relative;
}
@media only screen and (min-width: 780px) {
  /* line 773, ../sass/screen.scss */
  .wrapper.front-page .content-wrapper {
    background: transparent;
  }
}
/* line 784, ../sass/screen.scss */
.wrapper.front-page .content-wrapper:before {
  background-color: rgba(0, 0, 0, 0.3);
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
/* line 794, ../sass/screen.scss */
.wrapper.front-page .content-wrapper h1 {
  color: #FFF;
  margin-bottom: 20px;
}
/* line 799, ../sass/screen.scss */
.wrapper.front-page .content-wrapper p {
  color: #FFF;
}
/* line 802, ../sass/screen.scss */
.wrapper.front-page .content-wrapper p i {
  font-weight: 800;
}
/* line 807, ../sass/screen.scss */
.wrapper.front-page .content-wrapper .hp-timer {
  box-sizing: border-box;
  padding: 100px 20px 20px;
}
@media only screen and (min-width: 780px) {
  /* line 807, ../sass/screen.scss */
  .wrapper.front-page .content-wrapper .hp-timer {
    background: url("../../img/home-bg.jpg") left center no-repeat;
    background-size: auto 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    right: 0;
    width: 50%;
  }
  /* line 820, ../sass/screen.scss */
  .wrapper.front-page .content-wrapper .hp-timer:before {
    background-color: rgba(0, 0, 0, 0.4);
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}
/* line 832, ../sass/screen.scss */
.wrapper.front-page .content-wrapper .hp-timer .timer-pad {
  margin: 0 auto;
  max-width: 380px;
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 780px) {
  /* line 832, ../sass/screen.scss */
  .wrapper.front-page .content-wrapper .hp-timer .timer-pad {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media only screen and (min-width: 1300px) {
  /* line 832, ../sass/screen.scss */
  .wrapper.front-page .content-wrapper .hp-timer .timer-pad {
    max-width: 420px;
  }
}
@media only screen and (min-width: 1500px) {
  /* line 832, ../sass/screen.scss */
  .wrapper.front-page .content-wrapper .hp-timer .timer-pad {
    max-width: 540px;
  }
}
/* line 853, ../sass/screen.scss */
.wrapper.front-page .content-wrapper .hp-timer .timer-container {
  margin: 0 auto;
  max-width: 580px;
  padding-top: 5px;
  width: 100%;
}
/* line 21, ../sass/_mixins.scss */
.wrapper.front-page .content-wrapper .hp-timer .timer-container:after {
  clear: both;
  content: '';
  display: table;
}
@media only screen and (min-width: 780px) {
  /* line 853, ../sass/screen.scss */
  .wrapper.front-page .content-wrapper .hp-timer .timer-container {
    padding-top: 20px;
  }
}
@media only screen and (min-width: 1500px) {
  /* line 853, ../sass/screen.scss */
  .wrapper.front-page .content-wrapper .hp-timer .timer-container {
    max-width: 800px;
  }
}
/* line 871, ../sass/screen.scss */
.wrapper.front-page .content-wrapper .hp-timer .timer-container .timer-sect {
  background-color: #FFFFFF;
  border-radius: 10px;
  float: left;
  margin-right: 5%;
  position: relative;
  text-align: center;
  width: 30%;
}
/* line 880, ../sass/screen.scss */
.wrapper.front-page .content-wrapper .hp-timer .timer-container .timer-sect:before {
  content: '';
  display: block;
  padding-top: 100%;
}
/* line 886, ../sass/screen.scss */
.wrapper.front-page .content-wrapper .hp-timer .timer-container .timer-sect.last {
  margin-right: 0;
}
/* line 890, ../sass/screen.scss */
.wrapper.front-page .content-wrapper .hp-timer .timer-container .timer-sect h2, .wrapper.front-page .content-wrapper .hp-timer .timer-container .timer-sect p {
  margin: 0;
}
/* line 894, ../sass/screen.scss */
.wrapper.front-page .content-wrapper .hp-timer .timer-container .timer-sect h2 {
  color: #FF4C3D;
}
/* line 898, ../sass/screen.scss */
.wrapper.front-page .content-wrapper .hp-timer .timer-container .timer-sect p {
  color: #747474;
}
/* line 901, ../sass/screen.scss */
.wrapper.front-page .content-wrapper .hp-timer .timer-container .timer-sect p i {
  font-weight: 300;
}
/* line 906, ../sass/screen.scss */
.wrapper.front-page .content-wrapper .hp-timer .timer-container .timer-sect .timer-content {
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 915, ../sass/screen.scss */
.wrapper.front-page .content-wrapper .hp-timer .timer-container .timer-sect h2 {
  font-size: 48px;
}
@media only screen and (min-width: 600px) {
  /* line 915, ../sass/screen.scss */
  .wrapper.front-page .content-wrapper .hp-timer .timer-container .timer-sect h2 {
    font-size: 64px;
  }
}
@media only screen and (min-width: 780px) {
  /* line 915, ../sass/screen.scss */
  .wrapper.front-page .content-wrapper .hp-timer .timer-container .timer-sect h2 {
    font-size: 56px;
  }
}
@media only screen and (min-width: 1300px) {
  /* line 915, ../sass/screen.scss */
  .wrapper.front-page .content-wrapper .hp-timer .timer-container .timer-sect h2 {
    font-size: 62px;
  }
}
@media only screen and (min-width: 1500px) {
  /* line 915, ../sass/screen.scss */
  .wrapper.front-page .content-wrapper .hp-timer .timer-container .timer-sect h2 {
    font-size: 90px;
  }
}
/* line 938, ../sass/screen.scss */
.wrapper.front-page .content-wrapper .hp-timer .timer-container .timer-sect p {
  font-size: 12px;
}
@media only screen and (min-width: 1300px) {
  /* line 938, ../sass/screen.scss */
  .wrapper.front-page .content-wrapper .hp-timer .timer-container .timer-sect p {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1500px) {
  /* line 938, ../sass/screen.scss */
  .wrapper.front-page .content-wrapper .hp-timer .timer-container .timer-sect p {
    font-size: 18px;
  }
}
/* line 953, ../sass/screen.scss */
.wrapper.front-page .content-wrapper .hp-timer .timer-bottom {
  clear: both;
  margin: 0 auto;
  padding-top: 20px;
  width: 100%;
}
@media only screen and (min-width: 780px) {
  /* line 953, ../sass/screen.scss */
  .wrapper.front-page .content-wrapper .hp-timer .timer-bottom {
    padding-top: 60px;
  }
}
/* line 964, ../sass/screen.scss */
.wrapper.front-page .content-wrapper .hp-timer .timer-bottom .button {
  width: 100%;
}
/* line 967, ../sass/screen.scss */
.wrapper.front-page .content-wrapper .hp-timer .timer-bottom .button:last-child {
  margin-top: 10px;
}
@media only screen and (min-width: 780px) {
  /* line 964, ../sass/screen.scss */
  .wrapper.front-page .content-wrapper .hp-timer .timer-bottom .button {
    float: left;
    width: calc(50% - 5px);
  }
  /* line 975, ../sass/screen.scss */
  .wrapper.front-page .content-wrapper .hp-timer .timer-bottom .button:last-child {
    float: right;
    margin-top: 0;
  }
}

/* line 986, ../sass/screen.scss */
.go-right {
  left: auto;
  right: 0;
}

/* line 991, ../sass/screen.scss */
.order-totals {
  float: right;
  margin-top: -20px;
  width: 200px;
}

/* line 998, ../sass/screen.scss */
.order-totals ul, .order-user ul {
  list-style: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
/* line 1006, ../sass/screen.scss */
.order-totals ul li, .order-user ul li {
  line-height: 30px;
  padding-right: 5px;
}
/* line 1010, ../sass/screen.scss */
.order-totals ul li span, .order-user ul li span {
  box-sizing: border-box;
  display: inline-block;
  float: right;
  text-align: right;
}

/* line 1020, ../sass/screen.scss */
.page-loading-bar {
  background-color: #FFFFFF;
  display: none;
  height: 5px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999999;
}
/* line 1030, ../sass/screen.scss */
.page-loading-bar .the-bar {
  background-color: #4CAF50;
  height: 5px;
  left: 0;
  position: absolute;
  transition: width 0.2s ease;
  width: 0;
}
/* line 1038, ../sass/screen.scss */
.page-loading-bar .the-bar.quick {
  transition: none;
}

/* line 1046, ../sass/screen.scss */
#table-categories tr.sub {
  display: none;
}
/* line 1050, ../sass/screen.scss */
#table-categories tr.sub[data-level="2"] td:first-child {
  padding-left: 20px;
}
/* line 1056, ../sass/screen.scss */
#table-categories tr.sub[data-level="3"] td:first-child {
  padding-left: 40px;
}
/* line 1062, ../sass/screen.scss */
#table-categories tr.sub[data-level="4"] td:first-child {
  padding-left: 60px;
}
/* line 1068, ../sass/screen.scss */
#table-categories tr.sub[data-level="5"] td:first-child {
  padding-left: 80px;
}
/* line 1076, ../sass/screen.scss */
#table-categories tr.has-subs td:first-child:before {
  content: "\f078";
  font-family: FontAwesome;
}
