<div class="checkout-holder">
	<h1>Checkout</h1>
	<div class="checkout-content">
		<form class="card-holder">
			<div class="card-front">
				<div class="card-top">
					<div class="card-price">
						Paying: <span class="cart-t">&#8353;<b>{{total}}</b></span>
					</div>
					<div class="card-type">
						<div class="card-type-select">
							<i class="fa fa-credit-card"></i>
						</div>
					</div>
				</div>
				<div class="card-details">
					<div class="card-row form-group floatlabel">
						<input type="text" name="card-number" class="form-control verify-card-num"" id="f-card-number" placeholder="{{translate('FRONTEND.CHECKOUT.CARD_NUMBER')}}" />
						<label for="f-card-number">{{translate('FRONTEND.CHECKOUT.CARD_NUMBER')}}</label>
					</div>
					<div class="card-row form-group floatlabel">
						<input type="text" name="card-holder" class="form-control" id="f-card-holder" placeholder="{{translate('FRONTEND.CHECKOUT.CARDHOLDER')}}" />
						<label for="f-card-holder">{{translate('FRONTEND.CHECKOUT.CARDHOLDER')}}</label>
					</div>
					<div class="card-row bottom-row">
						<label>{{translate('FRONTEND.CHECKOUT.EXPIRY_DATE')}}</label>
						<select name="expiry-month">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
							<option>11</option>
							<option>12</option>
						</select>
						<select name="expiry-year">
							<option>2017</option>
							<option>2018</option>
							<option>2019</option>
							<option>2020</option>
							<option>2021</option>
							<option>2022</option>
							<option>2023</option>
							<option>2024</option>
						</select>
					</div>
				</div>
			</div>
			<div class="card-back">
				<div class="card-strip">
				</div>
				<div class="csv-holder form-group floatlabel">
					<input type="text" name="card-csv" placeholder="CCV/CSV" class="form-control" id="f-csv" />
					<label for="f-csv">CCV/CSV</label>
					<i class="fa fa-question-circle-o"></i>
				</div>
			</div>
			<div class="card-bottom">
				<a class="button btn-white btn-no-shadow btn-icon load-page" data-url="cart">
					<i class="fa fa-remove"></i> {{translate('FRONTEND.CANCEL')}}
				</a>
				<a class="button btn-green btn-no-shadow btn-icon process-order">
					<i class="fa fa-check"></i> {{translate('FRONTEND.CHECKOUT.PURCHASE')}}
				</a>
			</div>
		</form>
		<div class="cart-holder">
			{% if cart|length > 0 %}
			<ul class="cart-list">
			{% for i in cart %}
				{% include "pages/front/cart/item-checkout.html.twig" %}
			{% endfor %}
			</ul>
			{% endif %}
			<div class="cart-bottom">
				<ul class="cart-breakdown">
					<li>Subtotal: <span class="cart-st">&#8353;<b>{{subtotal}}</b></span></li>
					<li>Discount: <span class="cart-d"><b>{{discount}}</b>%</span></li>
					<li>Total tax: <span class="cart-tt">8% (&#8353;<b>{{tax}}</b>)</span></li>
					<li>Total: <span class="cart-t">&#8353;<b>{{total}}</b></span></li>
				</ul>
			</div>
		</div>
	</div>
</div>