<li class="cart-item checkout-item" data-id="{{i.id}}" data-product-id="{{i.product.id}}">
	<div class="listing-border"></div>
	<div class="cart-item-holder">
		<div class="cart-img" style="background-image:url({{site.uri.public}}{{i.product.getThumbnail(0, 145)}})">
		</div>
		<div class="cart-details">
			<h4>{{i.product.name}}</h4>
			<div class="cart-prices">
				<h3>&#8353;{{i.product.discount_price_formatted}}</h3>
				<h4>&#8353;{{i.product.price_formatted}}</h4>
			</div>
		</div>
		<div class="cart-buttons">
			<a class="customise-product">
				<i class="fa fa-gear"></i>
			</a>
			<a class="cart-remove">
				<i class="fa fa-trash-o"></i>
			</a>
		</div>
	</div>
</li>