<li class="cart-item" data-id="{{i.id}}" data-product-id="{{i.product.id}}" data-product-category="{{i.product.first_category}}" data-product-slug="{{i.product.url}}">
	<div class="listing-border"></div>
	<div class="cart-item-holder">
		<div class="cart-img" style="background-image:url({{site.uri.public}}{{i.product.getThumbnail(0, 145)}})">
		</div>
		<div class="cart-details">
			<h4>{{i.product.name}}</h4>
			<div class="cart-prices">
				<h3>&#8353;{{i.product.discount_price_formatted}}</h3>
				<h4>&#8353;{{i.product.price_formatted}}</h4>
			</div>
		</div>
		<div class="cart-supplier">
			{{ include("pages/front/partials/supplier_card.html.twig", {supplier: i.product.supplier}) }}
		</div>
		<div class="cart-controls">
			<a class="button btn-white btn-icon btn-no-shadow view-product btn-small-txt">
				<i class="fa fa-edit"></i> Product Info
			</a>
			<a class="button btn-white btn-icon btn-no-shadow cart-remove btn-small-txt">
				<i class="fa fa-trash-o"></i> Remove
			</a>
			{% if i.product.variants|length > 0 %}
			<div class="btn-form-holder">
				<a class="button btn-white btn-icon btn-no-shadow customise-product btn-small-txt">
					<i class="fa fa-gear"></i> Customise
				</a>
			</div>
			{% endif %}
			<div class="btn-form-holder">
				<a class="button btn-white btn-icon btn-no-shadow cart-quantity btn-small-txt">
					<i class="fa fa-shopping-cart"></i> Quantity
				</a>
				<div class="popup-form small-form">
					{% include "forms/front/cart/quantity.html.twig" %}
				</div>
			</div>
		</div>
	</div>
</li>