{% if cart|length > 0 %}
<ul class="cart-list">
{% for i in cart %}
	{% include "pages/front/cart/item.html.twig" %}
{% endfor %}
</ul>
{% endif %}
<div class="cart-bottom">
	<ul class="cart-breakdown">
		<li>Subtotal: <span class="cart-st">&#8353;<b>{{subtotal}}</b></span></li>
		<li>Discount: <span class="cart-d"><b>{{discount}}</b>%</span></li>
		<li>Total tax: <span class="cart-tt">8% (&#8353;<b>{{tax}}</b>)</span></li>
	</ul>
	<div class="cart-total">
		<h3>Total: <span class="cart-t">&#8353;<b>{{total}}</b></span></h3>
	</div>
	<div class="cart-buttons">
		<a class="button btn-white btn-icon load-page btn-no-shadow" data-url=""><i class="fa fa-angle-right"></i>Continue Shopping</a>
		<a class="button btn-green btn-icon btn-no-shadow load-page" data-url="checkout"><i class="fa fa-shopping-cart"></i>Checkout</a>
	</div>
</div>