{% extends "modals/front/side.html.twig" %}

{% block modal_title %}howitworks{% endblock %}

{% block modal_body %}
    <div class="ly-how-it-works">
    	<i class="fa fa-close side-link" data-popup="signup"></i>
    	<div class="ly-step">
    		<div class="step-img step-1"></div>
    		<p>{{translate('FRONTEND.HOW_IT_WORKS.STEP_1')}}</p>
    	</div>
    	<div class="ly-step">
    		<div class="step-img step-2"></div>
    		<p>{{translate('FRONTEND.HOW_IT_WORKS.STEP_2')}}</p>
    	</div>
    	<div class="ly-step">
    		<div class="step-img step-3"></div>
    		<p>{{translate('FRONTEND.HOW_IT_WORKS.STEP_3')}}</p>
    	</div>
    </div>
{% endblock %}
