<div class="supplier-card">
	<div class="supplier-img" style="background-image:url({{site.uri.public}}{{supplier.getLogo(50,50)}})"></div>
	<div class="supplier-info">
		<p>{{supplier.name}}</p>
		<div class="supplier-icons">
			<a href="#">
				<i class="fa fa-heart-o"></i>
			</a>
			<a href="#">
				<i class="fa fa-bookmark-o"></i>
			</a>
			<a href="#">
				<i class="fa fa-mobile"></i>
			</a>
		</div>
	</div>
</div>